
@{
    ViewData["Title"] = "租借滿意度調查";
    Layout = "~/Views/Shared/_ViewBindLine.cshtml";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-11">
            <section id="app" class="card" v-cloak>
                <h1 class="card-header h3 text-center">租借滿意度調查</h1>
                <div class="card-body">
                    <p class="alert alert-success text-center"
                       :hidden="!hasSubmitted || submitFailed">
                        送出成功，感謝您寶貴的意見
                    </p>
                    <p class="alert alert-danger text-center"
                       @*:show="!isProcessing && hasSubmitted && submitFailed"*@
                       :hidden="isProcessing || !hasSubmitted || !submitFailed">送出失敗，請再試一次</p>
                    <p class="alert alert-info text-center"
                       :hidden="!isLoading">謮取中……請稍候</p>
                    <p class="alert alert-danger text-center"
                       :hidden="isLoading || tokenValid">連結已過期</p>
                    @*<form>*@
                    <form :hidden="isLoading || !tokenValid">
                        <div class="form-group">
                            <label for="satisfactionScore">滿意度</label>
                            <select class="form-control"
                                   name="satisfactionScore"
                                   id="satisfactionScore"
                                   type="text"
                                   v-model="questionnaireInfo.satisfactionScore">
                                <option v-for="n in 5" :value="6 - n">{{6 - n}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="feedback">意見回饋</label>
                            <textarea class="form-control"
                                      name="feedback"
                                      id="feedback"
                                      v-model="questionnaireInfo.feedback"> </textarea>

                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary btn-block"
                                    type="submit"
                                    :disabled="!canSubmit"
                                    @@click="submitForm($event)">
                                送出
                            </button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>

<script>
    let app = new Vue({
        el: "#app",
        data() {
            return {
                questionnaireInfo: {
                    satisfactionScore: "",
                    feedback: "",
                    token: ""
                },
                isLoading: true,
                isProcessing: false,
                tokenValid: false,
                hasSubmitted: false,
                submitFailed: false,
            }
        },
        created() {

            let params = new URLSearchParams(window.location.search);

            let tokenParam = new URLSearchParams({
                "token": params.get("token")
            });
            fetch("/api/questionnaire/validatetoken", {
                method: "POST",
                body: tokenParam
            })
                .then(r => {
                    this.isLoading = false;

                    if (r.ok) {
                        this.tokenValid = true;
                        this.questionnaireInfo.token = params.get("token");
                    }
                    else {
                        console.log("not ok")
                    }
                })
        },
        methods: {
            async submitForm(e) {
                // 不要真的 submit
                e.preventDefault();

                this.isProcessing = true;
                this.hasSubmitted = true;

                let response = await fetch("/api/questionnaire/post", {
                    method: "POST",
                    body: new URLSearchParams(this.questionnaireInfo)
                }).catch(err => {
                    console.log(err);
                    this.submitFailed = true;
                });

                if (!response.ok) {
                    console.log("送出失敗");
                    this.submitFailed = true;
                }
                else {
                    this.submitFailed = false;
                }

                console.log("送出成功");
                this.isProcessing = false;
            }
        },
        computed: {
            canSubmit() {
                return this.questionnaireInfo.satisfactionScore > 0 &&
                    this.questionnaireInfo.satisfactionScore <= 5 &&
                    !this.isProcessing &&
                    (!this.hasSubmitted || this.submitFailed);
                
            }
        }
    });
</script>