<head>
    <link href="~/css/Questionnaire.css" rel="stylesheet" />
</head>

<body>
    <div id="app">
        <div class="title">設備租借滿意度問卷</div>
        <form action="#" method="post">
            <div class="question">
                <div>
                    <span>問題一：</span>
                    <div>
                        <span><input type="radio" name="question1" value="" />非常滿意</span>
                        <span><input type="radio" name="question1" value="" />滿意</span>
                        <span><input type="radio" name="question1" value="" />普通</span>
                        <span><input type="radio" name="question1" value="" />不滿意</span>
                        <span><input type="radio" name="question1" value="" />非常不滿意</span>
                    </div>
                </div>
                <br />
                <div>
                    <span>問題二：</span>
                    <div>
                        <span><input type="radio" name="question2" value="" />非常滿意</span>
                        <span><input type="radio" name="question2" value="" />滿意</span>
                        <span><input type="radio" name="question2" value="" />普通</span>
                        <span><input type="radio" name="question2" value="" />不滿意</span>
                        <span><input type="radio" name="question2" value="" />非常不滿意</span>
                    </div>
                </div>
                <br />
                <div>
                    <span>問題三：</span>
                    <div>
                        <span><input type="radio" name="question3" value="" />非常滿意</span>
                        <span><input type="radio" name="question3" value="" />滿意</span>
                        <span><input type="radio" name="question3" value="" />普通</span>
                        <span><input type="radio" name="question3" value="" />不滿意</span>
                        <span><input type="radio" name="question3" value="" />非常不滿意</span>
                    </div>
                </div>
                <br />
                <div>
                    <span>問題四：</span>
                    <div>
                        <span><input type="radio" name="question4" value="" />非常滿意</span>
                        <span><input type="radio" name="question4" value="" />滿意</span>
                        <span><input type="radio" name="question4" value="" />普通</span>
                        <span><input type="radio" name="question4" value="" />不滿意</span>
                        <span><input type="radio" name="question4" value="" />非常不滿意</span>
                    </div>
                </div>
                <br />
                <div>
                    <span>問題五：</span>
                    <div>
                        <span><input type="radio" name="question5" value="" />非常滿意</span>
                        <span><input type="radio" name="question5" value="" />滿意</span>
                        <span><input type="radio" name="question5" value="" />普通</span>
                        <span><input type="radio" name="question5" value="" />不滿意</span>
                        <span><input type="radio" name="question5" value="" />非常不滿意</span>
                    </div>
                </div>
                <br />
                <div>
                    <span>問題六：</span>
                    <div>
                        <span><input type="radio" name="question6" value="" />非常滿意</span>
                        <span><input type="radio" name="question6" value="" />滿意</span>
                        <span><input type="radio" name="question6" value="" />普通</span>
                        <span><input type="radio" name="question6" value="" />不滿意</span>
                        <span><input type="radio" name="question6" value="" />非常不滿意</span>
                    </div>
                </div>
                <br />
                <div>
                    <span>問題七：</span>
                    <div class="radio">
                        <span><input type="radio" name="question7" value="" />非常滿意</span>
                        <span><input type="radio" name="question7" value="" />滿意</span>
                        <span><input type="radio" name="question7" value="" />普通</span>
                        <span><input type="radio" name="question7" value="" />不滿意</span>
                        <span><input type="radio" name="question7" value="" />非常不滿意</span>
                    </div>
                </div>
            </div>
            <div class="SatisfactionScore">
                <span>評分：</span>
                <select name="SatisfactionScore" class="select">
                    <option disabled selected hidden>滿分5分</option>
                    <option>5</option>
                    <option>4</option>
                    <option>3</option>
                    <option>2</option>
                    <option>1</option>
                </select>
            </div>
            <br />
            <div class="Feedback">
                <span>回饋：</span>
                <br />
                <textarea name="Feedback" class="textarea" placeholder="請輸入內容"></textarea>
            </div>
            <br />
            <br />
            <div class="button">
                <input type="submit" value="送出" />
            </div>
        </form>
    </div>
</body>

<script>
    var app = new Vue({
        el: '#app',
        data: {

        },

        methods: {

        },

    })
</script>