<div id="order">
    <div>
        <div>
            <label>設備種類</label>
            <select>
                <option>請先選擇種類</option>
            </select>
        </div>

        <div>
            <label>設備名稱  </label>
            <select>
                <option>請選擇名稱</option>
            </select>
        </div>

        <div>
            <button type="button">查詢</button>
        </div>
    </div>

</div>
