<div>
    <div id="order">
        <div>
            <label>設備種類</label>
            <select v-on:change="onCategoryChange($event)">
                <option disabled selected>請先選擇種類</option>
                <option v-for="cname in category" :value="cname.equipCategoryId">{{cname.categoryName}}</option>
            </select>
        </div>

        <div>
            <label>設備名稱</label>
            <select>
                <option disabled selected>請選擇名稱</option>
                <option v-for="ename in equips" :value="ename">{{ename}}</option>
            </select>
        </div>

        <div>
            <label>租借數量</label>
            <button v-on:click="btnMinus()">-</button>
            <input type="text" value="0" size="1" v-model="count" />
            <button v-on:click="btnAdd()">+</button>
        </div>
    </div>

    <label>選取日期</label>
    <div class="col-md-5" id="sandbox-container">
        <div class="input-daterange input-group" id="datepicker">
            <input tyep="text" class="input-sm form-control" name="start" />
            <span class="input-group-addon">to</span>
            <input type="text" class="input-sm form-control" name="end" />
        </div>
    </div>

    <br />
    <div>
        <button type="button">送出</button>
    </div>


</div>

<script>
    var order = new Vue({
        el: '#order',
        data: {
            equips: {},
            category: {},
            count: 0

        },

        beforeCreate: function () {
            fetch('/equipapi/GetCates', { method: 'GET' })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    }
                })
                .then(response => {
                    this.category = response;
                });

        },

        methods: {
            onCategoryChange: function (id) {
                fetch('/equipapi/GetEquipNamesByCatesId/' + id.target.value, { method: 'GET' })
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        }
                    })
                    .then(response => {
                        this.equips = response;
                    })

            },
            btnMinus: function (count) {
                if (this.count <= 1) {
                    alert('請輸入正確數量')
                } else {
                    this.count--
                }
            },
            btnAdd: function (count) {
                this.count++
            }
        }


    })

</script>

<script>
    $('#sandbox-container .input-daterange').datepicker({
        language: "zh-CN"
    });

</script>
