<link type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
<link type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<script src="https://unpkg.com/vue"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

<div id="app">
    <b-card>
        <b-tabs content-class="mt-3" fill>
            <!-- 未付款 -->
            <b-tab title="待付款" active>
                <div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th><input aria-label="Checkbox" type="checkbox" v-model="selectAll" @@click="selectAllAction($event)"><i class="form-icon"></i></th>
                                <th>訂單序號</th>
                                <th>設備序號</th>
                                <th>設備名稱</th>
                                <th>數量</th>
                                <th>租借天數</th>
                                <th>下單時間</th>
                                <th>總金額</th>
                                <th>付款期限</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="od in unPaidOd">
                                <td><input aria-label="Checkbox" type="checkbox" v-model="selected" :value="od"><i class="form-icon"></i></td>
                                <td>{{od.orderSn}}</td>
                                <td>{{od.equipmentSn}}</td>
                                <td>{{od.equipmentName}}</td>
                                <td>{{od.quantity}}</td>
                                <td>{{od.day}}</td>
                                <td>{{od.orderTime | timeString('YYYY-MM-DD')}}</td>
                                <td>{{od.unitPrice * od.day * od.quantity}}</td>
                                <td>{{od.estimatedPickupTime | timeString('YYYY-MM-DD')}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <b-btn variant="danger"
                           @@click="confirmAmount"
                           :disabled="noItemSelected"
                           data-toggle="modal"
                           data-target="#confirmAmountModal">結帳 (總金額: {{countTotalPrice}})</b-btn>
                </div>
            </b-tab>

            <!-- 額外費用 -->
            <b-tab title="額外費用">
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>結帳</th>
                                <th>訂單序號</th>
                                <th>設備序號</th>
                                <th>設備名稱</th>
                                <th>數量</th>
                                <th>下單時間</th>
                                <th>額外費用</th>
                                <th>繳費明細</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template v-for="od in extraFeeOds">
                                <tr v-if="od.totalExtraFee !== 0">
                                    <td><input aria-label="Checkbox" type="checkbox" v-model="selected" :value="od.paymentId" @@click="selectExtraFeeOd(od.paymentId)"><i class="form-icon"></i></td>
                                    <td>{{od.orderSn}}</td>
                                    <td>{{od.equipmentSn}}</td>
                                    <td>{{od.equipmentName}}</td>
                                    <td>{{od.quantity}}</td>
                                    <td>{{od.orderTime | timeString('YYYY-MM-DD')}}</td>
                                    <td>{{od.totalExtraFee}}</td>
                                    <td><i class="bi bi-justify-left" @@click="paymentDetailCheck(od.orderSn)" style="font-size: 20px;"></i></td>
                                </tr>
                                <tr v-if="paymentDetail.includes(od.orderSn)">
                                    <td colspan="7" class="p-3 mb-2 bg-light text-dark">
                                        <table bgcolor="#E8E8E8">
                                            <tr>
                                                <td>費用名稱</td>
                                                <td>費用金額</td>
                                                <td>費用明細</td>
                                                <td>繳費日期</td>
                                            </tr>
                                            <tr>
                                                <td>租金</td>
                                                <td>{{od.price}}</td>
                                                <td>--</td>
                                                <td>{{od.rentalFee_payTime| timeString('YYYY-MM-DD')}}</td>
                                            </tr>
                                            <template v-for="extraFee in od.extraFees">
                                                <tr v-if="extraFee.fee !==0">
                                                    <td>罰金</td>
                                                    <td>{{extraFee.fee}}</td>
                                                    <td>{{extraFee.itemSn}}{{extraFee.description}}</td>
                                                    <td>尚未繳納</td>
                                                </tr>
                                            </template>
                                        </table>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                    <b-btn variant="danger"
                           :disabled="noItemSelected"
                           data-toggle="modal"
                           data-target="#confirmExtraFeeModal">結帳 (總金額: {{countExtraFeePrice}})</b-btn><span v-if="notify==true"><br><a style="color:red">  **因為同一批租借,額外金額必須一起付費</a></span>
                </div>
            </b-tab>

            <!-- 已結清 -->
            <b-tab title="已結清">
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>訂單序號</th>
                                <th>設備序號</th>
                                <th>設備名稱</th>
                                <th>數量</th>
                                <th>下單時間</th>
                                <th>總金額</th>
                                <th>繳費明細</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template v-for="od in finishOds">
                                <tr>
                                    <td>{{od.orderSn}}</td>
                                    <td>{{od.equipmentSn}}</td>
                                    <td>{{od.equipmentName}}</td>
                                    <td>{{od.quantity}}</td>
                                    <td>{{od.orderTime | timeString('YYYY-MM-DD')}}</td>
                                    <td>{{od.totalExtraFee + od.price}}</td>
                                    <td><i class="bi bi-justify-left" @@click="paymentDetailCheck(od.orderSn)" style="font-size: 20px;"></i></td>
                                </tr>
                                <tr v-if="paymentDetail.includes(od.orderSn)">
                                    <td colspan="7" class="p-3 mb-2 bg-light text-dark">
                                        <table bgcolor="#E8E8E8">
                                            <tr>
                                                <td>費用名稱</td>
                                                <td>費用金額</td>
                                                <td>費用明細</td>
                                                <td>繳費日期</td>
                                            </tr>
                                            <tr>
                                                <td>租金</td>
                                                <td>{{od.price}}</td>
                                                <td>--</td>
                                                <td>{{od.rentalFee_payTime| timeString('YYYY-MM-DD')}}</td>
                                            </tr>
                                            <template v-for="extraFee in od.extraFees">
                                                <tr v-if="extraFee.fee !==0">
                                                    <td>罰金</td>
                                                    <td>{{extraFee.fee}}</td>
                                                    <td>物品序號:{{extraFee.itemSn}}({{extraFee.description}})</td>
                                                    <td>{{od.extraFee_payTime| timeString('YYYY-MM-DD')}}</td>
                                                </tr>
                                            </template>
                                        </table>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
            </b-tab>
        </b-tabs>
    </b-card>

    <!--確認金額Modal-->
    <div class="modal fade" id="confirmAmountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">確認金額</h5>
                </div>
                <form method="post" action="https://ccore.newebpay.com/MPG/mpg_gateway">
                    <div class="modal-body">
                        @* 這四個值要送給藍星，但不用顯示給 User 看 *@
                        <input type="text"
                               name="MerchantID"
                               :value="mpgInfo.merchantID"
                               hidden
                               readonly
                               required />
                        <input type="text"
                               name="TradeInfo"
                               :value="mpgInfo.tradeInfo"
                               hidden
                               readonly
                               required />
                        <input type="text"
                               name="TradeSha"
                               :value="mpgInfo.tradeSha"
                               hidden
                               readonly
                               required />
                        <input type="text"
                               name="Version"
                               :value="mpgInfo.version"
                               hidden
                               readonly
                               required />
                        <div class="form-group">
                            <label>請確認應付金額是否正確</label>
                            @* 顯示用的 Input，這個值不會送給藍新，故不給 name*@
                            <input type="number"
                                   class="form-control"
                                   :value="mpgInfo.totalPrice"
                                   readonly />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal"
                                @@click="clearMpgInfo">
                            返回
                        </button>
                        <button type="submit"
                                class="btn btn-primary"
                                :disabled="isLoadingTradeInfo">
                            確定
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--額外金額結帳Modal-->
   
    <div class="modal fade" id="confirmAmountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">確認金額</h5>
                </div>
                <form method="post" action="https://ccore.newebpay.com/MPG/mpg_gateway">
                    <div class="modal-body">
                        @* 這四個值要送給藍星，但不用顯示給 User 看 *@
                        <input type="text"
                               name="MerchantID"
                               :value="mpgInfo.merchantID"
                               hidden
                               readonly
                               required />
                        <input type="text"
                               name="TradeInfo"
                               :value="mpgInfo.tradeInfo"
                               hidden
                               readonly
                               required />
                        <input type="text"
                               name="TradeSha"
                               :value="mpgInfo.tradeSha"
                               hidden
                               readonly
                               required />
                        <input type="text"
                               name="Version"
                               :value="mpgInfo.version"
                               hidden
                               readonly
                               required />
                        <div class="form-group">
                            <label>請確認應付金額是否正確</label>
                            @* 顯示用的 Input，這個值不會送給藍新，故不給 name*@
                            <input type="number"
                                   class="form-control"
                                   :value="mpgInfo.totalPrice"
                                   readonly />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal"
                                @@click="clearMpgInfo">
                            返回
                        </button>
                        <button type="submit"
                                class="btn btn-primary"
                                :disabled="isLoadingTradeInfo">
                            確定
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    Vue.filter('timeString', function (value, myFormat) {
        return moment(value).format(myFormat || 'YYYY-MM-DD, HH:mm:ss');
    });
    var app = new Vue({

        el: '#app',
        data: {
            orders:[],
            unPaidOd:[],
            paidOd: [],
            paymentDetail: [],
            selectAll: false,
            selected: [],
            mpgInfo: {
                merchantID: "",
                tradeInfo: "",
                tradeSha: "",
                version: "",
                totalPrice: 0
            },
            paymentRawData:[
              
                {
                    paymentId: "e157a191-dbb8-49ee-a0d0-71e77a4145e4",
                    paymentSn: "2F4B1155FABT",
                    rentalFee: 600,
                    extraFee: 70,
                    received: 600,
                    outstandingBalance: 70,
                    orders: [
                        {
                            orderId: "ff57d9b4-c2ce-4088-9dad-73196a2a37b7",
                            orderSn: 1,
                            quantity: 2,
                            orderTime: "2021-07-29T08:32:28.77",
                            equipmentSn: "SN16",
                            equipmentName: "掃把",
                            brand: "Brand9",
                            model: "Brand9",
                            price: 200,
                            extraFees: [
                                {
                                    itemSn: "",
                                    orderDetailSn: "",
                                    fee: 0,
                                    description: ""
                                }
                            ],
                            statusName: "已成立"
                        },

                        {
                            orderId: "ff57d9b4-c2ce-4088-9dad-73196a2a37b8",
                            orderSn: 2,
                            quantity: 2,
                            orderTime: "2021-07-29T08:32:28.77",
                            equipmentSn: "SN16",
                            equipmentName: "掃把",
                            brand: "Brand9",
                            model: "Brand9",
                            price: 200,
                            extraFees: [
                                {
                                    itemSn: "SN88",
                                    orderDetailSn: "1",
                                    fee: 30,
                                    description: "逾期"
                                }
                            ],
                            statusName: "已成立"
                        },
                        {
                            orderId: "ff57d9b4-c2ce-4088-9dad-73196a2a37b3",
                            orderSn: 6,
                            quantity: 2,
                            orderTime: "2021-07-29T08:32:28.77",
                            equipmentSn: "SN16",
                            equipmentName: "掃把",
                            brand: "Brand9",
                            model: "Brand9",
                            price: 200,
                            extraFees: [
                                {
                                    itemSn: "SN77",
                                    orderDetailSn: "3",
                                    fee: 40,
                                    description: "逾期"
                                }
                            ],
                            statusName: "已成立"
                        }
                    ],
                    paymentDetails: [
                        {
                            paymentDetailId: "bae925e1-eb29-49c2-8e76-2fcff1921e98",
                            paymentDetailSn: "000012107290847422",
                            amountPaid: 600,
                            payTime: "2021-07-06T16:47:54"
                        }
                    ],
                    completed: false
                },
                {
                    paymentId: "e157a191-dbb8-49ee-a0d0-71e77a4145e3",
                    paymentSn: "2F4B1155FABD",
                    rentalFee: 600,
                    extraFee: 120,
                    received: 720,
                    outstandingBalance: 0,
                    orders: [
                        {
                            orderId: "ff57d9b4-c2ce-4088-9dad-73196a2a37b1",
                            orderSn: 3,
                            quantity: 2,
                            orderTime: "2021-07-29T08:32:28.77",
                            equipmentSn: "SN16",
                            equipmentName: "掃把",
                            brand: "Brand9",
                            model: "Brand9",
                            price: 200,
                            extraFees: [
                                {
                                    itemSn: "",
                                    orderDetailSn: "",
                                    fee: 0,
                                    description: ""
                                }
                            ],
                            statusName: "已成立"
                        },

                        {
                            orderId: "ff57d9b4-c2ce-4088-9dad-73196a2a37b2",
                            orderSn: 4,
                            quantity: 2,
                            orderTime: "2021-07-29T08:32:28.77",
                            equipmentSn: "SN16",
                            equipmentName: "掃把",
                            brand: "Brand9",
                            model: "Brand9",
                            price: 200,
                            extraFees: [
                                {
                                    itemSn: "SN88",
                                    orderDetailSn: "1",
                                    fee: 30,
                                    description: "逾期"
                                }
                            ],
                            statusName: "已成立"
                        },
                        {
                            orderId: "ff57d9b4-c2ce-4088-9dad-73196a2a37b3",
                            orderSn: 5,
                            quantity: 2,
                            orderTime: "2021-07-29T08:32:28.77",
                            equipmentSn: "SN16",
                            equipmentName: "掃把",
                            brand: "Brand9",
                            model: "Brand9",
                            price: 200,
                            extraFees: [
                                {
                                    "itemSn": "SN89",
                                    "orderDetailSn": "2",
                                    "fee": 40,
                                    "description": "遺失"
                                },
                                {
                                    "itemSn": "SN90",
                                    "orderDetailSn": "3",
                                    "fee": 50,
                                    "description": "毀損"
                                }
                            ],
                            statusName: "已成立"
                        }
                    ],
                    paymentDetails: [
                        {
                            paymentDetailId: "bae925e1-eb29-49c2-8e76-2fcff1921e99",
                            paymentDetailSn: "000012107290847421",
                            amountPaid: 600,
                            payTime: "2021-07-01T16:47:54"
                        },

                        {
                            paymentDetailId: "bae925e1-eb29-49c2-8e76-2fcff1921e99",
                            paymentDetailSn: "900012107290847421",
                            amountPaid: 120,
                            payTime: "2021-07-02T16:47:54"
                        }
                    ],
                    completed: true
                },
                {
                    paymentId: "e157a191-dbb8-49ee-a0d0-71e77a4145e2",
                    paymentSn: "2F4B1155FABD",
                    rentalFee: 200,
                    extraFee: 60,
                    received: 200,
                    outstandingBalance: 60,
                    orders: [
                        {
                            orderId: "ff57d9b4-c2ce-4088-9dad-73196a2a37b5",
                            orderSn: 7,
                            quantity: 2,
                            orderTime: "2021-07-29T08:32:28.77",
                            equipmentSn: "SN16",
                            equipmentName: "掃把",
                            brand: "Brand9",
                            model: "Brand9",
                            price: 200,
                            extraFees: [
                                {
                                    itemSn: "SN66",
                                    orderDetailSn: "4",
                                    fee: 60,
                                    description: "破壞"
                                }
                            ],
                            statusName: "已成立"
                        }
                    ],
                    paymentDetails: [
                        {
                            paymentDetailId: "cae925e1-eb29-49c2-8e76-2fcff1921e99",
                            paymentDetailSn: "000012107290847421",
                            amountPaid: 200,
                            payTime: "2021-07-07T16:47:54"
                        }
                    ],
                    completed: false
                }
            ],
            extraFeeOds: [],
            finishOds: [],
            payTimes: [],
            notify:false

        },

        created() {

            //跟GetOrders API要待付款資料
            let url = '/OrderApi/GetOrders';
            let request = {
                method: "GET",
                headers: { "content-type": "application/json" }
            };
            fetch(url, request)
                .then(response => {
                    if (response.ok) {
                        console.log("資料庫連線成功");
                        return response.json();

                    } else {
                        console.log("資料擷取失敗");
                    }
                }).then(response => {

                    this.orders = response;

                    this.unPaidOd = this.orders.filter(od => od.tabName === "待付款");
                    console.log(this.unPaidOd);

                }).catch(error => {
                    alert("資料庫連線失敗");
                    console.log(error);
                })

            //分配剛送來的payment資料
            this.paymentRawData.forEach(x => {
                if (x.completed) {
                    for (let i = 0; i < x.orders.length; i++) {
                        this.finishOds.push(x.orders[i]);
                    }
                    

                } else {
                    for (let i = 0; i < x.orders.length; i++) {
                        this.extraFeeOds.push(x.orders[i]);
                    }
                }
            })

            //幫extraFeeOds撈paymentId, payTime, totalExtraFee資料
            this.extraFeeOds.forEach(od => {
                let index = this.paymentRawData.findIndex(element => element.orders.includes(od))
                od["paymentId"] = this.paymentRawData[index].paymentId
                this.paymentRawData[index].paymentDetails.forEach(pd => {
                    if (pd.paymentDetailSn.substring(0, 1) == 0) {
                        od["rentalFee_payTime"] = pd.payTime
                    } else {
                        od["extraFee_payTime"] = pd.payTime
                    }
                })
                var totalExtraFeeArr = []
                od.extraFees.forEach(e => {
                    totalExtraFeeArr.push(e.fee);
                })
                var reducer = (accumulator, currentValue) => accumulator + currentValue;
                od["totalExtraFee"] = totalExtraFeeArr.reduce(reducer);
            })

            /*幫finishOds撈paymentId, payTime, totalExtraFee資料*/
            this.finishOds.forEach(od => {
                let index = this.paymentRawData.findIndex(element => element.orders.includes(od))
                od["paymentId"] = this.paymentRawData[index].paymentId
                this.paymentRawData[index].paymentDetails.forEach(pd => {
                    if (pd.paymentDetailSn.substring(0, 1) == 0) {
                        od["rentalFee_payTime"] = pd.payTime
                    } else {
                        od["extraFee_payTime"] = pd.payTime
                    }
                })
                var totalExtraFeeArr = []
                od.extraFees.forEach(e => {
                    totalExtraFeeArr.push(e.fee);
                })
                var reducer = (accumulator, currentValue) => accumulator + currentValue;
                od["totalExtraFee"] = totalExtraFeeArr.reduce(reducer);
            })

            //踢掉finishedOds裡面extrafee為0的order
            this.extraFeeOds.forEach(od => {
                if (od.totalExtraFee === 0) {
                    let index = this.extraFeeOds.indexOf(od);
                    this.finishOds.push(this.extraFeeOds[index]);
                    this.extraFeeOds.splice(index, 1);
                }
            })

            
        },

        methods: {

             paymentDetailCheck: function (paymentSn) {
                        let index = this.paymentDetail.indexOf(paymentSn);
                        if (index > -1) {
                            this.paymentDetail.splice(index, 1)
                        } else {
                            this.paymentDetail = []
                            this.paymentDetail.push(paymentSn)
                        }
             },

             selectAllAction: function () {
                        this.selected = [];
                        if (!this.selectAll) {
                            for (let i = 0; i < this.unPaidOd.length; i++) {
                                this.selected.push(this.unPaidOd[i]);
                            }

                        }
             },

             confirmAmount: async function () {
                let requestData = []
                this.selected.forEach(order => {
                    requestData.push(order.orderId)
                });

                let response = await fetch("/api/payment", {
                    method: "POST",
                    headers: {
                        "content-type": "application/json"
                    },
                    body: JSON.stringify(requestData)
                })

                if (!response.ok) {
                    alert("付款資料讀取失敗");
                    return;
                }

                this.mpgInfo = await response.json()
            },

            clearMpgInfo: function () {
                let info = this.mpgInfo;
                info.merchantId = "";
                info.tradeInfo = "";
                info.tradeSha = "";
                info.version = "";
            },

            selectExtraFeeOd(paymentId) {
                this.selected = []
                this.selected.push(paymentId)
            }

        },

        computed: {
            countTotalPrice() {
                var cashTotalPrice = 0
                var totalPrice = [0]
                this.selected.forEach(od => {

                    var orderPrice = od.unitPrice * od.quantity * od.day;
                    totalPrice.push(orderPrice);
                })

                var reducer = (accumulator, currentValue) => accumulator + currentValue;
                return cashTotalPrice = totalPrice.reduce(reducer);

            },

            isLoadingTradeInfo() {
                return this.mpgInfo.merchantID === "" ||
                    this.mpgInfo.tradeInfo === "" ||
                    this.mpgInfo.tradeSha === "" ||
                    this.mpgInfo.version === "";
            },

            noItemSelected() {
                return this.selected.length <= 0;
            },

           
            countExtraFeePrice() {

                var cashExtraFee = 0;
                var countTotalFee = [0];
                var selectOd = []
                selectOd = this.extraFeeOds.filter(x => x.paymentId == this.selected)
                if (selectOd.length > 1) {

                    this.notify = true;
                } else {

                    this.notify = false;
                }
                selectOd.forEach(od => {

                    countTotalFee.push(od.totalExtraFee)
                })
                var reducer = (accumulator, currentValue) => accumulator + currentValue;
                return cashExtraFee = countTotalFee.reduce(reducer);

            }
        }

    })

</script> 