<link type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
<link type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<script src="https://unpkg.com/vue"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>


<div id="app">
    <div v-if="loading"><span id="loading_wrap"><img src="~/image/loading Gif.gif"></span></div>
    <div v-if="loading==false">
        <b-card>
            <b-tabs v-model="tabIndex" content-class="mt-3" fill>
                <!-- 未付款 -->
                <b-tab :title="tab1_title" active>
                    <div>
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th style="width:100px"><input aria-label="Checkbox" type="checkbox" v-model="selectAll" @@click="selectAllAction($event)"><i class="form-icon"></i></th>
                                    <th style="width:200px">訂單序號</th>
                                    <th style="width:200px">設備序號</th>
                                    <th style="width:200px">設備名稱</th>
                                    <th style="width:200px">數量</th>
                                    <th style="width:200px">租借天數</th>
                                    <th style="width:200px">下單時間</th>
                                    <th style="width:200px">總金額</th>
                                    <th style="width:200px">付款期限</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="od in unPaidOd">
                                    <td><input aria-label="Checkbox" type="checkbox" v-model="selected" :value="od"><i class="form-icon"></i></td>
                                    <td>{{od.orderSn}}</td>
                                    <td>{{od.equipmentSn}}</td>
                                    <td>{{od.equipmentName}}</td>
                                    <td>{{od.quantity}}</td>
                                    <td>{{od.day}}</td>
                                    <td>{{od.orderTime | timeString('YYYY-MM-DD')}}</td>
                                    <td>{{od.unitPrice * od.day * od.quantity}}</td>
                                    <td>{{od.estimatedPickupTime | timeString('YYYY-MM-DD')}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <b-btn variant="danger"
                               @@click="confirmAmount"
                               :disabled="noItemSelected"
                               data-toggle="modal"
                               data-target="#confirmAmountModal">結帳 (總金額: {{countTotalPrice}})</b-btn>
                    </div>
                </b-tab>

                <!-- 額外費用 -->
                <b-tab :title="tab2_title" @@click="loadExtraFeeOds">
                    <div>
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th style="width:100px">結帳</th>
                                    <th style="width:200px">訂單序號</th>
                                    <th style="width:200px">設備序號</th>
                                    <th style="width:200px">設備名稱</th>
                                    <th style="width:200px">租借數量</th>
                                    <th style="width:200px">下單時間</th>
                                    <th style="width:200px">額外費用</th>
                                    <th style="width:200px">繳費明細</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-for="od in extraFeeOds">

                                    <tr v-if="od.totalExtraFee !== 0">
                                        <td><input aria-label="Checkbox" type="checkbox" v-model="selected" :value="od.paymentId" @@click="selectExtraFeeOd(od.paymentId)"><i class="form-icon"></i></td>
                                        <td>{{od.orderSn}}</td>
                                        <td>{{od.equipmentSn}}</td>
                                        <td>{{od.equipmentName}}</td>
                                        <td>{{od.quantity}}</td>
                                        <td>{{od.orderTime | timeString('YYYY-MM-DD')}}</td>
                                        <td>{{od.totalExtraFee}}</td>
                                        <td><i class="bi bi-justify-left" @@click="paymentDetailCheck(od)" style="font-size: 20px;"></i></td>
                                    </tr>
                                    <tr v-if="paymentDetail.includes(od)">
                                        <td colspan="8" class="p-3 mb-2 bg-light text-dark">
                                            <table width="100%" align="center" bgcolor="#E8E8E8">
                                                <tr>
                                                    <td style="font-weight:bold;">費用名稱</td>
                                                    <td style="font-weight:bold;">費用金額</td>
                                                    <td style="font-weight:bold;">費用明細</td>
                                                    <td style="font-weight:bold;">繳費日期</td>
                                                </tr>
                                                <tr>
                                                    <td>租金</td>
                                                    <td>{{od.price}}</td>
                                                    <td>--</td>
                                                    <td>{{od.rentalFee_payTime| timeString('YYYY-MM-DD')}}</td>
                                                </tr>
                                                <template v-for="extraFee in od.extraFees">
                                                    <tr v-if="extraFee.fee !==0">
                                                        <td>罰金</td>
                                                        <td>{{extraFee.fee}}</td>
                                                        <td>{{extraFee.itemSn}}{{extraFee.description}}</td>
                                                        <td>尚未繳納</td>
                                                    </tr>
                                                </template>
                                            </table>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                        <b-btn variant="danger"
                               @@click="confirmAmount"
                               :disabled="noItemSelected"
                               data-toggle="modal"
                               data-target="#confirmAmountModal"
                               >結帳 (總金額: {{countExtraFeePrice}})</b-btn><span v-if="notify==true"><br><a style="color:red">  **因為同一批租借,額外金額必須一起付費</a></span>
                    </div>
                </b-tab>

                <!-- 已結清 -->
                <b-tab :title="tab3_title" @@click="loadfinishOds">
                    <div>
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th style="width:200px">訂單序號</th>
                                    <th style="width:200px">設備序號</th>
                                    <th style="width:200px">設備名稱</th>
                                    <th style="width:200px">租借數量</th>
                                    <th style="width:200px">下單時間</th>
                                    <th style="width:200px">總金額</th>
                                    <th style="width:200px">繳費明細</th>
                                </tr>
                            </thead>
                            <tbody >
                                <template v-for="od in finishOds">
                                    <tr>
                                        <td>{{od.orderSn}}</td>
                                        <td>{{od.equipmentSn}}</td>
                                        <td>{{od.equipmentName}}</td>
                                        <td>{{od.quantity}}</td>
                                        <td>{{od.orderTime | timeString('YYYY-MM-DD')}}</td>
                                        <td>{{od.totalExtraFee + od.price}}</td>
                                        <td><i class="bi bi-justify-left" @@click="paymentDetailCheck(od)" style="font-size: 20px;"></i></td>
                                    </tr>
                                    <tr v-if="paymentDetail.includes(od)">
                                        <td colspan="7" class="p-3 mb-2 bg-light text-dark">
                                            <table width="100%" align="center" bgcolor="#E8E8E8">
                                                <tr>
                                                    <td style="font-weight:bold;">費用名稱</td>
                                                    <td style="font-weight:bold;">費用金額</td>
                                                    <td style="font-weight:bold;">費用明細</td>
                                                    <td style="font-weight:bold;">繳費日期</td>
                                                </tr>
                                                <tr>
                                                    <td>租金</td>
                                                    <td>{{od.price}}</td>
                                                    <td>--</td>
                                                    <td>{{od.rentalFee_payTime| timeString('YYYY-MM-DD')}}</td>
                                                </tr>
                                                <template v-for="extraFee in od.extraFees">
                                                    <tr v-if="extraFee.fee !==0">
                                                        <td>罰金</td>
                                                        <td>{{extraFee.fee}}</td>
                                                        <td>物品序號:{{extraFee.itemSn}}({{extraFee.description}})</td>
                                                        <td>{{od.extraFee_payTime| timeString('YYYY-MM-DD')}}</td>
                                                    </tr>
                                                </template>
                                            </table>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                </b-tab>
            </b-tabs>
        </b-card>
    </div>

    <!--確認金額Modal-->
    <div class="modal fade" id="confirmAmountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">確認金額</h5>
                </div>
                <form method="post" action="https://ccore.newebpay.com/MPG/mpg_gateway">
                    <div class="modal-body">
                        @* 這四個值要送給藍星，但不用顯示給 User 看 *@
                        <input type="text"
                               name="MerchantID"
                               :value="mpgInfo.merchantID"
                               hidden
                               readonly
                               required />
                        <input type="text"
                               name="TradeInfo"
                               :value="mpgInfo.tradeInfo"
                               hidden
                               readonly
                               required />
                        <input type="text"
                               name="TradeSha"
                               :value="mpgInfo.tradeSha"
                               hidden
                               readonly
                               required />
                        <input type="text"
                               name="Version"
                               :value="mpgInfo.version"
                               hidden
                               readonly
                               required />
                        <div class="form-group">
                            <label>請確認應付金額是否正確</label>
                            @* 顯示用的 Input，這個值不會送給藍新，故不給 name*@
                            <input type="number"
                                   class="form-control"
                                   :value="mpgInfo.totalPrice"
                                   readonly />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal"
                                @@click="clearMpgInfo">
                            返回
                        </button>
                        <button type="submit"
                                class="btn btn-primary"
                                :disabled="isLoadingTradeInfo">
                            確定
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--額外金額結帳Modal-->

    <div class="modal fade" id="confirmAmountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">確認金額</h5>
                </div>
                <form method="post" action="https://ccore.newebpay.com/MPG/mpg_gateway">
                    <div class="modal-body">
                        @* 這四個值要送給藍星，但不用顯示給 User 看 *@
                        <input type="text"
                               name="MerchantID"
                               :value="mpgInfo.merchantID"
                               hidden
                               readonly
                               required />
                        <input type="text"
                               name="TradeInfo"
                               :value="mpgInfo.tradeInfo"
                               hidden
                               readonly
                               required />
                        <input type="text"
                               name="TradeSha"
                               :value="mpgInfo.tradeSha"
                               hidden
                               readonly
                               required />
                        <input type="text"
                               name="Version"
                               :value="mpgInfo.version"
                               hidden
                               readonly
                               required />
                        <div class="form-group">
                            <label>請確認應付金額是否正確</label>
                            @* 顯示用的 Input，這個值不會送給藍新，故不給 name*@
                            <input type="number"
                                   class="form-control"
                                   :value="mpgInfo.totalPrice"
                                   readonly />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal"
                                @@click="closeModal">
                            取消
                        </button>
                        <button type="submit"
                                class="btn btn-primary"
                                :disabled="isLoadingTradeInfo">
                            確定
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>

<script>
    Vue.filter('timeString', function (value, myFormat) {
        return moment(value).format(myFormat || 'YYYY-MM-DD, HH:mm:ss');
    });
    var app = new Vue({

        el: '#app',
        data: {
            orders: [],
            unPaidOd: [],
            paidOd: [],
            paymentDetail: [],
            selectAll: false,
            selected: [],
            mpgInfo: {
                merchantID: "",
                tradeInfo: "",
                tradeSha: "",
                version: "",
                totalPrice: 0
            },
            paymentRawData: [],
            extraFeeOds: [],
            finishOds: [],
            payTimes: [],
            notify: false,
            tabIndex: 0,
            requestData: {},
            loading: true,
            extraFee_tab: false,
            finishOd_tab: false,
            loadPaymentModal:false

        },

        watch: {
            // call again the method if the route changes
            $route: 'arrangePaymentData',
            $route2:'confirmAmount'
        },


        created: async function () {

            //跟GetOrders API要待付款資料
            this.fetchOrderData();
            //跟Payment API要額外金額&已結清資料
            this.fetchPaymentData();


        },

        methods: {

            fetchOrderData: function () {


                let order_url = '/OrderApi/GetOrders?noPending=true&noReady=true&noOnGoing=true&noClosed=true&noOverdue=true';
                let order_request = {
                    method: "GET",
                    headers: { "content-type": "application/json" }
                    
                };
                fetch(order_url, order_request)
                    .then(response => {
                        if (response.ok) {
                            console.log("資料庫連線成功");
                            return response.json();

                        } else {
                            this.loading = false
                            alert("資料擷取失敗");
                        }
                    }).then(response => {

                        this.unPaidOd = response;
                        /*this.unPaidOd = this.orders.filter(od => od.tabName === "待付款");*/

                    }).catch(error => {
                        this.loading = false
                        alert("資料庫連線失敗");
                    })


            },

            fetchPaymentData: function () {
                this.loading = true
                let payment_url = '/api/payment';
                let payment_request = {
                    method: "GET",
                    headers: { "content-type": "application/json" }
                };
                fetch(payment_url, payment_request)
                    .then(response => {
                        if (response.ok) {
                            console.log("資料庫連線成功");
                            
                            return response.json();

                        } else {
                            this.loading = false
                            alert("資料擷取失敗");
                        }
                        
                    }).then(response => {
                        this.paymentRawData = response;
                        this.arrangePaymentData(this.paymentRawData);
                        this.loading = false

                    }).catch(error => {
                        this.loading = false
                        alert("資料庫連線失敗");
                        console.log(error);
                    })
                
                
                 
            },

            arrangePaymentData: async function () {

                await this.paymentRawData.forEach(x => {
                    if (x.completed) {
                        for (let i = 0; i < x.orders.length; i++) {
                            this.finishOds.push(x.orders[i]);
                        }
                    } else {

                        for (let i = 0; i < x.orders.length; i++) {
                            this.extraFeeOds.push(x.orders[i]);
                        }
                    }
                })

                var move_orders = this.extraFeeOds.filter(od => od.extraFees.length == 0)
                await move_orders.forEach(od => { this.finishOds.push(od); })
                this.extraFeeOds = await this.extraFeeOds.filter(od => od.extraFees.length !== 0)

            },

            loadExtraFeeOds: async function () {

                if (!this.extraFee_tab) {

                    //幫extraFeeOds撈paymentId, payTime, totalExtraFee資料
                    await this.extraFeeOds.forEach(od => {
                        let index = this.paymentRawData.findIndex(element => element.orders.includes(od))
                        od["paymentId"] = this.paymentRawData[index].paymentId
                        this.paymentRawData[index].paymentDetails.forEach(pd => {
                            if (pd.paymentDetailSn.substring(0, 1) == 0) {
                                od["rentalFee_payTime"] = pd.payTime
                            } else {
                                od["extraFee_payTime"] = pd.payTime
                            }
                        })
                        var totalExtraFeeArr = [0]
                        od.extraFees.forEach(e => {
                            totalExtraFeeArr.push(e.fee);
                        })
                        var reducer = (accumulator, currentValue) => accumulator + currentValue;
                        od["totalExtraFee"] = totalExtraFeeArr.reduce(reducer);

                    })

                    this.extraFee_tab = true;

                }


            },

            loadfinishOds: async function () {

                if (!this.finishOd_tab) {

                    /*幫finishOds撈paymentId, payTime, totalExtraFee資料*/
                    await this.finishOds.forEach(od => {
                        let index = this.paymentRawData.findIndex(element => element.orders.includes(od))
                        od["paymentId"] = this.paymentRawData[index].paymentId
                        this.paymentRawData[index].paymentDetails.forEach(pd => {
                            if (pd.paymentDetailSn.substring(0, 1) == 0) {
                                od["rentalFee_payTime"] = pd.payTime
                            } else {
                                od["extraFee_payTime"] = pd.payTime
                            }
                        })
                        var totalExtraFeeArr = [0]
                        od.extraFees.forEach(e => {
                            totalExtraFeeArr.push(e.fee);
                        })
                        var reducer = (accumulator, currentValue) => accumulator + currentValue;
                        od["totalExtraFee"] = totalExtraFeeArr.reduce(reducer);
                        this.finishOd_tab = true;
                    })

                }

            },

            paymentDetailCheck: function (order) {
                let index = this.paymentDetail.indexOf(order)
                if (index > -1) {

                    this.paymentDetail.splice(index, 1)

                } else {
                    this.paymentDetail = []
                    this.paymentDetail.push(order)
                }
            },

            selectAllAction: function () {
                this.selected = [];
                if (!this.selectAll) {
                    for (let i = 0; i < this.unPaidOd.length; i++) {
                        this.selected.push(this.unPaidOd[i]);
                    }

                }
            },

            confirmAmount: async function () {


                this.clearMpgInfo;
                this.requestData = {};
                if (this.tabIndex == 0) {

                    this.requestData = {
                        isRentalFee: true,
                        orderIDs: []
                    }
                    this.selected.forEach(order => {
                        this.requestData.orderIDs.push(order.orderId);
                    })
                } else if (this.tabIndex == 1) {

                    this.requestData = {
                        isRentalFee: false,
                        paymentID: ""
                    };
                    this.selected.forEach(paymentId => {
                        this.requestData.paymentID = paymentId
                    })
                } else {

                    console.log(error);

                }


                let response = await fetch("/api/payment", {
                    method: "POST",
                    headers: {
                        "content-type": "application/json"
                    },
                    body: JSON.stringify(this.requestData)
                })

                if (!response.ok) {
                    alert("付款資料讀取失敗");
                    return;
                }

                this.mpgInfo = await response.json();
               

            },

            clearMpgInfo: function () {

                this.mpgInfo.merchantId = "";
                this.mpgInfo.tradeInfo = "";
                this.mpgInfo.tradeSha = "";
                this.mpgInfo.version = "";
                this.mpgInfo.totalPrice = 0
            },

            selectExtraFeeOd: function (paymentId) {
                this.selected = []
                this.selected.push(paymentId)
            },

            closeModal: function () {

                this.clearMpgInfo();

            }
        },

        computed: {

            countTotalPrice:function () {
                var cashTotalPrice = 0
                var totalPrice = [0]
                this.selected.forEach(od => {

                    var orderPrice = od.unitPrice * od.quantity * od.day;
                    totalPrice.push(orderPrice);
                })

                var reducer = (accumulator, currentValue) => accumulator + currentValue;
                return cashTotalPrice = totalPrice.reduce(reducer);

            },

            isLoadingTradeInfo() {
                return this.mpgInfo.merchantID === "" ||
                    this.mpgInfo.tradeInfo === "" ||
                    this.mpgInfo.tradeSha === "" ||
                    this.mpgInfo.version === "";
            },

            noItemSelected() {
                return this.selected.length <= 0;
            },


            countExtraFeePrice() {

                var cashExtraFee = 0;
                var countTotalFee = [0];
                var selectOd = []
                selectOd = this.extraFeeOds.filter(x => x.paymentId == this.selected)
                if (selectOd.length > 1) {

                    this.notify = true;
                } else {

                    this.notify = false;
                }
                selectOd.forEach(od => {

                    countTotalFee.push(od.totalExtraFee)
                })
                var reducer = (accumulator, currentValue) => accumulator + currentValue;
                return cashExtraFee = countTotalFee.reduce(reducer);

            },

            tab1_title() {

                let tab1 = "待付款"
                return tab1 +" "+"(" + this.unPaidOd.length.toString() + ")"
            },

            tab2_title() {

                let tab2 = "額外費用"
                return tab2 + " " +"(" + this.extraFeeOds.length.toString() + ")"


            },

            tab3_title() {

                let tab3 = "已結清"
                return tab3 + " " +"(" + this.finishOds.length.toString() + ")"


            }

            




        }

    })

</script> 

<style>
    #loading_wrap {
        width: 10px;
        height: 10px;
        position: absolute;
        top: 300px;
        left:650px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .table-responsive {
        max-height: 350px;
        width: 100%;
    }
</style>