<div id="addEquip">
    <div class="card">
        <div class="card-header">種類新增</div>
        <div class="card-body">

            <div class="row">
      
                <div class="form-group col-md-2">
                    <label>種類名稱</label>
                    <input type="text" class="form-control" v-model="addNewCateName" />
                </div>

            </div>
            <button class="btn btn-primary" v-on:click="addNewEquip">新增</button>

        </div>
    </div>
    <br />
    <br />
    <div class="card">
        <div class="card-header">種類名稱管理</div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">種類名稱</th>
                    <th scope="col">刪除</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="cname in currentCateName">
                    <td>{{cname.categoryName}}</td>
                    <td><button class="btn btn-primary">刪除</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    let addEquip = new Vue({
        el: '#addEquip',
        data: {
            currentCateName: {},
            addNewCateName: ""
        },

        beforeCreate: function() {
                fetch('/EquipCategoryApi/GetCates', { method: 'GET' })
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        }
                    })
                    .then(response => {
                        this.currentCateName = response;
                    });

            
        },

        methods: {

            addNewEquip: function () {
                console.log("按下按鈕");
                let url = "https://localhost:5001/EquipCategoryApi/InsertCate?Name=" + this.addNewCateName;
                let request = {
                    method: "POST"
                };
                
                fetch(url, request)
                    .then(r => {
                        if (r.ok) {
                            this.reload();
                            alert("新增成功");
                            return r.json();//To be deleted

                        }
                        else {
                            alert("新增失敗");
                        }
                    })
                    .then(r => {
                        console.log(r);
                    })
                    .catch(error => {
                        alert("新增失敗");
                    })
            },

            reload: function () {
                fetch('/EquipCategoryApi/GetCates', { method: 'GET' })
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        }
                    })
                    .then(response => {
                        this.currentCateName = response;
                    });




            }


        }
    })

</script>