
<div class="card">
    <div class="card-header">設備新增</div>
    <div class="card-body">

        <div id="addEquip" class="row">
            <div class="form-group col-md-2">
                <label>設備種類</label>
                <br />
                <select class="btn btn-light dropdown-toggle" v-on:change="onCategoryChange($event)">
                    <option disabled selected>請先選擇種類</option>
                    <option v-for="cname in category" :value="cname.equipCategoryId">{{cname.categoryName}}</option>
                </select>
            </div>


            <div class="form-group col-md-2">
                <label>設備名稱</label>
                <input type="text" class="form-control" v-model="addEquipName" />
            </div>


            <div class="form-group col-md-2">
                <label>設備序號</label>
                <input type="text" class="form-control" v-model="addEquipSN" />
            </div>

            <div class="form-group col-md-2">
                <label>設備品牌</label>
                <input type="text" class="form-control" v-model="addEquipBrand" />
            </div>

            <div class="form-group col-md-2">
                <label>設備型號</label>
                <input type="text" class="form-control" v-model="addEquipModel" />
            </div>

        </div>
        <button href="#" class="btn btn-primary">新增</button>


    </div>
</div>

<br />
<br />
<div class="card">
    <div class="card-header">待新增設備清單</div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">設備名稱</th>
                <th scope="col">設備序號</th>
                <th scope="col">設備品牌</th>
                <th scope="col">設備型號</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>test</td>
                <td>Otto</td>
                <td>mdo</td>
                <td><button class="btn btn-primary">修改</button></td>
            </tr>
        </tbody>
    </table>
</div>




<script>
    let addEquip = new Vue({
        el: '#addEquip',
        data: {
            category: {},
            equipCategoryId: "",
            addEquipName: "",
            addEquipSN: "",
            addEquipBrand: "",
            addEquipModel: ""
        },

        beforeCreate: function () {
            fetch('/EquipCategoryApi/GetCates', { method: 'GET' })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    }
                })
                .then(response => {
                    this.category = response;
                });

        },

        methods: {
            onCategoryChange: function (data) {
                this.equipCategoryId = data.target.value;

            }


        }
    })




</script>



