
<div id="app">
    <div class="d-flex justify-content-around">
        <div>
            <label>設備種類  </label>
            <select class="btn btn-light dropdown-toggle" v-on:change="onCategoryChange($event)">
                <option disabled selected>請先選擇種類</option>
                <option v-for="cname in category" :value="cname.equipCategoryId">{{cname.categoryName}}</option>
            </select>
        </div>

        <div>
            <label>設備名稱  </label>
            <select class="btn btn-light dropdown-toggle" v-on:change="onEquipNameChange($event)">
                <option disabled selected>請選擇名稱</option>
                <option v-for="ename in equips" :value="ename">{{ename}}</option>
            </select>
        </div>
        
        <div>
            <button type="button" class="btn btn-outline-primary" v-on:click="btnQry">查詢 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M14.53 15.59a8.25 8.25 0 111.06-1.06l5.69 5.69a.75.75 0 11-1.06 1.06l-5.69-5.69zM2.5 9.25a6.75 6.75 0 1111.74 4.547.746.746 0 00-.443.442A6.75 6.75 0 012.5 9.25z"></path></svg></button>
        </div>
    </div>    
        
        
    
</div>
<br />
    <fieldset class="form-group border" id="view" v-if="equips.length !==0">
        <legend class="w-auto">設備資料查詢結果 筆數:{{equips.length}}</legend>
        <table class="table table-hover">
            <thead class="badge-secondary">
                <tr>
                    <td>設備名稱</td>
                    <td>品牌</td>
                    <td>型號</td>
                    <td>單價</td>
                    <td>可租借數量</td>
                    <td>描述</td>
                    <td>租借</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="equip in equips">
                    <td>{{equip.equipmentName}}</td>
                    <td>{{equip.brand}}</td>
                    <td>{{equip.model}}</td>
                    <td>{{equip.unitPrice}}</td>
                    <td>{{equip.quantityInStock}}</td>
                    <td>{{equip.description}}</td>
                    <td><a href="此為租借連結"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M15.5 2.25a.75.75 0 01.75-.75h5.5a.75.75 0 01.75.75v5.5a.75.75 0 01-1.5 0V4.06l-6.22 6.22a.75.75 0 11-1.06-1.06L19.94 3h-3.69a.75.75 0 01-.75-.75z"></path><path d="M2.5 4.25c0-.966.784-1.75 1.75-1.75h8.5a.75.75 0 010 1.5h-8.5a.25.25 0 00-.25.25v15.5c0 .138.112.25.25.25h15.5a.25.25 0 00.25-.25v-8.5a.75.75 0 011.5 0v8.5a1.75 1.75 0 01-1.75 1.75H4.25a1.75 1.75 0 01-1.75-1.75V4.25z"></path></svg></a></td>
                </tr>
            </tbody>
        </table>
    </fieldset>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                equips: {},
                category: {},
                selectName: '',
                selectVal: ''
            },

            beforeCreate: function () {
                fetch('/equipapi/GetCates', { method: 'GET' })
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        }
                    })
                    .then(response => {
                        this.category = response;
                    });

            },
            methods: {
                onCategoryChange: function (data) {
                    fetch('/equipapi/GetEquipNamesByCatesId/' + data.target.value, { method: 'GET' })
                        .then(response => {
                            if (response.ok) {
                                return response.json();
                            }
                        })
                        .then(response => {
                            this.equips = response;
                        })
                },
                onEquipNameChange: function (e) {
                    // 可以抓到選到的option的value，而不是text
                    this.selectVal = e.target.value;
                    /*console.log(this.selectVal);*/
                },
                btnQry: function () {
                    console.log(this.selectName);
                    let url = '/EquipApi/GetEquipByEquipName/' + this.selectVal;
                    
                    let request = {
                        method: 'GET',
                        headers: { 'content-type': 'application/json' }
                    }
                    fetch(url, request)
                        .then(response => {
                            if (response.ok) {
                                return response.json();
                            }
                            return response.text();
                        })
                        .then(response => {
                            if (typeof (response) == typeof ("")) {
                                //顯示錯誤
                                alert("請選擇篩選條件!");
                                view.equips = '';
                                return;
                            }
                            view.equips = response;
                        })
                }

            }
        })
        var view = new Vue({
            el: '#view',
            data: {
                equips: ''
            }
        })
    </script>
