@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @if(ViewData["Title"] == "Home")
    {
        <title>Tibame Rental Service</title>
    }
    else
    {
        <title>@ViewData["Title"] - Tibame Rental Service</title>
    }
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

    <style>
        .footer-container {
            display: grid;
        }

            .footer-container p {
                justify-self: center;
                margin: 0;
                line-height: 2rem;
            }
    </style>


</head>
<body>
    <header id="topBar">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 justify-content-around">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/image/rentc.png" width="30" height="30" />  Tibame Rental Service
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    @if (User.Identity.IsAuthenticated)
                    {

                        <ul class="navbar-nav">
                            @if (User.IsInRole("admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Dashboard" asp-action="Dashboard">儀表板</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Equips" asp-action="EquipQry">設備</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Order" asp-action="OrderQry">訂單</a>
                            </li>
                            @if (User.IsInRole("user"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Payment" asp-action="PaymentResultView">付款</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="User" asp-action="UserManagement">帳號</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="User" asp-action="UserManagement">會員</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Admin" asp-action="AdminManagement">管理員</a>
                                </li>

                            }

                            @*<li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        訂單管理
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" asp-controller="Order" asp-action="OrderQry">訂單管理</a>
                                    </div>
                                </li>*@
                        </ul>


                    }

                    <span class="navbar-text mx-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <span><img src="/image/account_circle_white_24dp.svg" width="25" height="25" />&ensp;@User.Identity.Name</span>
                        }
                    </span>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav">
                            @if (User.HasClaim(ClaimTypes.Role, "user"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="User" asp-action="Logout">
                                        登出&ensp;<img src="/image/logout_white_24dp.svg" width="25" height="25" />
                                    </a>
                                </li>
                            }
                            else if (User.HasClaim(ClaimTypes.Role, "admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Admin" asp-action="Logout">
                                        登出&ensp;<img src="/image/logout_white_24dp.svg" width="25" height="25" />
                                    </a>
                                </li>
                            }
                        </ul>
                    }
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="User" asp-action="Login">
                                    使用者登入&ensp;<img src="/image/login_white_24dp.svg" width="25" height="25" />
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Admin" asp-action="Login">
                                    管理員登入&ensp;<img src="/image/login_white_24dp.svg" width="25" height="25" />
                                </a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="padding-right: 5px; padding-left: 0px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted bg-dark responsive">
        <div class="container">
            <div class="footer-container">
                <p>
                    &copy; 2021 - InventoryManagementSystem
                </p>

                <p>
                    Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                </p>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
