<!DOCTYPE html>
<html style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="INTUITIVE, Online Testing Platform">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Home</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <link rel="stylesheet" href="/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="/css/Home.css" media="screen">
    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 3.19.1, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    


    @*<script type="application/ld+json">        {
                "@context": "http://schema.org",
                "@type": "Organization",
                "name": "",
                "sameAs": [
                        "Home.html",
                        "36583591#carousel_534d",
                        "36583591#carousel_fc9e"
                ]
        }</script>*@
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
    <style>
        body{
            margin: 0;
        }
    </style>
</head>
<body class="u-body u-overlap">
    <header class="u-header u-sticky" id="sec-01da" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-align-left u-social-icons u-spacing-30 u-social-icons-1">
                <a class="u-social-url" title="Home" asp-controller="Equips" asp-action="EquipQry">
                    <span class="u-icon u-icon-circle u-social-facebook u-social-icon u-icon-1">
                        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 128 128" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-40fb"></use></svg><svg class="u-svg-content" viewBox="0 0 128 128" id="svg-40fb">
                            <g id="Circle_Grid">
                                <circle cx="64" cy="64" fill="#f6c863" r="64"></circle>
                            </g>
                            <g id="icon">
                                <path d="m30.914 54.345 13.009-5.071v-15.86h-13.009z" fill="#eeefee"></path>
                                <path d="m31.156 51.894 32.844-21.099 32.844 21.099v47.472h-65.688z" fill="#eeefee"></path>
                                <g fill="#ef5261">
                                    <rect height="6.892" rx=".844" transform="matrix(-1 0 0 -1 128 198.732)" width="74.338" x="26.831" y="95.92"></rect>
                                    <path d="m26.762 61.1 36.732-27.486a.843.843 0 0 1 1.012 0l36.732 27.486a.844.844 0 0 0 1.2-.19l2.912-4.139a.843.843 0 0 0 -.186-1.162l-40.664-30.255a.846.846 0 0 0 -1.008 0l-40.652 30.252a.843.843 0 0 0 -.186 1.162l2.912 4.139a.844.844 0 0 0 1.196.193z"></path>
                                    <rect height="4.325" rx=".677" transform="matrix(-1 0 0 -1 74.837 64.824)" width="15.824" x="29.506" y="30.249"></rect>
                                </g>
                                <path d="m52.645 67.333h22.71v28.587h-22.71z" fill="#575b6d"></path>
                            </g>
                        </svg>
                    </span>
                </a>
                <a class="u-social-url" title="About" href="Home.html#carousel_534d" data-page-id="36583591">
                    <span class="u-icon u-icon-circle u-social-icon u-social-twitter u-icon-2">
                        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-001f"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-001f" style="enable-background:new 0 0 512 512;">
                            <circle style="fill:#F08E6B;" cx="256" cy="256" r="246.154"></circle>
                            <circle style="fill:#FFB270;" cx="256" cy="256" r="196.923"></circle>
                            <g>
                                <circle style="fill:#FFFFFF;" cx="246.154" cy="142.769" r="29.538"></circle>
                                <path style="fill:#FFFFFF;" d="M303.589,359.385h-8.205v-49.231v-59.077v-9.846v-14.441c0-13.776-11.168-24.943-24.943-24.943   h-43.98h-21.334c-9.969,0-18.051,8.082-18.051,18.051l0,0c0,11.783,9.551,21.334,21.334,21.334h18.051v118.154v14.441   c0,13.776,11.168,24.943,24.943,24.943h43.98h11.487c9.969,0,18.051-8.082,18.051-18.051l0,0   C324.923,368.935,315.372,359.385,303.589,359.385z"></path>
                            </g>
                            <path d="M256,512c-68.38,0-132.667-26.629-181.02-74.98S0,324.381,0,256S26.629,123.333,74.98,74.98S187.62,0,256,0  s132.667,26.629,181.02,74.98S512,187.619,512,256s-26.629,132.667-74.98,181.02S324.38,512,256,512z M256,19.692  C125.699,19.692,19.692,125.7,19.692,256S125.699,492.308,256,492.308S492.308,386.3,492.308,256S386.301,19.692,256,19.692z"></path>
                            <path d="M256,462.769c-114.013,0-206.769-92.757-206.769-206.769S141.987,49.231,256,49.231S462.769,141.987,462.769,256  S370.013,462.769,256,462.769z M256,68.923C152.845,68.923,68.923,152.845,68.923,256S152.845,443.077,256,443.077  S443.077,359.154,443.077,256S359.155,68.923,256,68.923z"></path>
                            <path d="M246.154,182.154c-21.717,0-39.385-17.668-39.385-39.385s17.668-39.385,39.385-39.385s39.385,17.668,39.385,39.385  S267.871,182.154,246.154,182.154z M246.154,123.077c-10.858,0-19.692,8.834-19.692,19.692s8.834,19.692,19.692,19.692  c10.858,0,19.692-8.834,19.692-19.692S257.012,123.077,246.154,123.077z"></path>
                            <path d="M295.385,290.462c-2.59,0-5.13-1.054-6.961-2.885c-1.831-1.831-2.885-4.372-2.885-6.961s1.053-5.13,2.885-6.961  c1.831-1.831,4.372-2.885,6.961-2.885s5.13,1.054,6.96,2.885c1.831,1.831,2.886,4.372,2.886,6.961s-1.054,5.13-2.886,6.961  C300.514,289.408,297.974,290.462,295.385,290.462z"></path>
                            <path d="M306.872,408.615h-55.467c-19.182,0-34.789-15.607-34.789-34.789V251.077h-8.205c-17.192,0-31.18-13.987-31.18-31.18  c0-15.383,12.514-27.897,27.897-27.897h65.313c19.182,0,34.789,15.607,34.789,34.789v24.288c0,5.438-4.409,9.846-9.846,9.846  s-9.846-4.408-9.846-9.846v-24.287c0-8.325-6.772-15.097-15.097-15.097h-65.313c-4.524,0-8.205,3.68-8.205,8.205  c0,6.334,5.152,11.488,11.488,11.488h18.051c5.437,0,9.846,4.408,9.846,9.846v132.595c0,8.325,6.772,15.097,15.097,15.097h55.467  c4.524,0,8.205-3.68,8.205-8.205c0-6.334-5.152-11.487-11.488-11.487h-8.205c-5.437,0-9.846-4.408-9.846-9.846v-49.231  c0-5.438,4.409-9.846,9.846-9.846s9.846,4.408,9.846,9.846v39.427c16.431,0.857,29.538,14.496,29.538,31.136  C334.769,396.101,322.255,408.615,306.872,408.615z"></path>
                        </svg>
                    </span>
                </a>
                <a class="u-social-url" title="contact" href="Home.html#carousel_fc9e" data-page-id="36583591">
                    <span class="u-icon u-icon-circle u-social-icon u-social-linkedin u-icon-3">
                        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="-57 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-210b"></use></svg><svg class="u-svg-content" viewBox="-57 0 512 512" id="svg-210b">
                            <path d="m340.5625 66.203125v333.023437h-.40625c-32.261719 15.519532-69.5625 24.378907-109.300781 24.378907-23.730469 0-46.644531-3.171875-68.101563-9.101563l-49.734375 49.734375v-69.320312c-63.386719-33.722657-105.640625-93.777344-105.640625-162.285157 0-105.480468 100.035156-190.96875 223.476563-190.96875 39.898437 0 77.28125 8.9375 109.707031 24.539063zm0 0" fill="#aac4da"></path>
                            <path d="m340.5625 431.730469h48.757812v24.378906h-48.757812zm0 0" fill="#d9eef7"></path>
                            <path d="m364.941406 17.28125 24.378906 48.761719h-48.757812zm0 0" fill="#d9eef7"></path>
                            <path d="m389.320312 456.109375v40.632813l-8.128906 8.125h-32.503906l-8.125-8.125v-40.632813zm0 0" fill="#fd6149"></path>
                            <path d="m389.320312 66.042969v365.6875h-48.757812v-365.6875zm0 0" fill="#31e8bb"></path>
                            <path d="m88.640625 232.632812c0-93.605468 78.800781-171.410156 182.800781-187.757812-13.164062-2.066406-26.710937-3.210938-40.585937-3.210938-123.441407 0-223.476563 85.488282-223.476563 190.96875 0 68.507813 42.257813 128.5625 105.640625 162.285157v69.320312l49.734375-49.734375c10.195313 2.820313 20.742188 4.964844 31.53125 6.492188v-26.078125c-63.386718-33.722657-105.644531-93.777344-105.644531-162.285157zm0 0" fill="#95adc0"></path>
                            <path d="m145.695312 301.878906h162.527344v15.085938h-162.527344zm0 0" fill="#fff"></path>
                            <path d="m105.0625 220.613281h203.160156v15.085938h-203.160156zm0 0" fill="#fff"></path>
                            <path d="m259.464844 139.347656h16.25v15.089844h-16.25zm0 0" fill="#fff"></path>
                            <g fill="#231f20">
                                <path d="m397.03125 130.640625v-72.558594h-2.882812l-29.039063-58.082031-27.925781 55.847656c-32.683594-14.503906-69.21875-22.140625-106.160156-22.140625-61.5 0-119.363282 20.503907-162.933594 57.738281-43.90625 37.523438-68.089844 87.515626-68.089844 140.773438 0 34.234375 10.308594 67.984375 29.8125 97.605469l12.601562-8.296875c-17.875-27.152344-27.328124-58.035156-27.328124-89.308594 0-101.140625 96.867187-183.425781 215.933593-183.425781 35.652344 0 70.859375 7.542969 102.164063 21.816406v323.195313c-31.199219 14.289062-66.414063 21.84375-102.164063 21.84375-22.664062 0-44.898437-2.972657-66.089843-8.832032l-4.234376-1.171875-39.964843 39.964844v-55.636719l-4-2.128906c-24.855469-13.222656-45.980469-30.285156-62.796875-50.710938l-11.648438 9.589844c17.167969 20.855469 38.46875 38.421875 63.359375 52.265625v83.046875l59.535157-59.535156c21.203124 5.464844 43.332031 8.234375 65.839843 8.234375 35.53125 0 70.597657-7.058594 102.164063-20.445313v89.164063l12.546875 12.546875h38.753906l12.546875-12.546875v-336.308594h-15.089844v260.628907h-33.671875v-350.601563h33.671875v57.46875zm-19.75-72.558594h-24.347656l12.175781-24.34375zm4.660156 435.121094-3.707031 3.707031h-26.253906l-3.707031-3.707031v-29.960937h33.667968zm0-54.339844v9.289063h-33.667968v-9.289063zm0 0"></path>
                                <path d="m105.0625 261.246094h203.160156v15.089844h-203.160156zm0 0"></path>
                                <path d="m105.0625 179.980469h203.160156v15.089843h-203.160156zm0 0"></path>
                                <path d="m291.96875 139.347656h16.253906v15.089844h-16.253906zm0 0"></path>
                                <path d="m94.46875 322.554688-11.320312 9.980468c32.269531 36.585938 78.761718 57.570313 127.554687 57.570313v-15.089844c-44.464844 0-86.832031-19.121094-116.234375-52.460937zm0 0"></path>
                            </g>
                        </svg>
                    </span>
                </a>
            </div>
        </div>
    </header>
    <section class="u-align-center u-clearfix u-image u-section-1" src="" data-image-width="1600" data-image-height="1068" id="sec-b9c8">
        <div class="u-align-left u-clearfix u-sheet u-sheet-1">
            <h2 class="u-align-right u-text u-text-1">
                TiBAME's<br>EQuipments ReNTAL
            </h2>
            <p class="u-align-right u-text u-text-2">We have Electronics,office supplies, DAily gears,Home gym equipments...</p>
            <a href="/equip/" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-1" target="_blank">Learn more</a>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-palette-3-light-3 u-section-2" id="carousel_534d">
        <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-sm u-valign-middle-xl u-valign-middle-xs u-sheet-1">
            <div class="u-custom-color-2 u-expanded-width-xs u-shape u-shape-rectangle u-shape-1"></div>
            <div class="u-clearfix u-gutter-40 u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-container-style u-custom-color-4 u-layout-cell u-size-30 u-layout-cell-1">
                            <div class="u-container-layout u-valign-bottom-xs u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-valign-top-sm u-container-layout-1">
                                <img class="u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-expanded-width-xs u-image u-image-round u-image-1" src="/images/illustration.svg" data-image-width="613" data-image-height="478" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                            </div>
                        </div>
                        <div class="u-align-center u-container-style u-layout-cell u-size-30 u-white u-layout-cell-2">
                            <div class="u-container-layout u-valign-middle u-container-layout-2">
                                <h6 class="u-text u-text-1">Tibame rental website</h6>
                                <h2 class="u-custom-font u-font-playfair-display u-text u-text-2">
                                    Online Renting <span style="font-weight: 700;">Platform</span>
                                </h2>
                                <p class="u-text u-text-3">Tibame product can fulfill all your needs.&nbsp;You might be surprised at the equipment that we carry.&nbsp; Just give us a call and we will provide what you need.</p>
                                <p class="u-text u-text-4">
                                    Image from <a href="https://www.freepik.com/free-photos-vectors/banner" class="u-active-none u-border-1 u-border-grey-75 u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-1" target="_blank">Freepik</a>
                                </p>
                                <a href="/equip/" class="u-black u-border-none u-btn u-button-style u-hover-grey-70 u-btn-2" data-animation-name="flash" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">Rent NOW!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-left u-clearfix u-image u-shading u-section-3" id="carousel_fc9e">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h1 class="u-align-center u-text u-text-1">Contact Us</h1>
            <div class="u-clearfix u-gutter-10 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-container-style u-layout-cell u-left-cell u-size-33 u-layout-cell-1">
                            <div class="u-container-layout u-valign-middle u-container-layout-1">
                                <div class="u-form u-form-1">
                                    <form id="contactus" method="POST" class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form" style="padding: 15px;" source="custom">
                                        <div class="u-form-group u-form-name">
                                            <label for="name-0cec" class="u-form-control-hidden u-label">Name</label>
                                            <input type="text" placeholder="Name" v-model="contactInfo.name" id="name-0cec" name="name" class="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white" required="">
                                        </div>
                                        <div class="u-form-email u-form-group">
                                            <label for="email-0cec" class="u-form-control-hidden u-label">Email</label>
                                            <input type="email" placeholder="Email" v-model="contactInfo.email" id="email-0cec" name="email" class="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white" required="">
                                        </div>
                                        <div class="u-form-group u-form-message">
                                            <label for="message-0cec" class="u-form-control-hidden u-label">Feedback</label>
                                            <textarea placeholder="Enter here" rows="4" cols="50" v-model="contactInfo.feedback" id="message-0cec" name="feedback" class="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white" required=""></textarea>
                                        </div>
                                        <div class="u-form-group u-form-submit">
                                            <button class="u-border-none u-btn u-btn-submit u-button-style u-hover-grey-75 u-palette-5-dark-3 u-btn-1"
                                                    @@click="submitFeedback($event)"
                                                    :disabled="!canSubmit">{{isSending ? 'Sending...' : 'Submit'}}</button>
                                        </div>
                                        <div class="u-form-send-message u-form-send-success">#FormSendSuccess</div>
                                        <div class="u-form-send-error u-form-send-message">#FormSendError</div>
                                        <input type="hidden" value="" name="recaptchaResponse">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-27 u-layout-cell-2">
                            <div class="u-container-layout u-valign-bottom u-container-layout-2">
                                <div class="u-container-style u-expanded-width u-group u-group-1">
                                    <div class="u-container-layout u-container-layout-3">
                                        <h2 class="u-text u-text-default u-text-2">Tibame Center</h2>
                                        <p class="u-text u-text-default u-text-3">
                                            <span class="u-icon u-icon-1">
                                                <svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" style="width: 1em; height: 1em;">
                                                    <g>
                                                        <g>
                                                            <path d="M256,0C161.896,0,85.333,76.563,85.333,170.667c0,28.25,7.063,56.26,20.49,81.104L246.667,506.5    c1.875,3.396,5.448,5.5,9.333,5.5s7.458-2.104,9.333-5.5l140.896-254.813c13.375-24.76,20.438-52.771,20.438-81.021    C426.667,76.563,350.104,0,256,0z M256,256c-47.052,0-85.333-38.281-85.333-85.333c0-47.052,38.281-85.333,85.333-85.333    s85.333,38.281,85.333,85.333C341.333,217.719,303.052,256,256,256z"></path>
                                                        </g>
                                                    </g>
                                                </svg><img>
                                            </span>&nbsp; 5F., No.219, Sec. 3, Nanjing E. Rd., Jhongshan Dist., Taipei City 104506, Taiwan
                                        </p>
                                        <p class="u-text u-text-default u-text-4">
                                            <span class="u-icon u-icon-2"><svg class="u-svg-content" viewBox="0 0 405.333 405.333" x="0px" y="0px"><path d="M373.333,266.88c-25.003,0-49.493-3.904-72.704-11.563c-11.328-3.904-24.192-0.896-31.637,6.699l-46.016,34.752    c-52.8-28.181-86.592-61.952-114.389-114.368l33.813-44.928c8.512-8.512,11.563-20.971,7.915-32.64    C142.592,81.472,138.667,56.96,138.667,32c0-17.643-14.357-32-32-32H32C14.357,0,0,14.357,0,32    c0,205.845,167.488,373.333,373.333,373.333c17.643,0,32-14.357,32-32V298.88C405.333,281.237,390.976,266.88,373.333,266.88z"></path></svg><img></span>&nbsp; &nbsp;(02) 2712-0589
                                        </p>
                                        <p class="u-text u-text-default u-text-5" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                                            <span class="u-icon u-icon-3">
                                                <svg class="u-svg-content" viewBox="0 0 433.664 433.664" x="0px" y="0px" style="width: 1em; height: 1em;">
                                                    <g>
                                                        <g>
                                                            <path d="M229.376,271.616c-4.096,2.56-8.704,3.584-12.8,3.584s-8.704-1.024-12.8-3.584L0,147.2v165.376c0,35.328,28.672,64,64,64    h305.664c35.328,0,64-28.672,64-64V147.2L229.376,271.616z"></path>
                                                        </g>
                                                    </g>
                                                    <g>
                                                        <g>
                                                            <path d="M369.664,57.088H64c-30.208,0-55.808,21.504-61.952,50.176l215.04,131.072l214.528-131.072    C425.472,78.592,399.872,57.088,369.664,57.088z"></path>
                                                        </g>
                                                    </g>
                                                </svg><img>
                                            </span> &nbsp; &nbsp;<a href="mailto:elise.durgan22@ethereal.email">contacts@esbnyc.com</a>
                                        </p>
                                        <div class="u-social-icons u-spacing-30 u-social-icons-1">
                                            <a class="u-social-url" target="_blank" href="https://www.tibame.com/" title="TibemeWeb">
                                                <span class="u-icon u-icon-circle u-social-icon u-social-twitter u-icon-4">
                                                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 264 264" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-b0a8"></use></svg><svg class="u-svg-content" viewBox="0 0 264 264" x="0px" y="0px" id="svg-b0a8" style="enable-background:new 0 0 264 264;">
                                                        <g>
                                                            <path d="M246.997,33H17.926C8.225,33,0,40.892,0,50.593v163.071C0,223.385,8.061,231,17.926,231h229.071   c9.721,0,17.003-7.615,17.003-17.336V50.593C264,40.728,256.718,33,246.997,33z M60.226,43.025c3.554,0,6.444,2.891,6.444,6.444   s-2.891,6.444-6.444,6.444s-6.444-2.891-6.444-6.444S56.672,43.025,60.226,43.025z M41.726,43.025c3.554,0,6.444,2.891,6.444,6.444   s-2.891,6.444-6.444,6.444s-6.444-2.891-6.444-6.444S38.172,43.025,41.726,43.025z M23.226,43.025c3.554,0,6.444,2.891,6.444,6.444   s-2.891,6.444-6.444,6.444s-6.444-2.891-6.444-6.444S19.672,43.025,23.226,43.025z M248,214.5c0,0.276,0.109,0.5-0.167,0.5h-0.5   h-230.5H16v-0.5V67v-0.5c0-0.276,0.557-0.5,0.833-0.5h231c0.276,0,0.167,0.224,0.167,0.5V214.5z M241.889,56h-70   c-3.554,0-6.444-2.91-6.444-6.487c0-3.577,2.891-6.487,6.444-6.487l70,0.022c3.554,0,6.444,2.9,6.444,6.466   C248.333,53.09,245.442,56,241.889,56z"></path>
                                                            <g>
                                                                <path d="M39.889,106h70c3.554,0,6.444-2.913,6.444-6.494c0-3.566-2.891-6.469-6.444-6.469l-70-0.024    c-3.554,0-6.444,2.913-6.444,6.493C33.444,103.087,36.335,106,39.889,106z"></path>
                                                                <path d="M109.889,115.037l-70-0.024c-3.554,0-6.444,2.913-6.444,6.493c0,3.581,2.891,6.494,6.444,6.494h70    c3.554,0,6.444-2.913,6.444-6.494C116.333,117.939,113.442,115.037,109.889,115.037z"></path>
                                                                <path d="M109.889,137.037l-70-0.024c-3.554,0-6.444,2.913-6.444,6.493c0,3.581,2.891,6.494,6.444,6.494h70    c3.554,0,6.444-2.913,6.444-6.494C116.333,139.939,113.442,137.037,109.889,137.037z"></path>
                                                                <path d="M109.889,159.037l-70-0.024c-3.554,0-6.444,2.913-6.444,6.493c0,3.581,2.891,6.494,6.444,6.494h70    c3.554,0,6.444-2.913,6.444-6.494C116.333,161.939,113.442,159.037,109.889,159.037z"></path>
                                                            </g>
                                                            <path d="M218.833,91h-74C137.94,91,132,96.607,132,103.5v0.5v73.5v0.5c0,6.627,5.706,12,12.333,12h0.5h73.5h0.5   c6.893,0,12.167-5.607,12.167-12.5v-74C231,96.607,225.726,91,218.833,91z"></path>
                                                        </g>
                                                    </svg>


                                                </span>
                                            </a>
                                            <a class="u-social-url" target="_blank" href="https://www.facebook.com/TibaMe/" title="TibameFB">
                                                <span class="u-icon u-icon-circle u-social-facebook u-social-icon u-icon-5">
                                                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-ccd8"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" id="svg-ccd8"><path d="m437 0h-362c-41.351562 0-75 33.648438-75 75v362c0 41.351562 33.648438 75 75 75h151v-181h-60v-90h60v-61c0-49.628906 40.371094-90 90-90h91v90h-91v61h91l-15 90h-76v181h121c41.351562 0 75-33.648438 75-75v-362c0-41.351562-33.648438-75-75-75zm0 0"></path></svg>


                                                </span>
                                            </a>
                                            <a class="u-social-url" target="_blank" href="https://www.youtube.com/c/TibaMe" title="TibameYT">
                                                <span class="u-icon u-icon-circle u-social-icon u-social-youtube u-icon-6">
                                                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-07ba"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-07ba" style="enable-background:new 0 0 512 512;">
                                                        <g>
                                                            <g>
                                                                <path d="M428.522,72.348H83.478C37.446,72.348,0,109.794,0,155.826v200.348c0,46.032,37.446,83.478,83.478,83.478h345.043    c46.032,0,83.478-37.446,83.478-83.478V155.826C512,109.794,474.554,72.348,428.522,72.348z M348.978,269.728L204.282,369.902    c-11.017,7.64-26.195-0.25-26.195-13.728V155.826c0-13.476,15.184-21.375,26.195-13.728l144.696,100.174    C358.554,248.893,358.554,263.107,348.978,269.728z"></path>
                                                            </g>
                                                        </g>
                                                    </svg>


                                                </span>
                                            </a>
                                            <a class="u-social-url" target="_blank" href="https://tw.linkedin.com/company/tibame-%E5%AD%B8%E7%BF%92%E7%B6%B2" title="TibameLinkedin">
                                                <span class="u-icon u-icon-circle u-social-icon u-social-instagram u-icon-7">
                                                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 504.4 504.4" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-cac4"></use></svg><svg class="u-svg-content" viewBox="0 0 504.4 504.4" x="0px" y="0px" id="svg-cac4" style="enable-background:new 0 0 504.4 504.4;">
                                                        <g>
                                                            <g>
                                                                <path d="M377.6,0.2H126.4C56.8,0.2,0,57,0,126.6v251.6c0,69.2,56.8,126,126.4,126H378c69.6,0,126.4-56.8,126.4-126.4V126.6    C504,57,447.2,0.2,377.6,0.2z M168,408.2H96v-208h72V408.2z M131.6,168.2c-20.4,0-36.8-16.4-36.8-36.8c0-20.4,16.4-36.8,36.8-36.8    c20.4,0,36.8,16.4,36.8,36.8C168,151.8,151.6,168.2,131.6,168.2z M408.4,408.2H408h-60V307.4c0-24.4-3.2-55.6-36.4-55.6    c-34,0-39.6,26.4-39.6,54v102.4h-60v-208h56v28h1.6c8.8-16,29.2-28.4,61.2-28.4c66,0,77.6,38,77.6,94.4V408.2z"></path>
                                                            </g>
                                                        </g>
                                                    </svg>


                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<section class="u-backlink u-clearfix u-grey-80">
        <a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
            <span>Website Templates</span>
        </a>
        <p class="u-text">
            <span>created with</span>
        </p>
        <a class="u-link" href="https://nicepage.com/" target="_blank">
            <span>Website Builder Software</span>
        </a>.
    </section>*@
</body>


</html>
<script>
    $("#topBar").hide();

    let contactus = new Vue({
        el: "#contactus",
        data() {
            return {
                contactInfo: {
                    name: "",
                    email: "",
                    feedback: ""
                },
                isSending: false
            }
        },
        methods: {
            async submitFeedback(e) {
                this.isSending = true;
                e.preventDefault();
                let response = await fetch("/api/notification/contactus", {
                    method: "POST",
                    body: new URLSearchParams(this.contactInfo)
                });

                if (!response.ok) {
                    alert("送出失敗");
                }
                else {
                    alert("送出成功");
                }
                this.isSending = false;
            }
        },
        computed: {
            canSubmit() {
                let emailRule = /^\w+((-\w+)|(\.\w+))*\@@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/;
                return this.contactInfo.name.length > 0 &&
                    emailRule.test(this.contactInfo.email) &&
                    this.contactInfo.feedback.length > 0 &&
                    !this.isSending;
            }
        }
    });
</script>