
@{
    ViewData["Title"] = "綁定 LINE 帳號";
    Layout = "~/Views/Shared/_ViewBindLine.cshtml";
}

<div class="row justify-content-center form-container">
    <div class="col-xl-6 col-12">
        <section class="card">
            <h1 class="card-header h3 text-center">使用者登入</h1>
            <form id="login" method="post" class="card-body">
                <input hidden
                       name="lineID" 
                       id="lineID" 
                       type="text" 
                       :value="userInfo.idToken"/>
                <div class="form-group">
                    <label for="username">帳號</label>
                    <input class="form-control" 
                           name="username" 
                           id="username" 
                           type="text" 
                           v-model="userInfo.username"/>
                </div>
                <div class="form-group">
                    <label for="password">密碼</label>
                    <input class="form-control" 
                           name="password" 
                           id="password" 
                           type="password" 
                           v-model="userInfo.password"/>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary form-control" 
                            type="button"
                            :disabled="loading"
                            @@click="btnSubmit">{{btnText}}</button>
                </div>
            </form>
        </section>
    </div>
</div>


<script>
    let app = new Vue({
        el: "#login",
        data() {
            return {
                userInfo: {
                    username: "",
                    password: "",
                    idToken: ""
                },
                accessToken: "",
                loading: false,
                btnText: "登入"
            }
        },
        created() {
            liff
                .init({
                    liffId: "1656261928-NBKLAmEY"
                })
                .then(() => {
                    // start to use LIFF's api
                    this.userInfo.idToken = liff.getIDToken();
                })
                .catch((err) => {
                    console.log(err);
                });
        },
        methods: {
            async btnSubmit() {

                this.loading = true;
                this.btnText = "處理中，請稍候";

                let response = await fetch("/api/user/bindline", {
                    method: "POST",
                    headers: {
                        "content-type": "application/json"
                    },
                    body: JSON.stringify(this.userInfo)
                });

                if (!response.ok) {
                    // TODO 錯誤訊息
                    let failText = await response.text();
                    alert(failText);

                    this.loading = false;
                    this.btnText = "登入";

                    return;
                }

                liff.closeWindow();

            }
        }
    });

</script>
