
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_ViewBindLine.cshtml";
}

<div id="app" class="row justify-content-center">
    <div class="col-xl-6 col-12">
        <section class="card">
            <h1 class="card-header h3 text-center">忘記密碼</h1>
            <form class="card-body">
                    <div class="form-group">
                        <label for="email">電子信箱</label>
                        <input class="form-control" 
                               name="email" 
                               id="emsil" 
                               type="email" 
                               v-model="email"/>
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-primary btn-block" 
                                type="button"
                                @@click="sendEmail">寄送重設密碼連結</button>
                    </div>
            </form>
            <div class="card-footer text-center">
                <p><a asp-controller="User" asp-action="Authenticate">回到登入頁</a></p>
            </div>
        </section>
    </div>
</div>



<script>
    // TODO 按按鈕送出 & disable button & 回應使用者有無成功送出信件
    // 註冊時就已經可以知道 email 有沒有被重覆了，就已經無法防止 user enumeration 了
    // 要防止 user enumeration，就要在註冊時要求 user 在 email 收驗證碼。
    let btn = new Vue({
        el: "#app",
        data() {
            return {
                email: ""
            }
        },
        methods: {
            async sendEmail() {
                let data = new URLSearchParams({
                    "email": this.email
                });
                let response = await fetch("/api/user/sendresetlink", {
                    method: "POST",
                    body: data
                });

                if (!response.ok) {
                    console.log(response.statusText);
                    return;
                }

                let text = await response.text();

                console.log(text);
            }
        }
    });
</script>

