
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form method="post">
    <label for="username">帳號</label>
    <input name="username" id="username" type="text" />
    <label for="password">密碼</label>
    <input name="password" id="password" type="password" />
    <button type="submit">登入</button>
</form>
