

.u-section-1 {
    background-image: url("../images/pexels-photo-3184460.jpeg");
    background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 867px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 900;
  margin: 497px 0 0 676px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 1px 0 570px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0 32px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 576px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 371px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 356px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 151px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 411px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 176px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 704px;
}

.u-section-2 .u-shape-1 {
  width: 764px;
  height: 280px;
  margin: 60px auto 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1024px;
  margin: -335px auto 4px 58px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 624px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 411px;
  animation-duration: 1000ms;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 624px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  line-height: 1.8;
  margin: 25px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 25px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  letter-spacing: 1px;
  font-size: 0.875rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  animation-duration: 1000ms;
  margin: 25px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 895px;
    margin-right: 0;
    margin-bottom: 5px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 573px;
  }

  .u-section-2 .u-image-1 {
    height: 373px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 576px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-2 .u-shape-1 {
    width: 720px;
    margin-top: 110px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 690px;
    margin-bottom: 55px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 439px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 273px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 496px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-2 .u-shape-1 {
    width: 540px;
    margin-top: 56px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 499px;
    margin-bottom: 1px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 659px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 494px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-2 .u-shape-1 {
    height: 230px;
    margin-top: 55px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 304px;
    margin-top: -287px;
    margin-bottom: -2px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 415px;
  }

  .u-section-2 .u-image-1 {
    height: 168px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 416px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(133,142,153,0.4), rgba(133,142,153,0.4)), url("../images/pexels-photo-3815738.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 765px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-image: none;
  margin: 57px 70px 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1020px;
  margin: 70px auto 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 384px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-form-1 {
  height: 334px;
  width: 517px;
  margin: 0 auto;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 384px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-group-1 {
  min-height: 353px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-container-layout-3 {
  padding-bottom: 30px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
  width: 16px;
  height: 22px;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-icon-2 {
  margin-top: 3px;
}

.u-section-3 .u-text-5 {
  font-size: 1.125rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-icon-3 {
  color: rgb(255, 255, 255) !important;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 41px;
  min-height: 16px;
  width: 254px;
  min-width: 154px;
  margin: 80px auto 0 0;
}

.u-section-3 .u-icon-4 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

.u-section-3 .u-icon-5 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

.u-section-3 .u-icon-6 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

.u-section-3 .u-icon-7 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 354px;
  }

  .u-section-3 .u-form-1 {
    width: 418px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 354px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-social-icons-1 {
    width: 194px;
    min-width: 94px;
    margin-left: -2px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 347px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-form-1 {
    width: 319px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 271px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 447px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 452px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 285px;
  }
}