
<div id="order">

    <div class="card">
        <div class="card-body">設備名稱:   {{equips.equipmentName}}</div>
    </div>
    <br />
    <div class="card">
        <div class="card-body">尚有庫存:   {{equips.quantityInStock}}個</div>
    </div>

    <div>
        <label>租借數量: </label>
        <b-input-group>
            <b-input-group-prepend>
                <b-button v-on:click="btnMinus()" variant="outline-secondary">-</b-button>
            </b-input-group-prepend>
            <b-form-input type="text" value="0" v-model="count"></b-form-input>
            <b-input-group-append>
                <b-button v-on:click="btnAdd()" variant="outline-secondary">+</b-button>
            </b-input-group-append>
            <b-input-group>
    </div>
    <br />
    <div>
        <label for="example-datepicker">選取租借日期</label>
        <b-form-datepicker id="example-datepicker" v-model="orderDate" class="mb-2"></b-form-datepicker>
    </div>

    <div>
        <b-col sm="3">
            <label>租借天數</label>
        </b-col>
        <b-col sm="9">
            <b-form-input type="number" min="0" v-model="orderDays"></b-form-input>
        </b-col>
    </div>

    <div>
        <br />
        <b-button variant="primary" v-on:click="btnOrder">送出</b-button>
    </div>

    @*<div>
        <br/>
        <b-button variant="primary" v-on:click="test">測試</b-button>
    </div>*@


</div>



<script>
    var order = new Vue({
        el: '#order',
        data: {
            count: 0,
            equips: {},
            orderDate: "",
            orderDays: "",
            selectEquipId: ""

        },


        beforeCreate: function() {
            let cookiearr = document.cookie.split(';');
            console.log(cookiearr);

            let cookiepair = cookiearr[0].split('=');

            console.log(cookiepair)
            this.selectEquipId = cookiepair[1];
            console.log(this.selectEquipId);

            fetch('/equipapi/getequipbyid/' + this.selectEquipId, { method: 'get' })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    }
                })
                .then(response => {
                    this.equips = response;
                });
        },


        methods: {
            btnMinus: function (count) {
                if (this.count <= 1) {
                    alert('請輸入正確數量')
                } else {
                    this.count--
                }
            },
            btnAdd: function (count) {
                if (this.count >= this.equips.quantityInStock) {

                    alert('庫存不足')

                } else {

                    this.count++
                }
            },


            btnOrder: function(data) {
                console.log("按下按鈕")


                let url = "/OrderApi/MakeOrder";
                let request = {
                    body: JSON.stringify(data),
                    method: "POST",
                    headers: {
                        "content-type": "application/json"
                    }
                }
                fetch(url, request)
                    .then(r => {
                        if (r.ok) {
                            console.log("連線成功");
                            return r.json();
                        }
                        console.log("連線失敗");
                    })
                    .then(r => {
                        console.log(this.count, typeof (this.count));
                        console.log(this.orderDate, typeof (this.orderDate));
                        console.log(this.orderDays,typeof (this.orderDays));
                        console.log(this.equips.equipmentId, typeof (this.equips.equipmentId));
                        console.log("送出成功");
                    })
                    .catch(error => console.log(error))
            },

            test: function (orderDate, orderDays) {

                var test_date = "2021-07-21";
                var test_days="4"

           
                Date.parse(test_date);
                console.log(test_date, typeof (this.test_date));
                parseInt(test_days);
                console.log(test_days, typeof (this.test_days));
            }


            



        }


    })



</script>   