
<div id="order">

    <div class="card">
        <div class="card-body">設備名稱:   {{equips.equipmentName}}</div>
    </div>
    <br />
    <div class="card">
        <div class="card-body">尚有庫存:   {{equips.quantityInStock}}個</div>
    </div>

    <div>
        <label>租借數量: </label>
        <b-input-group>
            <b-input-group-prepend>
                <b-button v-on:click="btnMinus()" variant="outline-secondary">-</b-button>
            </b-input-group-prepend>
            <b-form-input type="text" value="0" v-model="count"></b-form-input>
            <b-input-group-append>
                <b-button v-on:click="btnAdd()" variant="outline-secondary">+</b-button>
            </b-input-group-append>
            <b-input-group>
    </div>
    <br />
    <div>
        <label for="example-datepicker">選取租借日期</label>
        <b-form-datepicker id="example-datepicker" v-model="orderDate" class="mb-2"></b-form-datepicker>
    </div>

    <div>
        <b-col sm="3">
            <label>租借天數</label>
        </b-col>
        <b-col sm="9">
            <b-form-input type="number" min="0" max="14" v-model="orderDays"></b-form-input>
        </b-col>
    </div>

                </div>
                <div class="form-group form-row float-lg-right">
                    <b-button variant="primary" size="lg" v-on:click="btnOrder"> 送出</b-button>
                </div>
            </div>
        </b-card-text>

        

    </b-card>

    

</div>



<script>
    var order = new Vue({
        el: '#order',
        data: {
            count: 0,
            equips: {},
            orderDate: "",
            orderDays: 0,
            queries: {}
        },


        created: function () {

            let queryStrArr = window.location.search.slice(1).split("&");
            for (let i = 0; i < queryStrArr.length; i++) {
                let keyvaluePair = queryStrArr[i].split("=");
                this.queries[keyvaluePair[0]] = keyvaluePair[1];
            }
            console.log(this.queries);
            fetch('/equipapi/getequipbyid/' + this.queries.equipId, { method: 'get' })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        alert("查無資料");
                    }
                })
                .then(response => {
                    this.equips = response;
                });
        },


        methods: {
            btnMinus: function (count) {
                if (this.count <= 1) {
                    alert('請輸入正確數量')
                } else {
                    this.count--
                }
            },
            btnAdd: function (count) {
                if (this.count >= this.equips.quantityInStock) {

                    alert('庫存不足')

                } else {

                    this.count++
                }
            },


            btnOrder: function () {

                console.log("按下按鈕")
                let requestData = {
                    equipmentId: this.equips.equipmentId,
                    estimatedPickupTime: this.orderDate,
                    quantity: this.count,
                    day: this.orderDays,
                    userId: 2
                };
                let url = "/OrderApi/MakeOrder";
                let request = {
                    body: JSON.stringify(requestData),
                    method: "POST",
                    headers: {
                        "content-type": "application/json"
                    }
                }
                fetch(url, request)
                    .then(r => {
                        if (r.ok) {
                            return r.json(); //To be deleted
                        }
                    })
                    .then(
                        r => {
                            console.log(r);
                        }
                    )
                    .catch(error => console.log(error))
            }

        }


    })



</script>
