@*未審核訂單數量框 還沒歸還數量框

    待審核訂單/ALL/自己處理的/還沒歸還的(進行中訂單)/已經結束的*@
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

<div id="app">
    <div>
        <b-button variant="warning" class="font-weight-bolder">
            <img src="/images/timer_black_24dp.svg" />
            待審核訂單 <b-badge variant="light" class="text-dark">4</b-badge>
        </b-button>
        <b-button variant="success" class="font-weight-bolder">
            <img src="/images/lightbulb_white_24dp.svg" />
            待領取訂單 <b-badge variant="light" class="text-dark">4</b-badge>
        </b-button>
        <b-button variant="primary" class="font-weight-bolder">
            <img src="/images/outbox_white_24dp.svg" />
            租借中訂單 <b-badge variant="light" class="text-dark">4</b-badge>
        </b-button>
        <b-button variant="danger" class="font-weight-bolder">
            <img src="/images/new_releases_white_24dp.svg" />
            已逾期訂單 <b-badge variant="light" class="text-dark">4</b-badge>
        </b-button>
    </div>
    </br>
    <b-tabs active-nav-item-class="font-weight-bold text-uppercase text-danger"
            active-tab-class="font-weight-bold text-success" content-class="mt-3" fill>
        <b-tab title="所有訂單" active>
            <b-navbar-nav class="ml-auto">
                <b-nav-form>
                    <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
                    <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
                </b-nav-form>


                <p>I'm the first tab</p>
        </b-tab>
        <b-tab title="待核可">
            <p>I'm the second tab</p>
        </b-tab>
        <b-tab title="待領取">
            <p>I'm the second tab</p>
        </b-tab>
        <b-tab title="租借中">
            <p>I'm the tab with the very, very long title</p>
        </b-tab>
        <b-tab title="已結束">
            <p>I'm a disabled tab!</p>
        </b-tab>
        <b-tab title="已逾期">
            <p>I'm a disabled tab!</p>
        </b-tab>
    </b-tabs>
</div>

<script>
    new Vue({
        el: '#app'
    })
</script>

