@{ 
    ViewData["Title"] = "訂單";
}
<link type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
<link type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<script src="https://unpkg.com/vue"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

<div id="app" v-cloak>
    <b-overlay :show="loading" rounded="lg">
        <div :show="!loading">
            <b-card>
                <b-tabs content-class="mt-3" fill v-model="tabIndex" card>
                    <!-- 待核可 -->
                    <b-tab :title="tab0_title" active :title-link-class="linkClass(0)">
                        <div class="tableFixHead">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="width:175px">訂單序號</th>
                                        <th style="width:175px">設備序號</th>
                                        <th style="width:175px">設備名稱</th>
                                        <th style="width:175px">租借數量</th>
                                        <th style="width:200px">取貨時間</th>
                                        <th style="width:175px">租借天數</th>
                                        <th style="width:175px">總金額</th>
                                        <th style="width:200px">下單時間</th>
                                        <th style="width:200px">訂單狀態</th>
                                        <th style="width:200px">取消租借</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="order in orders_0">
                                        <td>{{order.orderSn}}</td>
                                        <td>{{order.equipmentSn}}</td>
                                        <td>{{order.equipmentName}}</td>
                                        <td>{{order.quantity}}</td>
                                        <td>{{order.estimatedPickupTime | timeString('YYYY-MM-DD')}}</td>
                                        <td>{{order.day}}</td>
                                        <td>{{order.unitPrice * order.day * order.quantity}}</td>
                                        <td>{{order.orderTime | timeString('YYYY-MM-DD')}}</td>
                                        <td>處理中</td>
                                        <td><b-btn @@click="cancelOrderAction(order)" data-toggle="modal" data-target="#cancelModal">取消租借</b-btn></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </b-tab>

                    <!-- 待付款 -->
                    <b-tab :title="tab1_title" :title-link-class="linkClass(1)">
                        <div class="tableFixHead">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="width:175px">訂單序號</th>
                                        <th style="width:175px">設備序號</th>
                                        <th style="width:175px">設備名稱</th>
                                        <th style="width:175px">租借數量</th>
                                        <th style="width:200px">取貨時間</th>
                                        <th style="width:175px">租借天數</th>
                                        <th style="width:175px">總金額</th>
                                        <th style="width:200px">訂單狀態</th>
                                        <th style="width:200px">下單時間</th>
                                        <th style="width:200px">取消租借</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="order in orders_1">
                                        <td>{{order.orderSn}}</td>
                                        <td>{{order.equipmentSn}}</td>
                                        <td>{{order.equipmentName}}</td>
                                        <td>{{order.quantity}}</td>
                                        <td>{{order.estimatedPickupTime | timeString('YYYY-MM-DD')}}</td>
                                        <td>{{order.day}}</td>
                                        <td>{{order.unitPrice * order.day * order.quantity}}</td>
                                        <td>{{order.orderTime | timeString('YYYY-MM-DD')}}</td>
                                        <td>處理中</td>
                                        <td><b-btn @@click="cancelOrderAction(order)" data-toggle="modal" data-target="#cancelModal">取消租借</b-btn></td>
                                    </tr>
                                </tbody>
                            </table>
                            <b-button variant="danger" href="/payment">前往付款</b-button>
                        </div>
                    </b-tab>

                    <!-- 待領取 -->
                    <b-tab :title="tab2_title" :title-link-class="linkClass(2)">
                        <div class="tableFixHead">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="width:200px">訂單明細</th>
                                        <th style="width:175px">訂單序號</th>
                                        <th style="width:175px">設備序號</th>
                                        <th style="width:175px">設備名稱</th>
                                        <th style="width:175px">租借數量</th>
                                        <th style="width:200px">取貨時間</th>
                                        <th style="width:175px">租借天數</th>
                                        <th style="width:175px">總金額</th>
                                        <th style="width:200px">下單時間</th>
                                        <th style="width:200px">訂單狀態</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <template v-for="order in orders_2">
                                        <tr>
                                            <td><i class="bi bi-justify-left" @@click="toggle(order.orderId)" style="font-size: 20px;"></i></td>
                                            <td>{{order.orderSn}}</td>
                                            <td>{{order.equipmentSn}}</td>
                                            <td>{{order.equipmentName}}</td>
                                            <td>{{order.quantity}}</td>
                                            <td>{{order.estimatedPickupTime | timeString('YYYY-MM-DD')}}</td>
                                            <td>{{order.day}}</td>
                                            <td>{{order.unitPrice * order.day * order.quantity}}</td>
                                            <td>{{order.orderTime | timeString('YYYY-MM-DD')}}</td>
                                            <td>待領取</td>
                                        </tr>
                                        <tr v-if="opened.includes(order.orderId)">
                                            <td colspan="11" class="p-3 mb-2 bg-light text-dark">
                                                <ul>

                                                    <li v-for="eachOd in order.orderDetails">物品序號: {{eachOd.itemSn}} </li>

                                                </ul>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                        </div>
                    </b-tab>

                    <!-- 租借中 -->
                    <b-tab :title="tab3_title" :title-link-class="linkClass(3)">
                        <div class="tableFixHead">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="width:200px">訂單明細</th>
                                        <th style="width:175px">訂單序號</th>
                                        <th style="width:175px">設備序號</th>
                                        <th style="width:175px">設備名稱</th>
                                        <th style="width:175px">租借數量</th>
                                        <th style="width:200px">取貨時間</th>
                                        <th style="width:175px">租借天數</th>
                                        <th style="width:175px">總金額</th>
                                        <th style="width:200px">下單時間</th>
                                        <th style="width:200px">訂單狀態</th>
                                        <th style="width:200px">問題反映</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <template v-for="order in orders_3">
                                        <tr>
                                            <td><i class="bi bi-justify-left" style="font-size: 20px;" @@click="toggle(order.orderId)"></i></td>
                                            <td>{{order.orderSn}}</td>
                                            <td>{{order.equipmentSn}}</td>
                                            <td>{{order.equipmentName}}</td>
                                            <td>{{order.quantity}}</td>
                                            <td>{{order.estimatedPickupTime | timeString('YYYY-MM-DD')}}</td>
                                            <td>{{order.day}}</td>
                                            <td>{{order.unitPrice * order.day * order.quantity}}</td>
                                            <td>{{order.orderTime | timeString('YYYY-MM-DD')}}</td>
                                            <td>租借中</td>
                                            <td><b-btn @@click="reportAction(order)" data-toggle="modal" data-target="#reportModal">問題反映</b-btn></td>
                                        </tr>
                                        <tr v-if="opened.includes(order.orderId)">
                                            <td colspan="11" class="p-3 mb-2 bg-light text-dark">
                                                <ul>

                                                    <li v-for="eachOd in order.orderDetails">物品序號: {{eachOd.itemSn}} </li>

                                                </ul>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                        </div>
                    </b-tab>

                    <!-- 已逾期 -->
                    <b-tab :title="tab4_title" :title-link-class="linkClass(4)">
                        <div class="tableFixHead">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="width:175px">訂單明細</th>
                                        <th style="width:175px">訂單序號</th>
                                        <th style="width:175px">設備序號</th>
                                        <th style="width:175px">設備名稱</th>
                                        <th style="width:175px">租借數量</th>
                                        <th style="width:200px">取貨時間</th>
                                        <th style="width:175px">租借天數</th>
                                        <th style="width:175px">總金額</th>
                                        <th style="width:175px">額外費用</th>
                                        <th style="width:200px">下單時間</th>
                                        <th style="width:250px">訂單狀態</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <template v-for="order in orders_4">
                                        <tr>
                                            <td><i class="bi bi-justify-left" style="font-size: 20px;" @@click="toggle(order.orderId)"></i></td>
                                            <td>{{order.orderSn}}</td>
                                            <td>{{order.equipmentSn}}</td>
                                            <td>{{order.equipmentName}}</td>
                                            <td>{{order.quantity}}</td>
                                            <td>{{order.estimatedPickupTime | timeString('YYYY-MM-DD')}}</td>
                                            <td>{{order.day}}</td>
                                            <td>{{order.unitPrice * order.day * order.quantity}}</td>
                                            <td>{{order.totalExtraFee}}</td>
                                            <td>{{order.orderTime | timeString('YYYY-MM-DD')}}</td>
                                            <td><span v-if="order.totalExtraFee!=0 && order.paymentReceived != order.totalPaymentFee">產生逾期費用,請盡速繳清並歸還</span>
                                                <span v-if="order.totalExtraFee==0 && order.paymentReceived == order.totalPaymentFee">即將產生逾期費用, 請盡速歸還</span>
                                                <span v-if="order.totalExtraFee!=0 && order.paymentReceived == order.totalPaymentFee">已繳清逾期費用,請盡速歸還</span></td>

                                        </tr>
                                        <tr v-if="opened.includes(order.orderId)">
                                            <td colspan="11" class="p-3 mb-2 bg-light text-dark">
                                                <ul>

                                                    <li v-for="eachOd in order.orderDetails">物品序號: {{eachOd.itemSn}} </li>

                                                </ul>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                            <b-button variant="danger" href="/payment">前往付款</b-button>
                        </div>
                    </b-tab>

                    <!-- 額外費用 -->
                    <b-tab :title="tab5_title" :title-link-class="linkClass(5)">
                        <div class="tableFixHead">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="width:175px">訂單明細</th>
                                        <th style="width:175px">訂單序號</th>
                                        <th style="width:175px">設備序號</th>
                                        <th style="width:175px">設備名稱</th>
                                        <th style="width:175px">租借數量</th>
                                        <th style="width:200px">取貨時間</th>
                                        <th style="width:175px">租借天數</th>
                                        <th style="width:175px">總金額</th>
                                        <th style="width:175px">額外費用</th>
                                        <th style="width:200px">下單時間</th>
                                        <th style="width:250px">訂單狀態</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <template v-for="order in orders_5">
                                        <tr>
                                            <td><i class="bi bi-justify-left" style="font-size: 20px;" @@click="toggle(order.orderId)"></i></td>
                                            <td>{{order.orderSn}}</td>
                                            <td>{{order.equipmentSn}}</td>
                                            <td>{{order.equipmentName}}</td>
                                            <td>{{order.quantity}}</td>
                                            <td>{{order.estimatedPickupTime | timeString('YYYY-MM-DD')}}</td>
                                            <td>{{order.day}}</td>
                                            <td>{{order.unitPrice * order.day * order.quantity}}</td>
                                            <td>{{order.totalExtraFee}}</td>
                                            <td>{{order.orderTime | timeString('YYYY-MM-DD')}}</td>
                                            <td>因損壞產生額外費用,請盡速繳清</td>
                                        </tr>
                                        <tr v-if="opened.includes(order.orderId)">
                                            <td colspan="11" class="p-3 mb-2 bg-light text-dark">
                                                <ul>

                                                    <li v-for="eachOd in order.orderDetails">物品序號: {{eachOd.itemSn}} </li>

                                                </ul>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                            <b-button variant="danger" href="/payment">前往付款</b-button>
                        </div>
                    </b-tab>

                    <!-- 已結束 -->
                    <b-tab :title="tab6_title" :title-link-class="linkClass(6)">
                        <div class="tableFixHead">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="width:175px">訂單明細</th>
                                        <th style="width:175px">訂單序號</th>
                                        <th style="width:175px">設備序號</th>
                                        <th style="width:175px">設備名稱</th>
                                        <th style="width:175px">租借數量</th>
                                        <th style="width:200px">取貨時間</th>
                                        <th style="width:175px">租借天數</th>
                                        <th style="width:175px">總金額</th>
                                        <th style="width:175px">額外費用</th>
                                        <th style="width:200px">下單時間</th>
                                        <th style="width:250px">訂單狀態</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <template v-for="order in orders_6">
                                        <tr>
                                            <td><i class="bi bi-justify-left" style="font-size: 20px;" @@click="toggle(order.orderId)"></i></td>
                                            <td>{{order.orderSn}}</td>
                                            <td>{{order.equipmentSn}}</td>
                                            <td>{{order.equipmentName}}</td>
                                            <td>{{order.quantity}}</td>
                                            <td>{{order.estimatedPickupTime | timeString('YYYY-MM-DD')}}</td>
                                            <td>{{order.day}}</td>
                                            <td>{{order.unitPrice * order.day * order.quantity}}</td>
                                            <td>{{order.totalExtraFee}}</td>
                                            <td>{{order.orderTime | timeString('YYYY-MM-DD')}}</td>
                                            <td><span v-if="order.orderDetails.length == 0">已取消</span><span v-else>已結案</span></td>
                                        </tr>
                                        <tr v-if="opened.includes(order.orderId)">
                                            <td colspan="11" class="p-3 mb-2 bg-light text-dark">
                                                <ul>

                                                    <li v-for="eachOd in order.orderDetails">物品序號: {{eachOd.itemSn}} </li>

                                                </ul>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                        </div>
                    </b-tab>
                </b-tabs>
            </b-card>
         </div>
    </b-overlay>
    <br />
    <br />
    <br />


    <!-- 問題反映Modal -->
    <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold text-danger" id="exampleModalLabel">問題反映</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label class="col-form-label">訂單編號</label>
                            <input type="text" class="form-control" :value="currentOrder.orderSn" readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="col-form-label">設備名稱</label>
                            <input type="text" class="form-control" :value="currentOrder.equipmentName" readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="col-form-label">設備序號</label>
                            <input type="text" class="form-control" :value="currentOrder.equipmentSn" readonly>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label class="col-form-label">數量</label>
                            <input type="text" class="form-control" :value="currentOrder.quantity" readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="col-form-label">物品序號</label>
                            <select required class="form-control" v-on:change="selectReportItem(currentOrder.orderDetails)" v-model="reportOrder.reportItemSn">
                                <option disabled selected>請先選擇序號</option>
                                <option v-for="itemSn in reportOrder.reportItemList" :value="itemSn">{{itemSn}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <b-btn class="btn btn-primary active" :href="reportUrl" :disabled="cannotReport">填寫設備報修申請</b-btn>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 取消訂單Modal -->
    <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold text-danger" id="exampleModalLabel">取消租借</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label class="col-form-label">訂單編號</label>
                            <input type="text" class="form-control" :value="currentOrder.orderSn" readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="col-form-label">設備名稱</label>
                            <input type="text" class="form-control" :value="currentOrder.equipmentName" readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="col-form-label">設備序號</label>
                            <input type="text" class="form-control" :value="currentOrder.equipmentSn" readonly>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label class="col-form-label">數量</label>
                            <input type="text" class="form-control" :value="currentOrder.quantity" readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="col-form-label">取貨日期</label>
                            <input type="text" class="form-control" :value="currentOrder.estimatedPickupTime | timeString('YYYY-MM-DD')" readonly>
                        </div>
                        <div class="form-group col-md-2">
                            <label class="col-form-label">租借天數</label>
                            <input type="text" class="form-control" :value="currentOrder.day" readonly>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="col-form-label">總金額</label>
                            <input type="text" class="form-control" :value="currentOrder.day * currentOrder.unitPrice * currentOrder.quantity" readonly>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label class="col-form-label">取消原因</label>
                            <input type="text" class="form-control" v-model="cancelOrder.cancelDiscription" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <b-btn type="button" class="btn btn-primary" @@click="cancelConfirm($event)" :disabled="cannotCancel">確定</b-btn>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    Vue.filter('timeString', function (value, myFormat) {
        return moment(value).format(myFormat || 'YYYY-MM-DD, HH:mm:ss');
    });
    var app = new Vue({

        el: '#app',
        data: {
            loading: true,
            tabIndex: 0,
            orders: [],
            orders_0: [],
            orders_1: [],
            orders_2: [],
            orders_3: [],
            orders_4: [],
            orders_5: [],
            orders_6:[],
            currentOrder: {


            },
            cancelOrder: {
                cancelDiscription: ""

            },

            reportOrder: {
                reportItemSn: "",
                reportOrderDetailId: "",
                reportItemList: []

            },
            reportUrl: "",
            selected: [],
            selectAll: false,
            totalPrice: [0],
            cashTotalPrice: 0,
            opened: [],
            mpgInfo: {
                merchantID: "",
                tradeInfo: "",
                tradeSha: "",
                version: "",
                totalPrice: 0
            }

        },

        created() {

            let url = '/OrderApi/GetOrders';
            let request = {
                method: "GET",
                headers: { "content-type": "application/json" }
            };
            fetch(url, request)
                .then(response => {
                    if (response.ok) {
                        console.log("資料庫連線成功");
                        return response.json();

                    } else {
                        this.loading = false;
                        console.log("資料擷取失敗");

                    }
                }).then(response => {

                    this.orders = response;

                }).then(response => { 

                    this.orders.forEach(od => {

                        if (od.tabName == "待核可")
                        {
                            this.orders_0.push(od);
                        }

                        else if (od.tabName == "待付款")
                        {
                            this.orders_1.push(od);
                        }

                        else if (od.tabName == "待領取") {
                            this.orders_2.push(od);
                        }

                        else if (od.tabName == "租借中")
                        {
                            this.orders_3.push(od);
                        }

                        else if (od.tabName == "已逾期")
                        {
                            this.orders_4.push(od);
                        }

                        else if (od.tabName == "已結束" && od.totalExtraFee != 0 && od.paymentReceived != od.totalPaymentFee)
                        {

                            this.orders_5.push(od);
                        }

                        else 
                        {
                            this.orders_6.push(od);
                        }


                    })

                    this.loading = false;

                }).catch (error => {
                        this.loading = false;
                        alert("資料庫連線失敗");
                        console.log(error);
                })

        },


        methods: {
            
            cancelOrderAction: function (orderData) {
                this.currentOrder = orderData;

            },

            cancelConfirm: function () {

                let requestData = {
                    orderID: this.currentOrder.orderId,
                    description: this.cancelOrder.cancelDiscription
                };
                let url = "/OrderApi/CancelOrder";
                let request = {
                    body: JSON.stringify(requestData),
                    method: "POST",
                    headers: {
                        "content-type": "application/json"
                    }
                }
                fetch(url, request)
                    .then(r => {
                        if (r.ok) {
                            alert("取消成功");
                            location.reload(true);

                        } else {
                            alert("資料有誤");
                        }
                    })
                    .catch(error => {

                        alert("取消失敗");
                        console.log(error);
                    })
            },

            reportAction: function (orderData) {

                this.currentOrder = orderData;
                if (this.reportOrder.reportItemList.length == 0) {
                    this.currentOrder.orderDetails.forEach(od => {

                        if (od.orderDetailStatusId == "T") {

                            this.reportOrder.reportItemList.push(od.itemSn);

                        }

                    })
                }
            },

            selectReportItem: function (orderDetailData) {
                this.reportOrder.reportOrderDetailId = orderDetailData[0].orderDetailId;
                this.reportUrl = '/orderreport?orderDetailId=' + this.reportOrder.reportOrderDetailId + '&ename='
                    + this.currentOrder.equipmentName + "&esn=" + this.currentOrder.equipmentSn + "&itemsn=" + this.reportOrder.reportItemSn
            },

            selectAllAction: function () {
                this.selected = [];
                if (!this.selectAll) {
                    for (let i = 0; i < this.orders_1.length; i++) {
                        this.selected.push(this.orders_1[i]);
                    }

                }
            },

            toggle: function (orderId) {
                let index = this.opened.indexOf(orderId)
                if (index > -1) {

                    this.opened.splice(index, 1)

                } else {
                    this.opened = []
                    this.opened.push(orderId)
                }
            },

            linkClass: function (currentTab) {

                if (this.tabIndex == currentTab) {
                    return ['bg-light', 'text-primary', 'fw-bold']
                } else {
                    return ['bg-white']
                }


            }

        },

        computed: {


            cannotCancel() {
                return this.cancelOrder.cancelDiscription == ""

            },

            cannotReport() {

                return this.reportOrder.reportItemSn == ""

            },

            tab0_title() {

                return "待核可" + " " + "(" + this.orders_0.length.toString() + ")";

            },

            tab1_title() {

                return "待付款" + " " + "(" + this.orders_1.length.toString() + ")";

            },

            tab2_title() {

                return "待領取" + " " + "(" + this.orders_2.length.toString() + ")";

            },

            tab3_title() {

                return "租借中" + " " + "(" + this.orders_3.length.toString() + ")";

            },

            tab4_title() {

                return "已逾期" + " " + "(" + this.orders_4.length.toString() + ")";

            },

            tab5_title() {

                return "額外費用" + " " + "(" + this.orders_5.length.toString() + ")";

            },

            tab6_title() {

                return "已結案" + " " + "(" + this.orders_6.length.toString() + ")";

            }
        }
    })

</script>

<style>

    .tableFixHead {
        overflow: auto;
        height: 350px;
    }

    .tableFixHead thead th {
            position: sticky;
            top: 0;
            background-color: #F5F5F5;
    }

</style>
