<head>
    <link href="~/css/Reaction.css" rel="stylesheet" />
</head>

<body>
    <div id="app">
        <div class="title">設備問題反應</div>
        <form action="#" method="post">
            <div class="description">
                <label class="text">問題描述：</label>
                <br />
                <textarea class="textarea" name="description" placeholder="請輸入內容"></textarea>
            </div>
            <br />
            <br />
            <br />
            <div class="button">
                <input type="submit" value="送出" id="btnReaction" />
            </div>
        </form>
    </div>
</body>

<script>
    var app = new Vue({
        el: '#app',
        data: {

        },

        methods: {

        },

    })
</script>