<style>
    #app {
        background: linear-gradient(135deg,#33398d,#808080,#000000);
        max-width: 500px;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        margin: 0 auto;
    }

    .title {
        font-size: 40px;
        font-weight: 400;
        text-align: center;
        color: #ffffff;
    }

    form input {
        width: 78%;
    }

    .field {
        height: 300px;
        width: 100%;
    }

    .label {
        font-size: 20px;
        color: #ffffff;
    }

    .field .input {
        height: 100%;
        width: 100%;
        resize: none;
    }

    .button {
        padding-left: 100px;
        padding-right: 100px;
    }

        .button .btn {
            width: 100%;
            height: 100%;
            color: #ffffff;
            font-weight: bold;
            background: #0026ff;
            font-size: 20px;
        }
</style>

<div id="app">
    <form>
        <div class="title">設備問題反映</div>
        <div>
            <label class="label">設備名稱：</label>
            <input type="text" readonly :value="eName" />
        </div>
        <div>
            <label class="label">設備序號：</label>
            <input type="text" readonly :value="eSn" />
        </div>
        <div>
            <label class="label">物品序號：</label>
            <input type="text" readonly :value="iSn" />
        </div>
        <div class="field">
            <label class="label">問題描述：</label>
            <textarea class="input" name="description" v-model="addDescription"></textarea>
        </div>
        <br />
        <br />
        <div class="button">
            <button type="button" class="btn" v-on:click="addNewReport">送出</button>
        </div>
    </form>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            addDescription: '',
            queries: [],
            eName: '',
            eSn: '',
            iSn: ''
        },

        created: function () {
            //window.location.search =======> ?orderDetailId=1&ename=筆電&esn=SN12&itemsn=SN29
            let queryStrArr = window.location.search.slice(1).split("&");
            // queryStrArr =======> ["orderDetailId=1","ename=筆電","esn=SN12","itemsn=SN29"]
            console.log(queryStrArr);
            for (let i = 0; i < queryStrArr.length; i++) {
                let keyvaluePair = queryStrArr[i].split("=");
                this.queries[keyvaluePair[0]] = decodeURI(keyvaluePair[1]);
                console.log(keyvaluePair);
            }
            console.log(this.queries);
            this.eName = this.queries.ename;
            this.eSn = this.queries.esn;
            this.iSn = this.queries.itemsn;
        },

        methods: {
            addNewReport: function () {
                let requestData = {
                    orderDetailId: this.queries.orderDetailId,
                    description: this.addDescription
                };

                fetch('/ReportApi/PostReport',
                    {
                        method: 'POST',
                        body: JSON.stringify(requestData),
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    })
                    .then(res => {
                        if (res.ok) {
                            alert('已送出');
                            location.href = '/order';
                        } else {
                            alert('資料有誤');
                        }
                    })
                    .catch(err => {
                        console.log(err, err.message);
                        alert('送出失敗');
                    })
            }
        }
    })
</script>