<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
<div id="app">
    <!--提醒-->
    <div>
        <b-button variant="warning" class="font-weight-bolder">
            <img src="/images/timer_black_24dp.svg" />
            待審核訂單 <b-badge variant="light" class="text-dark">{{getLengthofPending()}}</b-badge>
        </b-button>
        <b-button variant="dark" class="font-weight-bolder">
            <img src="/images/paid_white_24dp.svg" />
            待付款訂單 <b-badge variant="light" class="text-dark">{{getLengthofNotPaid()}}</b-badge>
        </b-button>
        <b-button variant="success" class="font-weight-bolder">
            <img src="/images/lightbulb_white_24dp.svg" />
            待領取訂單 <b-badge variant="light" class="text-dark">{{getLengthofPickup()}}</b-badge>
        </b-button>
        <b-button variant="primary" class="font-weight-bolder">
            <img src="/images/outbox_white_24dp.svg" />
            租借中訂單 <b-badge variant="light" class="text-dark">{{getLengthofRenting()}}</b-badge>
        </b-button>
        <b-button variant="danger" class="font-weight-bolder">
            <img src="/images/new_releases_white_24dp.svg" />
            已逾期訂單 <b-badge variant="light" class="text-dark">{{getLengthofOverdue()}}</b-badge>
        </b-button>
        <b-button variant="info" class="font-weight-bolder">
            <img src="/images/pending_actions_black_24dp.svg" />
            未結案之報修 <b-badge variant="light" class="text-dark">{{getLengthofOpenReport()}}</b-badge>
        </b-button>

    </div>

    </br>
    <b-tabs active-nav-item-class="font-weight-bold" v-model="tabIndex"
            active-tab-class="font-weight-bold text-dark" content-class="mt-3" fill>
        <!--ALL ORDERS-->
        <b-tab title="所有訂單" :title-link-class="linkClass(0)" active v-on:click="GetAllOrders">
            <b-navbar-nav class="ml-auto">
                <template>
                    <div>
                        </br>
                        <div>
                            <b-form inline class="d-flex justify-content-between">
                                <div>
                                    排序:
                                    <b>{{ sortDesc ? '倒序' : '正序' }}</b>
                                </div>
                                <div>
                                    <b-pagination v-model="currentPage"
                                                  :total-rows="rows"
                                                  :per-page="perPage" align="right"
                                                  aria-controls="my-table"></b-pagination>
                                </div>
                            </b-form>
                        </div>

                        <b-table id="my-table"
                                 :per-page="perPage"
                                 :current-page="currentPage"
                                 :items="items"
                                 :fields="fields"
                                 :sort-by.sync="sortBy"
                                 :sort-desc.sync="sortDesc"
                                 sort-icon-left
                                 responsive="sm" striped>

                            <template #cell(show_details)="row">
                                <b-button size="sm" @@click="row.toggleDetails" class="mr-2">
                                    {{ row.detailsShowing ? '隱藏' : '顯示'}}
                                </b-button>

                                <!-- As `row.showDetails` is one-way, we call the toggleDetails function on @@change -->
                                @*<b-form-checkbox v-model="row.detailsShowing" @@change="row.toggleDetails">
                    Details via check
                </b-form-checkbox>*@
                            </template>

                            <template #row-details="row">
                                <b-card>
                                    <b-row>
                                        <b-col><b>訂單明細編號</b></b-col>
                                        <b-col><b>物品序號</b></b-col>
                                        <b-col><b>物品描述</b></b-col>
                                        <b-col><b>物品狀態</b></b-col>
                                    </b-row>
                                    <hr />
                                    <b-row v-for="item in row.item.orderDetails">
                                        <b-col>{{ item.orderDetailSn }}</b-col>
                                        <b-col>{{ item.itemSn }}</b-col>
                                        <b-col>{{ item.itemDescription }}</b-col>
                                        <b-col>{{ item.orderDetailStatus }}</b-col>
                                    </b-row>

                                    <b-button size="sm" @@click="row.toggleDetails">隱藏</b-button>
                                </b-card>
                            </template>
                        </b-table>
                        <div>
                            <b-pagination v-model="currentPage"
                                          :total-rows="rows"
                                          :per-page="perPage" align="right"
                                          aria-controls="my-table"></b-pagination>
                        </div>
                        <p></br></p>
                        <p></br></p>
                    </div>
                </template>
        </b-tab>
        </br>

        <!--PENDING ORDERS-->
        <b-tab title="待核可" :title-link-class="linkClass(1)" v-on:click="GetPendingOrders">
            <b-navbar-nav class="ml-auto">
                <template>
                    <div>
                        <div>
                            <b-form inline class="d-flex justify-content-between">
                                <div>
                                    排序:
                                    <b>{{ sortDesc ? '倒序' : '正序' }}</b>
                                </div>
                                <div>
                                    <b-pagination v-model="currentPage"
                                                  :total-rows="rows"
                                                  :per-page="perPage" align="right"
                                                  aria-controls="my-table"></b-pagination>
                                </div>
                            </b-form>
                        </div>

                        <b-table id="my-table"
                                 :per-page="perPage"
                                 :current-page="currentPage"
                                 :items="items"
                                 :fields="fields"
                                 responsive="sm"
                                 :sort-by.sync="sortBy"
                                 :sort-desc.sync="sortDesc"
                                 sort-icon-left>
                            <template #cell(btnItem)="data">
                                <b-icon-ui-checks @@click="showDataAndModal(data.item)"
                                                  size="sm" class="mr-2">
                                </b-icon-ui-checks>
                                <b-icon-x-circle-fill @@click="showDenialModal(data.item.orderId)"
                                                      size="sm" class="mr-2">
                                </b-icon-x-circle-fill>
                            </template>
                        </b-table>
                        <div>
                            <b-pagination v-model="currentPage"
                                          :total-rows="rows"
                                          :per-page="perPage" align="right"
                                          aria-controls="my-table"></b-pagination>
                        </div>
                        <p></br></p>
                        <p></br></p>
                    </div>
                </template>
                
        </b-tab>

        <!-- 分配 item modal -->
        <div>
            <b-modal id="distribute-item-modal"
                     @@ok="confirmDistribution"
                     @@cancel="resetDistributionData"
                     @@close="resetDistributionData"
                     ok-title="確認"
                     :ok-disabled="distributionInvalid"
                     cancel-title="返回">
                <template #modal-title>
                    請選擇要分配的物品
                </template>
                <form>
                    <p>應要分配 {{itemsToBeDistributed.quantity}} 個</p>
                    <p>還需分配 {{itemsToBeDistributed.quantity - distributionData.itemIDs.length}} 個</p>
                    <div v-for="item in itemsToBeDistributed.items">
                        <input :id="item.itemId"
                               type="checkbox"
                               :value="item.itemId"
                               @@change="selectDistributedItems(item.itemId, $event)" />
                        <label :for="item.itemId">{{item.itemSn}}</label>
                    </div>
                </form>
            </b-modal>

            <!-- 分配 item 失敗 modal -->
            <b-modal id="distribute-failed"
                     ok-only
                     @@ok="distributeFailed"
                     ok-title="返回"
                     ok-variant="secondary">
                分配失敗
            </b-modal>

            <!-- 分配 item 成功 modal -->
            <b-modal id="distribute-success"
                     ok-only
                     @@ok="resetDistributionData(); distributionSuccess()"
                     ok-title="完成">
                分配成功
            </b-modal>
        </div>

        <!-- 拒絕 order modal -->
        <div>
            <b-modal id="deny-modal"
                     @@ok="confirmDenial"
                     ok-title="確認"
                     cancel-title="返回">
                <template #modal-title>
                    <p class="font-weight-bold text-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M13 17.5a1 1 0 11-2 0 1 1 0 012 0zm-.25-8.25a.75.75 0 00-1.5 0v4.5a.75.75 0 001.5 0v-4.5z"></path><path fill-rule="evenodd" d="M9.836 3.244c.963-1.665 3.365-1.665 4.328 0l8.967 15.504c.963 1.667-.24 3.752-2.165 3.752H3.034c-1.926 0-3.128-2.085-2.165-3.752L9.836 3.244zm3.03.751a1 1 0 00-1.732 0L2.168 19.499A1 1 0 003.034 21h17.932a1 1 0 00.866-1.5L12.866 3.994z"></path></svg> 確認拒絕
                    </p>
                </template>
                <div>
                    <p>確認拒絕該筆訂單?</p>
                </div>
            </b-modal>
            <!-- 拒絕失敗 modal -->
            <b-modal id="deny-failed"
                     ok-only
                     ok-title="返回"
                     ok-variant="secondary">
                拒絕失敗
            </b-modal>

            <!-- 拒絕成功 modal -->
            <b-modal id="deny-success"
                     ok-only
                     @@ok="deniedSuccessfully()"
                     ok-title="完成">
                拒絕成功
            </b-modal>
        </div>

        <!--OUTSTANDING ORDERS-->
        <b-tab title="待付款" :title-link-class="linkClass(2)" v-on:click="GetOutstandingOrders">
            <b-navbar-nav class="ml-auto">
                <template>
                    <div>
                        <div>
                            <b-form inline class="d-flex justify-content-between">
                                <div>
                                    排序:
                                    <b>{{ sortDesc ? '倒序' : '正序' }}</b>
                                </div>
                                <div>
                                    <b-pagination v-model="currentPage"
                                                  :total-rows="rows"
                                                  :per-page="perPage" align="right"
                                                  aria-controls="my-table"></b-pagination>
                                </div>
                            </b-form>
                        </div>

                        <b-table id="my-table"
                                 :per-page="perPage"
                                 :current-page="currentPage"
                                 :items="items"
                                 :fields="fields"
                                 :sort-by.sync="sortBy"
                                 :sort-desc.sync="sortDesc"
                                 sort-icon-left
                                 responsive="sm" striped>

                            <template #cell(show_details)="row">
                                <b-button size="sm" @@click="row.toggleDetails" class="mr-2">
                                    {{ row.detailsShowing ? '隱藏' : '顯示'}}
                                </b-button>
                            </template>

                            <template #row-details="row">
                                <b-card>
                                    <b-row>
                                        <b-col><b>訂單明細編號</b></b-col>
                                        <b-col><b>物品序號</b></b-col>
                                        <b-col><b>物品描述</b></b-col>
                                        <b-col><b>物品狀態</b></b-col>
                                    </b-row>
                                    <hr />
                                    <b-row v-for="item in row.item.orderDetails">
                                        <b-col>{{ item.orderDetailSn }}</b-col>
                                        <b-col>{{ item.itemSn }}</b-col>
                                        <b-col>{{ item.itemDescription }}</b-col>
                                        <b-col>{{ item.orderDetailStatus }}</b-col>
                                    </b-row>
                                    <b-button size="sm" @@click="row.toggleDetails">隱藏</b-button>
                                </b-card>
                            </template>
                        </b-table>
                        <div>
                            <b-pagination v-model="currentPage"
                                          :total-rows="rows"
                                          :per-page="perPage" align="right"
                                          aria-controls="my-table"></b-pagination>
                        </div>
                        <p></br></p>
                        <p></br></p>
                    </div>
                </template>
                
        </b-tab>


        <!--PICKUP ORDERS-->
        <b-tab title="待領取" :title-link-class="linkClass(3)" v-on:click="PickUpOrders">
            <b-navbar-nav class="ml-auto">
                <template>
                    <div>
                        <div>
                            <b-form inline class="d-flex justify-content-between">
                                <div>
                                    排序:
                                    <b>{{ sortDesc ? '倒序' : '正序' }}</b>
                                </div>
                                <div>
                                    <b-pagination v-model="currentPage"
                                                  :total-rows="rows"
                                                  :per-page="perPage" align="right"
                                                  aria-controls="my-table"></b-pagination>
                                </div>
                            </b-form>
                        </div>
                        <div>
                            <b-table id="my-table"
                                     :per-page="perPage"
                                     :current-page="currentPage"
                                     :items="items" :fields="fields" :sort-by.sync="sortBy"
                                     :sort-desc.sync="sortDesc"
                                     sort-icon-left striped responsive="sm">
                                <template #cell(show_details)="row">
                                    <b-button size="sm" @@click="row.toggleDetails" class="mr-2">
                                        {{ row.detailsShowing ? '隱藏' : '顯示'}}
                                    </b-button>
                                </template>

                                <template #row-details="row">
                                    <b-card>
                                        <b-row>
                                            <b-col><b>訂單明細編號</b></b-col>
                                            <b-col><b>物品序號</b></b-col>
                                            <b-col><b>物品描述</b></b-col>
                                            <b-col><b>物品狀態</b></b-col>
                                            <b-col><b>領取</b></b-col>
                                        </b-row>
                                        <hr />
                                        <b-row v-for="item in row.item.orderDetails">
                                            <b-col>{{ item.orderDetailSn }}</b-col>
                                            <b-col>{{ item.itemSn }}</b-col>
                                            <b-col>{{ item.itemDescription }}</b-col>
                                            <b-col>{{ item.orderDetailStatus }}</b-col>
                                            <b-col>
                                                <b-icon-bag-check v-if="item.orderDetailStatus !='已領取' && checkPickupDate(row)" size="sm" @@click="showPickupModal(item)"></b-icon-bag-check>
                                            </b-col>
                                        </b-row>
                                        <b-button size="sm" @@click="row.toggleDetails">隱藏</b-button>
                                    </b-card>
                                </template>
                            </b-table>
                            <div>
                                <b-pagination v-model="currentPage"
                                              :total-rows="rows"
                                              :per-page="perPage" align="right"
                                              aria-controls="my-table"></b-pagination>
                            </div>
                            <p></br></p>
                            <p></br></p>
                        </div>
                    </div>
                </template>
                
        </b-tab>

        <div>
            <b-modal id="pickup-modal"
                     @@ok="confirmPickup"
                     ok-title="確認"
                     cancel-title="返回">
                <template #modal-title>
                    <p class="font-weight-bold">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M5.962 2.513a.75.75 0 01-.475.949l-.816.272a.25.25 0 00-.171.237V21.25c0 .138.112.25.25.25h14.5a.25.25 0 00.25-.25V3.97a.25.25 0 00-.17-.236l-.817-.272a.75.75 0 01.474-1.424l.816.273A1.75 1.75 0 0121 3.97v17.28A1.75 1.75 0 0119.25 23H4.75A1.75 1.75 0 013 21.25V3.97a1.75 1.75 0 011.197-1.66l.816-.272a.75.75 0 01.949.475z"></path><path fill-rule="evenodd" d="M7 1.75C7 .784 7.784 0 8.75 0h6.5C16.216 0 17 .784 17 1.75v1.5A1.75 1.75 0 0115.25 5h-6.5A1.75 1.75 0 017 3.25v-1.5zm1.75-.25a.25.25 0 00-.25.25v1.5c0 .138.112.25.25.25h6.5a.25.25 0 00.25-.25v-1.5a.25.25 0 00-.25-.25h-6.5z"></path></svg> 確認領取物品
                    </p>
                </template>
                <div>
                    <label :for="pickupData.description">請輸入領取檢查備註:</label>
                    <b-form-input :id="pickupData.description"
                                  type="text"
                                  :value="pickupData.description"
                                  v-model="pickupData.description"></b-form-input>
                </div>
            </b-modal>
            <!-- 領取失敗 modal -->
            <b-modal id="pickup-failed"
                     ok-only
                     ok-title="返回"
                     ok-variant="secondary">
                領取失敗
            </b-modal>

            <!--領取成功 modal -->
            <b-modal id="pickup-success"
                     ok-only
                     @@ok="pickupedSuccessfully()"
                     ok-title="完成">
                領取成功
            </b-modal>
        </div>

        <!--ONGOING ORDERS-->
        <b-tab title="租借中" :title-link-class="linkClass(4)" v-on:click="OnGoingOrders">
            <b-navbar-nav class="ml-auto">
                @*<b-nav-form>
                    <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
                    <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
                </b-nav-form>
                <hr />*@
                <template>
                    <div>
                        <div>
                            <b-form inline class="d-flex justify-content-between">
                                <div>
                                    排序:
                                    <b>{{ sortDesc ? '倒序' : '正序' }}</b>
                                </div>
                                <div>
                                    <b-pagination v-model="currentPage"
                                                  :total-rows="rows"
                                                  :per-page="perPage" align="right"
                                                  aria-controls="my-table"></b-pagination>
                                </div>
                            </b-form>
                        </div>

                        <b-table id="my-table"
                                 :per-page="perPage"
                                 :current-page="currentPage"
                                 :items="items" :fields="fields" :sort-by.sync="sortBy"
                                 :sort-desc.sync="sortDesc"
                                 sort-icon-left striped responsive="sm">
                            <template #cell(hasReports)="report">
                                <b-icon-app-indicator v-if="report.item.openReportCount != 0"></b-icon-app-indicator>
                                <b-icon-app v-if="report.item.openReportCount == 0"></b-icon-app>
                            </template>
                            <template #cell(show_details)="row">
                                <b-button size="sm" @@click="row.toggleDetails" class="mr-2">
                                    {{ row.detailsShowing ? '隱藏' : '顯示'}}
                                </b-button>
                            </template>

                            <template #row-details="row">
                                <b-card>
                                    <b-row>
                                        <b-col><b>訂單明細編號</b></b-col>
                                        <b-col><b>物品序號</b></b-col>
                                        <b-col><b>物品描述</b></b-col>
                                        <b-col><b>物品狀態</b></b-col>
                                        <b-col><b>歸還/遺失</b></b-col>
                                        <b-col><b>問題反映</b></b-col>
                                    </b-row>
                                    <hr />
                                    <b-row v-for="item in row.item.orderDetails">
                                        <b-col>{{ item.orderDetailSn }}</b-col>
                                        <b-col>{{ item.itemSn }}</b-col>
                                        <b-col>{{ item.itemDescription }}</b-col>
                                        <b-col>{{ item.orderDetailStatus }}</b-col>
                                        <b-col>
                                            <span v-if="item.orderDetailStatus !='已歸還'">
                                                <b-icon-box size="sm" @@click="showReturnModal(item)"></b-icon-box>
                                                /
                                                <b-icon-question-circle size="sm" @@click="showLostModal(item)"></b-icon-question-circle>
                                            </span>
                                        </b-col>
                                        <b-col>
                                            <b-button v-if="item.openReportCounts != 0" size="sm" @@click="showReportModal(item)">查看</b-button>
                                        </b-col>
                                    </b-row>
                                    <b-button size="sm" @@click="row.toggleDetails">隱藏</b-button>
                                </b-card>
                            </template>
                        </b-table>
                        <div>
                            <b-pagination v-model="currentPage"
                                          :total-rows="rows"
                                          :per-page="perPage" align="right"
                                          aria-controls="my-table"></b-pagination>
                        </div>
                        <p></br></p>
                        <p></br></p>
                    </div>
                </template>
        </b-tab>

        <div>
            <!--Return-modal-->
            <b-modal id="return-modal"
                     @@ok="confirmReturn"
                     ok-title="確認"
                     cancel-title="返回">
                <template #modal-title>
                    <p class="font-weight-bold">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M5.962 2.513a.75.75 0 01-.475.949l-.816.272a.25.25 0 00-.171.237V21.25c0 .138.112.25.25.25h14.5a.25.25 0 00.25-.25V3.97a.25.25 0 00-.17-.236l-.817-.272a.75.75 0 01.474-1.424l.816.273A1.75 1.75 0 0121 3.97v17.28A1.75 1.75 0 0119.25 23H4.75A1.75 1.75 0 013 21.25V3.97a1.75 1.75 0 011.197-1.66l.816-.272a.75.75 0 01.949.475z"></path><path fill-rule="evenodd" d="M7 1.75C7 .784 7.784 0 8.75 0h6.5C16.216 0 17 .784 17 1.75v1.5A1.75 1.75 0 0115.25 5h-6.5A1.75 1.75 0 017 3.25v-1.5zm1.75-.25a.25.25 0 00-.25.25v1.5c0 .138.112.25.25.25h6.5a.25.25 0 00.25-.25v-1.5a.25.25 0 00-.25-.25h-6.5z"></path></svg> 確認歸還物品
                    </p>
                </template>
                <div>
                    <label>請確認是否損壞:</label>
                    <b-form-checkbox id="returnData.functionsNormally"
                                     v-model="returnData.functionsNormally"
                                     value=true>
                        無損
                    </b-form-checkbox>
                    <b-form-checkbox id="returnData.functionsNormally"
                                     v-model="returnData.functionsNormally"
                                     value=false>
                        損壞
                    </b-form-checkbox>
                    
                    <label :for="returnData.description">請輸入歸還檢查備註:</label>
                    <b-form-input :id="returnData.description"
                                  type="text"
                                  :value="returnData.description"
                                  v-model="returnData.description"></b-form-input>
                </div>
            </b-modal>
            <!-- 歸還失敗 modal -->
            <b-modal id="return-failed"
                     ok-only
                     ok-title="返回"
                     ok-variant="secondary">
                歸還失敗
            </b-modal>

            <!--歸還成功 modal -->
            <b-modal id="return-success"
                     ok-only
                     @@ok="returnedSuccessfully()"
                     ok-title="完成">
                歸還成功
            </b-modal>
        </div>

        <div>
            <!--Lost-modal-->
            <b-modal id="lost-modal"
                     @@ok="confirmLost"
                     ok-title="確認"
                     cancel-title="返回">
                <template #modal-title>
                    <p class="font-weight-bold">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M5.962 2.513a.75.75 0 01-.475.949l-.816.272a.25.25 0 00-.171.237V21.25c0 .138.112.25.25.25h14.5a.25.25 0 00.25-.25V3.97a.25.25 0 00-.17-.236l-.817-.272a.75.75 0 01.474-1.424l.816.273A1.75 1.75 0 0121 3.97v17.28A1.75 1.75 0 0119.25 23H4.75A1.75 1.75 0 013 21.25V3.97a1.75 1.75 0 011.197-1.66l.816-.272a.75.75 0 01.949.475z"></path><path fill-rule="evenodd" d="M7 1.75C7 .784 7.784 0 8.75 0h6.5C16.216 0 17 .784 17 1.75v1.5A1.75 1.75 0 0115.25 5h-6.5A1.75 1.75 0 017 3.25v-1.5zm1.75-.25a.25.25 0 00-.25.25v1.5c0 .138.112.25.25.25h6.5a.25.25 0 00.25-.25v-1.5a.25.25 0 00-.25-.25h-6.5z"></path></svg> 登記遺失物品
                    </p>
                </template>
                <div>
                    <label :for="lostData.description">請輸入遺失備註:</label>
                    <b-form-input :id="lostData.description"
                                  type="text"
                                  :value="lostData.description"
                                  v-model="lostData.description"></b-form-input>
                </div>
            </b-modal>
            <!-- 遺失登記失敗 modal -->
            <b-modal id="lost-failed"
                     ok-only
                     ok-title="返回"
                     ok-variant="secondary">
                遺失登記失敗
            </b-modal>

            <!--遺失登記成功 modal -->
            <b-modal id="lost-success"
                     ok-only
                     @@ok="lostSuccessfully()"
                     ok-title="完成">
                遺失登記成功
            </b-modal>
        </div>


        <!--OVERDUE ORDERS-->
        <b-tab title="已逾期" :title-link-class="linkClass(5)" v-on:click="OverDueOrders">
            <b-navbar-nav class="ml-auto">
                @*<b-nav-form>
                    <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
                    <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
                </b-nav-form>
                <hr />*@
                <template>
                    <div>
                        <div>
                            <b-form inline class="d-flex justify-content-between">
                                <div>
                                    排序:
                                    <b>{{ sortDesc ? '倒序' : '正序' }}</b>
                                </div>
                                <div>
                                    <b-pagination v-model="currentPage"
                                                  :total-rows="rows"
                                                  :per-page="perPage" align="right"
                                                  aria-controls="my-table"></b-pagination>
                                </div>
                            </b-form>
                        </div>

                        <b-table id="my-table"
                                 :per-page="perPage"
                                 :current-page="currentPage"
                                 :items="items" :fields="fields" :sort-by.sync="sortBy"
                                 :sort-desc.sync="sortDesc"
                                 sort-icon-left striped responsive="sm">
                            <template #cell(hasReports)="report">
                                <b-icon-app-indicator v-if="report.item.openReportCount != 0"></b-icon-app-indicator>
                                <b-icon-app v-if="report.item.openReportCount == 0"></b-icon-app>
                            </template>
                            <template #cell(show_details)="row">
                                <b-button size="sm" @@click="row.toggleDetails" class="mr-2">
                                    {{ row.detailsShowing ? '隱藏' : '顯示'}}
                                </b-button>
                            </template>

                            <template #row-details="row">
                                <b-card>
                                    <b-row>
                                        <b-col><b>訂單明細編號</b></b-col>
                                        <b-col><b>物品序號</b></b-col>
                                        <b-col><b>物品描述</b></b-col>
                                        <b-col><b>物品狀態</b></b-col>
                                        <b-col><b>歸還/遺失</b></b-col>
                                        <b-col><b>罰金</b></b-col>
                                        <b-col><b>問題反映</b></b-col>
                                    </b-row>
                                    <hr />
                                    <b-row v-for="item in row.item.orderDetails">
                                        <b-col>{{ item.orderDetailSn }}</b-col>
                                        <b-col>{{ item.itemSn }}</b-col>
                                        <b-col>{{ item.itemDescription }}</b-col>
                                        <b-col>{{ item.orderDetailStatus }}</b-col>
                                        <b-col>
                                            <span v-if="item.orderDetailStatus !='已歸還'">
                                                <b-icon-box size="sm" @@click="showReturnModal(item)"></b-icon-box>
                                                /
                                                <b-icon-question-circle size="sm" @@click="showLostModal(item)"></b-icon-question-circle>
                                            </span>
                                        </b-col>
                                        <b-col><b-icon-cash-stack @@click="showExtraFeeModal(item)"></b-icon-cash-stack></b-col>
                                        <b-col>
                                            <b-button size="sm" @@click="showReportModal(item)" v-if="item.openReportCounts != 0">查看</b-button>
                                        </b-col>
                                    </b-row>
                                    <b-button size="sm" @@click="row.toggleDetails">隱藏</b-button>
                                </b-card>
                            </template>
                        </b-table>
                        <div>
                            <b-pagination v-model="currentPage"
                                          :total-rows="rows"
                                          :per-page="perPage" align="right"
                                          aria-controls="my-table"></b-pagination>
                        </div>
                        <p></br></p>
                        <p></br></p>
                    </div>
                </template>
                
        </b-tab>

        <!--罰金modal-->
        <div>
            <b-modal id="extraFee-modal"
                     @@ok="confirmExtraFee"
                     ok-title="確認"
                     cancel-title="返回"
                     :ok-disabled="checkInputValid">
                <template #modal-title>
                    <p class="font-weight-bold">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M5.962 2.513a.75.75 0 01-.475.949l-.816.272a.25.25 0 00-.171.237V21.25c0 .138.112.25.25.25h14.5a.25.25 0 00.25-.25V3.97a.25.25 0 00-.17-.236l-.817-.272a.75.75 0 01.474-1.424l.816.273A1.75 1.75 0 0121 3.97v17.28A1.75 1.75 0 0119.25 23H4.75A1.75 1.75 0 013 21.25V3.97a1.75 1.75 0 011.197-1.66l.816-.272a.75.75 0 01.949.475z"></path><path fill-rule="evenodd" d="M7 1.75C7 .784 7.784 0 8.75 0h6.5C16.216 0 17 .784 17 1.75v1.5A1.75 1.75 0 0115.25 5h-6.5A1.75 1.75 0 017 3.25v-1.5zm1.75-.25a.25.25 0 00-.25.25v1.5c0 .138.112.25.25.25h6.5a.25.25 0 00.25-.25v-1.5a.25.25 0 00-.25-.25h-6.5z"></path></svg> 輸入罰款明細
                    </p>
                </template>
                <div>
                    <label :for="extraFeeData.fee">請輸入罰款金額:</label>
                    <b-input-group prepend="$">
                        <b-form-input :id="extraFeeData.fee"
                                      type="number"
                                      :state="nameState"
                                      aria-describedby="input-live-help input-live-feedback"
                                      placeholder="請輸入金額"
                                      trim
                                      v-model="extraFeeData.fee"></b-form-input>
                    </b-input-group>
                    <b-form-invalid-feedback id="input-live-feedback">
                        請輸入確切金額
                    </b-form-invalid-feedback>

                </div>
                <div>
                    <label :for="extraFeeData.description">請輸入罰款備註:</label>
                    <b-form-input :id="extraFeeData.description"
                                  type="text"
                                  
                                  v-model="extraFeeData.description"></b-form-input>
                </div>
            </b-modal>
            <!--輸入罰金失敗 modal-->
            <b-modal id="ExtraFee-failed"
                     ok-only
                     ok-title="返回"
                     ok-variant="secondary">
                輸入罰金失敗
            </b-modal>

            <!--輸入罰金成功 modal-->
            <b-modal id="ExtraFee-success"
                     ok-only
                     @@ok="extraFeeSuccess()"
                     ok-title="完成">
                輸入罰金成功
            </b-modal>
        </div>


        <!--CLOSED ORDERS-->
        <b-tab title="已結束" :title-link-class="linkClass(6)" v-on:click="ClosedOrders">
            <b-navbar-nav class="ml-auto">
                <template>
                    <div>
                        <div>
                            <b-form inline class="d-flex justify-content-between">
                                <div>
                                    排序:
                                    <b>{{ sortDesc ? '倒序' : '正序' }}</b>
                                </div>
                                <div>
                                    <b-pagination v-model="currentPage"
                                                  :total-rows="rows"
                                                  :per-page="perPage" align="right"
                                                  aria-controls="my-table"></b-pagination>
                                </div>
                            </b-form>
                        </div>

                        <b-table id="my-table"
                                 :per-page="perPage"
                                 :current-page="currentPage"
                                 :items="items" :fields="fields" :sort-by.sync="sortBy"
                                 :sort-desc.sync="sortDesc"
                                 sort-icon-left striped responsive="sm">
                            <template #cell(hasReports)="report">
                                <b-icon-app-indicator v-if="report.item.openReportCount != 0"></b-icon-app-indicator>
                                <b-icon-app v-if="report.item.openReportCount == 0"></b-icon-app>
                            </template>
                            <template #cell(show_details)="row">
                                <b-button size="sm" @@click="row.toggleDetails" class="mr-2">
                                    {{ row.detailsShowing ? '隱藏' : '顯示'}}
                                </b-button>
                            </template>

                            <template #row-details="row">
                                <b-card>
                                    <b-row>
                                        <b-col><b>訂單明細編號</b></b-col>
                                        <b-col><b>物品序號</b></b-col>
                                        <b-col><b>物品描述</b></b-col>
                                        <b-col><b>物品狀態</b></b-col>
                                        <b-col><b>罰金</b></b-col>
                                        <b-col><b>問題反映</b></b-col>
                                    </b-row>
                                    <hr />
                                    <b-row v-for="item in row.item.orderDetails">
                                        <b-col>{{ item.orderDetailSn }}</b-col>
                                        <b-col>{{ item.itemSn }}</b-col>
                                        <b-col>{{ item.itemDescription }}</b-col>
                                        <b-col>{{ item.orderDetailStatus }}</b-col>
                                        <b-col><b-icon-cash-stack @@click="showExtraFeeModal(item)"></b-icon-cash-stack></b-col>
                                        <b-col><b-button v-if="item.openReportCounts != 0" size="sm" @@click="showReportModal(item)">查看</b-button></b-col>
                                    </b-row>

                                    <b-button size="sm" @@click="row.toggleDetails">隱藏</b-button>
                                </b-card>
                            </template>
                        </b-table>
                        <div>
                            <b-pagination v-model="currentPage"
                                          :total-rows="rows"
                                          :per-page="perPage" align="right"
                                          aria-controls="my-table"></b-pagination>
                        </div>
                        <p></br></p>
                        <p></br></p>
                    </div>
                </template>
                
        </b-tab>

        <!--問題查詢modal-->
        <div>
            <b-modal id="reportInfoClosed-modal"
                     hide-footer scrollable>
                <template #modal-title>
                    <p class="font-weight-bold">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M5.962 2.513a.75.75 0 01-.475.949l-.816.272a.25.25 0 00-.171.237V21.25c0 .138.112.25.25.25h14.5a.25.25 0 00.25-.25V3.97a.25.25 0 00-.17-.236l-.817-.272a.75.75 0 01.474-1.424l.816.273A1.75 1.75 0 0121 3.97v17.28A1.75 1.75 0 0119.25 23H4.75A1.75 1.75 0 013 21.25V3.97a1.75 1.75 0 011.197-1.66l.816-.272a.75.75 0 01.949.475z"></path><path fill-rule="evenodd" d="M7 1.75C7 .784 7.784 0 8.75 0h6.5C16.216 0 17 .784 17 1.75v1.5A1.75 1.75 0 0115.25 5h-6.5A1.75 1.75 0 017 3.25v-1.5zm1.75-.25a.25.25 0 00-.25.25v1.5c0 .138.112.25.25.25h6.5a.25.25 0 00.25-.25v-1.5a.25.25 0 00-.25-.25h-6.5z"></path></svg> 查看問題反映
                    </p>
                </template>
                <b-table-simple hover caption-top stacked>
                    <b-thead head-variant="dark">
                        <b-tr>
                            <b-th>報修編號</b-th>
                            <b-th>報修時間</b-th>
                            <b-th>使用者報修描述</b-th>
                            <b-th>管理員報修描述</b-th>
                            <b-th>結案時間</b-th>
                            <b-th></b-th>
                        </b-tr>
                    </b-thead>
                    <b-tbody>
                        <b-tr v-for="details in reportDetail">
                            <b-td stacked-heading="報修編號">{{details.reportSn}}</b-td>
                            <b-td stacked-heading="報修時間">{{details.reportTime}}</b-td>
                            <b-td stacked-heading="使用者報修描述">{{details.description}}</b-td>
                            <b-td stacked-heading="結案時間">{{details.closeTime}}</b-td>
                            <b-td stacked-heading="管理員報修描述">
                                {{details.note}}
                                @*<b-form-input :value="details.note"
                                v-if="details.closeTime == null"
                                :disabled="checkInputValid(details)" />*@
                            </b-td>
                            <b-td>
                                <b-button v-if="details.closeTime == null" @@click="showReportClosedModalForView(details)" variant="primary">結案</b-button>
                            </b-td>
                        </b-tr>
                    </b-tbody>
                </b-table-simple>

            </b-modal>
        </div>

        <!--REPORTED ORDERS-->
        <b-tab title="報修訂單" :title-link-class="linkClass(7)" v-on:click="GetAllReports()">
            <b-navbar-nav class="ml-auto">
                <template>
                    <div>
                        <div>
                            <b-form inline class="d-flex justify-content-between">
                                <div>
                                    排序:
                                    <b>{{ sortDesc ? '倒序' : '正序' }}</b>
                                </div>
                                <div>
                                    <b-pagination v-model="currentPage"
                                                  :total-rows="rows"
                                                  :per-page="perPage" align="right"
                                                  aria-controls="my-table"></b-pagination>
                                </div>
                            </b-form>
                        </div>

                        <b-table id="my-table"
                                 :per-page="perPage"
                                 :current-page="currentPage"
                                 :items="items" :fields="fields" :sort-by.sync="sortBy"
                                 :sort-desc.sync="sortDesc"
                                 sort-icon-left striped responsive="sm">
                            <template #cell(closeItem)="report">
                                <b-icon-card-checklist v-if="report.item.closeTime == null" size="sm" @@click="showReportClosedModal(report)"></b-icon-card-checklist>
                            </template>
                        </b-table>
                        <div>
                            <b-pagination v-model="currentPage"
                                          :total-rows="rows"
                                          :per-page="perPage" align="right"
                                          aria-controls="my-table"></b-pagination>
                        </div>
                        <p></br></p>
                        <p></br></p>
                    </div>
                </template>
                
        </b-tab>

        <!--結案modal-->
        <div>
            <b-modal id="reportClosed-modal"
                     @@ok="confirmClosed"
                     ok-title="結案"
                     cancel-title="返回">
                <template #modal-title>
                    <p class="font-weight-bold">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M5.962 2.513a.75.75 0 01-.475.949l-.816.272a.25.25 0 00-.171.237V21.25c0 .138.112.25.25.25h14.5a.25.25 0 00.25-.25V3.97a.25.25 0 00-.17-.236l-.817-.272a.75.75 0 01.474-1.424l.816.273A1.75 1.75 0 0121 3.97v17.28A1.75 1.75 0 0119.25 23H4.75A1.75 1.75 0 013 21.25V3.97a1.75 1.75 0 011.197-1.66l.816-.272a.75.75 0 01.949.475z"></path><path fill-rule="evenodd" d="M7 1.75C7 .784 7.784 0 8.75 0h6.5C16.216 0 17 .784 17 1.75v1.5A1.75 1.75 0 0115.25 5h-6.5A1.75 1.75 0 017 3.25v-1.5zm1.75-.25a.25.25 0 00-.25.25v1.5c0 .138.112.25.25.25h6.5a.25.25 0 00.25-.25v-1.5a.25.25 0 00-.25-.25h-6.5z"></path></svg> 物品報修結案
                    </p>
                </template>
                <div>
                    <label :for="closeData.note">請輸入結案備註:</label>
                    <b-form-input :id="closeData.note"
                                  type="text"
                                  
                                  v-model="closeData.note"></b-form-input>
                </div>
            </b-modal>
            <!--結案失敗 modal-->
            <b-modal id="close-failed"
                     ok-only
                     ok-title="返回"
                     ok-variant="secondary">
                結案失敗
            </b-modal>

            <!--結案成功 modal-->
            <b-modal id="close-success"
                     ok-only
                     @@ok="closedSuccessfully()"
                     ok-title="完成">
                結案成功
            </b-modal>
        </div>
</div>




<script>
    async function fetchOrders() {
        return await fetch('/OrderApi/GetOrders/', { method: 'GET' })
            .then(response => {
                if (response.ok) {
                    return response.json();
                }
            })
            .then(response => {
                this.orders = response;

                // 計算訂單總金額、處理日期格式
                for (let i = 0; i < this.orders.length; i++) {
                    this.orders[i].totalPrice =
                        this.orders[i].quantity *
                        this.orders[i].day *
                        this.orders[i].unitPrice;

                    let detailedTime = new Date(this.orders[i].estimatedPickupTime);
                    let date = `${detailedTime.getFullYear()}-${detailedTime.getMonth() + 1}-${detailedTime.getDate()}`;
                    this.orders[i].estimatedPickupTime = date;

                    detailedTime = new Date(this.orders[i].orderTime);
                    date = `${detailedTime.getFullYear()}-${detailedTime.getMonth() + 1}-${detailedTime.getDate()}`;
                    this.orders[i].orderTime = date;
                    
                    detailedTime = new Date(this.orders[i].expireTime);
                    date = `${detailedTime.getFullYear()}-${detailedTime.getMonth() + 1}-${detailedTime.getDate()}`;
                    this.orders[i].expireTime = date;
                }
            })
    }

    async function GetReports() {
        return await fetch('/ReportApi/GetReports/', { method: 'GET' })
            .then(response => {
                if (response.ok) {
                    return response.json();
                }
            })
            .then(response => {
                this.Allreports = response;
                console.log(this.Allreports);
                for (let i = 0; i < this.Allreports.length; i++) {
                    console.log(this.Allreports[i].closeTime);

                    let detailedTime = new Date(this.Allreports[i].reportTime);
                    let date = `${detailedTime.getFullYear()}-${detailedTime.getMonth() + 1}-${detailedTime.getDate()}`;
                    this.Allreports[i].reportTime = date;

                    let reportCloseTime = this.Allreports[i].closeTime;
                    if (reportCloseTime != null && reportCloseTime != '') {
                        detailedTime = new Date(this.Allreports[i].closeTime);
                        date = `${detailedTime.getFullYear()}-${detailedTime.getMonth() + 1}-${detailedTime.getDate()}`;
                        this.Allreports[i].closeTime = date;
                    }
                }
                /*this.reportLength = this.Allreports.length;*/
            })
    }

    let app = new Vue({
        el: '#app',
        
        data() {
            return {
                sortBy: 'orderSn',
                sortDesc: false,
                perPage: 10,
                currentPage: 1,
                tabIndex: 0,
                fields: [
                    { key: 'orderSn', label: '訂單編號', sortable: true },
                    { key: 'username', label: '使用者', sortable: true },
                    { key: 'equipmentSn', label: '設備編號', sortable: true },
                    { key: 'equipmentName', label: '設備名稱', sortable: true },
                    { key: 'quantity', label: '數量', sortable: true },
                    { key: 'estimatedPickupTime', label: '預計取用日期', sortable: true },
                    { key: 'day', label: '租期', sortable: true },
                    { key: 'totalPrice', label: '總價', sortable: true },
                    { key: 'statusName', label: '狀態', sortable: true },
                    { key: 'orderTime', label: '下單時間', sortable: true },
                    { key: 'show_details', label: '明細' }
                ],
                items: [],
                orders: [], // 存一開始拿到的所有訂單
                eid: [],
                reportLength:'',
                itemsToBeDistributed: {
                    quantity: 0,
                    items: []
                },
                distributionData: {
                    orderId: '',
                    reply: false,
                    itemIDs: []
                },
                pickupData: {
                    orderDetailId: '',
                    description: ''
                },
                returnData: {
                    orderDetailId: '',
                    functionsNormally: true,
                    description: ''
                },
                lostData: {
                    orderDetailId: '',
                    description: ''
                },
                closeData: {
                    reportId: '',
                    note: ''
                },
                extraFeeData: {
                    orderDetailId: '',
                    fee: '',
                    description: ''
                },
                Allreports: [],
                reportDetail: []
            }
        },
        
        created: function () {
            fetchOrders.call(this).then(() => this.items = this.orders);
            GetReports.call(this).then(() => this.reportLength = this.Allreports.filter(o => o.closeTime == null));
        },

        methods: {
            linkClass(idx) {
                if (this.tabIndex === idx) {
                    return ['bg-secondary', 'text-white']
                } else {
                    return ['bg-light', 'text-dark']
                }
            },
            // 所有訂單
            GetAllOrders: function () {
                this.fields = [
                    { key: 'orderSn', label: '訂單編號', sortable: true },
                    { key: 'username', label: '使用者', sortable: true },
                    { key: 'equipmentSn', label: '設備編號', sortable: true },
                    { key: 'equipmentName', label: '設備名稱', sortable: true },
                    { key: 'quantity', label: '數量', sortable: true },
                    { key: 'estimatedPickupTime', label: '預計取用日期', sortable: true },
                    { key: 'day', label: '租期', sortable: true },
                    { key: 'totalPrice', label: '總價', sortable: true },
                    { key: 'statusName', label: '狀態', sortable: true },
                    { key: 'orderTime', label: '下單時間', sortable: true },
                    { key: 'show_details', label: '明細' }];
                // 直接拿所有訂單，不用 filter
                this.items = this.orders;
            },
            // 待核可
            GetPendingOrders: function () {
                this.fields = [
                    { key: 'orderSn', label: '訂單編號', sortable: true },
                    { key: 'username', label: '使用者', sortable: true },
                    { key: 'equipmentSn', label: '設備編號', sortable: true },
                    { key: 'equipmentName', label: '設備名稱', sortable: true },
                    { key: 'quantity', label: '數量', sortable: true },
                    { key: 'estimatedPickupTime', label: '預計取用日期', sortable: true },
                    { key: 'day', label: '租期', sortable: true },
                    { key: 'totalPrice', label: '總價', sortable: true },
                    { key: 'statusName', label: '狀態', sortable: true },
                    { key: 'orderTime', label: '下單時間', sortable: true },
                    { key: 'btnItem', label: '分配/拒絕' }];
                this.items = this.orders.filter(o => o.tabName === "待核可");
            },
            // 待付款
            GetOutstandingOrders() {
                this.fields = [
                    { key: 'orderSn', label: '訂單編號', sortable: true },
                    { key: 'username', label: '使用者', sortable: true },
                    { key: 'equipmentSn', label: '設備編號', sortable: true },
                    { key: 'equipmentName', label: '設備名稱', sortable: true },
                    { key: 'quantity', label: '數量', sortable: true },
                    { key: 'estimatedPickupTime', label: '預計取用日期', sortable: true },
                    { key: 'day', label: '租期', sortable: true },
                    { key: 'totalPrice', label: '總價', sortable: true },
                    { key: 'statusName', label: '狀態', sortable: true },
                    { key: 'orderTime', label: '下單時間', sortable: true },
                    { key: 'show_details', label: '明細' }];
                this.items = this.orders.filter(o => o.tabName === "待付款");
            },
            // 待領取
            PickUpOrders: function () {
                this.fields = [
                    { key: 'orderSn', label: '訂單編號', sortable: true },
                    { key: 'username', label: '使用者', sortable: true },
                    { key: 'equipmentSn', label: '設備編號', sortable: true },
                    { key: 'equipmentName', label: '設備名稱', sortable: true },
                    { key: 'quantity', label: '數量', sortable: true },
                    { key: 'estimatedPickupTime', label: '預計取用日期', sortable: true },
                    { key: 'day', label: '租期', sortable: true },
                    { key: 'totalPrice', label: '總價', sortable: true },
                    { key: 'statusName', label: '狀態', sortable: true },
                    { key: 'orderTime', label: '下單時間', sortable: true },
                    { key: 'show_details', label: '明細' }];
                this.items = this.orders.filter(o => o.tabName === "待領取");
            },
            // 租借中
            OnGoingOrders: function () {
                this.fields = [
                    { key: 'hasReports', label: '問題' },
                    { key: 'orderSn', label: '訂單編號', sortable: true },
                    { key: 'username', label: '使用者', sortable: true },
                    { key: 'equipmentSn', label: '設備ID', sortable: true },
                    { key: 'equipmentName', label: '設備名稱', sortable: true },
                    { key: 'quantity', label: '數量', sortable: true },
                    { key: 'expireTime', label: '預計歸還日期', sortable: true },
                    { key: 'day', label: '租期', sortable: true },
                    { key: 'totalPrice', label: '總價', sortable: true },
                    { key: 'statusName', label: '狀態', sortable: true },
                    { key: 'orderTime', label: '下單時間', sortable: true },
                    { key: 'show_details', label: '明細' }];
                this.items = this.orders.filter(o => o.tabName === "租借中");
            },
            // 已結束
            ClosedOrders: function () {
                this.fields = [
                    { key: 'hasReports', label: '問題' },
                    { key: 'orderSn', label: '訂單編號', sortable: true },
                    { key: 'username', label: '使用者', sortable: true },
                    { key: 'equipmentSn', label: '設備編號', sortable: true },
                    { key: 'equipmentName', label: '設備名稱', sortable: true },
                    { key: 'quantity', label: '數量', sortable: true },
                    { key: 'estimatedPickupTime', label: '預計取用日期', sortable: true },
                    { key: 'day', label: '租期', sortable: true },
                    { key: 'totalPrice', label: '總價', sortable: true },
                    { key: 'statusName', label: '狀態', sortable: true },
                    { key: 'orderTime', label: '下單時間', sortable: true },
                    { key: 'show_details', label: '明細' }];
                this.items = this.orders.filter(o => o.tabName === "已結束");
            },
            // 已逾期
            OverDueOrders: function () {
                this.fields = [
                    { key: 'hasReports', label: '問題' },
                    { key: 'orderSn', label: '訂單編號', sortable: true },
                    { key: 'username', label: '使用者', sortable: true },
                    { key: 'equipmentSn', label: '設備編號', sortable: true },
                    { key: 'equipmentName', label: '設備名稱', sortable: true },
                    { key: 'quantity', label: '數量', sortable: true },
                    { key: 'expireTime', label: '預計歸還日期', sortable: true },
                    { key: 'day', label: '租期', sortable: true },
                    { key: 'totalPrice', label: '總價', sortable: true },
                    { key: 'statusName', label: '狀態', sortable: true },
                    { key: 'orderTime', label: '下單時間', sortable: true },
                    { key: 'show_details', label: '明細', }];
                this.items = this.orders.filter(o => o.tabName === "已逾期");
            },
            //報修訂單
            GetAllReports: function (){
                this.items = this.Allreports;
                this.sortBy = 'reportSn';
                this.fields = [
                    { key: 'reportSn', label: '報修編號', sortable: true },
                    { key: 'orderSn', label: '訂單編號', sortable: true },
                    { key: 'orderDetailIdSn', label: '訂單明細編號', sortable: true },
                    { key: 'itemSn', label: '物品編號', sortable: true },
                    { key: 'description', label: '報修描述(使用者)', sortable: true },
                    { key: 'note', label: '報修描述(管理員)', sortable: true },
                    { key: 'reportTime', label: '報修時間', sortable: true },
                    { key: 'closeTime', label: '結案日期', sortable: true },
                    { key: 'closeItem', label: '結案' }];                  
            },
            getLengthofPending() {
                var pendingLength = this.orders.filter(o => o.tabName === "待核可");
                return pendingLength.length;
            },
            getLengthofNotPaid() {
                var NotPaidLength = this.orders.filter(o => o.tabName === "待付款");
                return NotPaidLength.length;
            },
            getLengthofPickup() {
                var PickupLength = this.orders.filter(o => o.tabName === "待領取");
                return PickupLength.length;
            },
            getLengthofRenting() {
                var RentingLength = this.orders.filter(o => o.tabName === "租借中");
                return RentingLength.length;
            },
            getLengthofOverdue() {
                var OverdueLength = this.orders.filter(o => o.tabName === "已逾期");
                return OverdueLength.length;
            },
            getLengthofOpenReport() {
                var OpenReportLength = this.Allreports.filter(o => o.closeTime == null);
                return OpenReportLength.length;
            },
            // 分配 Item 開始
            async showDataAndModal(data) {
                let response = await fetch("/itemapi/getavailableitemsbyequipid/" + data.equipmentId, {
                    method: "GET"
                });
                if (!response.ok) {
                    console.error("Server responded errors");
                    return;
                }
                this.distributionData.orderId = data.orderId;
                this.itemsToBeDistributed.quantity = data.quantity;
                this.itemsToBeDistributed.items = await response.json();

                this.$bvModal.show("distribute-item-modal");
            },
            selectDistributedItems(id, e) {
                let arr = this.distributionData.itemIDs;
                let quantity = this.itemsToBeDistributed.quantity;

                // 選過了就從 array 中移除
                if (arr.includes(id)) {
                    // 重覆值也一起移除（以防萬一）
                    do {
                        let index = arr.findIndex(el => el === id);

                        if (index <= -1)
                            return;

                        arr.splice(index, 1);
                    } while (true);
                }

                // 超過不給再勾選
                if (arr.length >= quantity) {
                    e.target.checked = false;
                    return;
                }
                // 沒選過就放進 array
                arr.push(id);
            },
            async confirmDistribution() {
                this.distributionData.reply = true;
                let response = await fetch("/orderapi/respondorder", {
                    method: "POST",
                    headers: {
                        "content-type": "application/json"
                    },
                    body: JSON.stringify(this.distributionData)
                }).catch(e => console.log(e));

                if (!response.ok) {
                    console.log("核可失敗");
                    this.$bvModal.show("distribute-failed");
                    return;
                }

                console.log("核可成功");
                this.$bvModal.show("distribute-success");
            },
            resetDistributionData() {
                console.log("resetting modal");
                this.itemsToBeDistributed.quantity = 0;
                this.itemsToBeDistributed.items = [];
                this.distributionData = {
                    orderId: 0,
                    reply: false,
                    itemIDs: []
                };
            },
            distributeFailed() {
                this.distributionData.itemIDs = [];
                this.$bvModal.show("distribute-item-modal");
                console.log("failed");
            },
            distributionSuccess() {
                fetchOrders.call(this)
                    .then(() => this.GetPendingOrders.call(this));
            },
            // ↑分配 item 結束
            showDenialModal(data) {
                this.distributionData.orderId = data;
                console.log(data);
                this.$bvModal.show("deny-modal");
            },
            async confirmDenial() {
                let response = await fetch("/orderapi/respondorder", {
                    method: "POST",
                    headers: {
                        "content-type": "application/json"
                    },
                    body: JSON.stringify(this.distributionData)
                }).catch(e => console.log(e));

                if (!response.ok) {
                    console.log("拒絕失敗");
                    this.$bvModal.show("deny-failed");
                    return;
                }

                console.log("拒絕成功");
                this.$bvModal.show("deny-success");
            },
            deniedSuccessfully() {
                fetchOrders.call(this)
                    .then(() => this.GetPendingOrders.call(this));
            },
            showPickupModal(data) {
                this.pickupData.orderDetailId = data.orderDetailId;
                /*this.pickupData.description = data.itemDescription;*/
                console.log(data);
                this.$bvModal.show("pickup-modal");
            },
            async confirmPickup() {
                let response = await fetch("/OrderDetailApi/PickupItemsCheck/", {
                    method: "POST",
                    headers: {
                        "content-type": "application/json"
                    },
                    body: JSON.stringify(this.pickupData)
                }).catch(e => console.log(e));

                if (!response.ok) {
                    console.log("領取失敗");
                    this.$bvModal.show("pickup-failed");
                    this.pickupData.description = '';
                    return;
                }

                console.log("領取成功");
                this.$bvModal.show("pickup-success");
                this.pickupData.description = '';
            },
            pickupedSuccessfully() {
                fetchOrders.call(this)
                    .then(() => this.PickUpOrders.call(this));
            },
            showReturnModal(data) {
                this.returnData.orderDetailId = data.orderDetailId;
                console.log(data);
                this.$bvModal.show("return-modal");
            },
            async confirmReturn() {
                let response = await fetch("/OrderDetailApi/ReturnItemsCheck/", {
                    method: "POST",
                    headers: {
                        "content-type": "application/json"
                    },
                    body: JSON.stringify(this.returnData)
                }).catch(e => console.log(e));

                if (!response.ok) {
                    console.log("歸還失敗");
                    this.$bvModal.show("return-failed");
                    this.returnData.description = '';
                    return;
                }

                console.log("歸還成功");
                this.$bvModal.show("return-success");
                this.returnData.description = '';
            },
            returnedSuccessfully() {
                if (this.items.length > 0 && this.items[0].tabName === "租借中") {
                    fetchOrders.call(this)
                        .then(() =>
                            this.OnGoingOrders.call(this)
                        );
                } else if (this.items.length > 0 && this.items[0].tabName === "已逾期") {
                    fetchOrders.call(this)
                        .then(() =>
                            this.OverDueOrders.call(this)
                        );

                }

            },
            showLostModal(data) {
                this.lostData.orderDetailId = data.orderDetailId;
                console.log(data);
                this.$bvModal.show("lost-modal");
            },
            async confirmLost() {
                let response = await fetch("/OrderDetailApi/ItemLostCheck/", {
                    method: "POST",
                    headers: {
                        "content-type": "application/json"
                    },
                    body: JSON.stringify(this.lostData)
                }).catch(e => console.log(e));

                if (!response.ok) {
                    console.log("登記遺失失敗");
                    this.$bvModal.show("lost-failed");
                    this.lostData.description = '';
                    return;
                }

                console.log("登記遺失成功");
                this.$bvModal.show("lost-success");
                this.lostData.description = '';
            },
            lostSuccessfully() {
                if (this.items.length > 0 && this.items[0].tabName === "租借中") {
                    fetchOrders.call(this)
                        .then(() =>
                            this.OnGoingOrders.call(this)
                        );
                } else if (this.items.length > 0 && this.items[0].tabName === "已逾期") {
                    fetchOrders.call(this)
                        .then(() =>
                            this.OverdueOrders.call(this)
                        );

                }

            },
            checkPickupDate(row) {
                let pickupdate = new Date(row.item.estimatedPickupTime);
                console.log(row);
                console.log(row.item.estimatedPickupTime);
                console.log(pickupdate);
                let now = new Date();
                console.log(now);
                if (now <= pickupdate) {
                    return false;
                }
                return true;
            },
            async showReportModal(data) {
                
                
                //console.log(data);
                //let selectId = data.orderDetailId;
                //console.log(selectId);
                //this.reportDetail = this.Allreports.filter(o => o.orderDetailId == data.orderDetailId);
                //console.log(this.reportDetail);
                return await fetch("/ReportApi/GetReports/" + data.orderDetailId, { method: "GET" })
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        }
                    })
                    .then(response => {
                        this.reportDetail = response;
                        
                        console.log(this.closeData);
                        console.log(this.reportDetail);
                        this.$bvModal.show("reportInfoClosed-modal");
                    });
                
            },
            showReportClosedModal(data) {
                
                    this.closeData.reportId = data.item.reportId;
                    console.log(data.item.reportId);
                    console.log(data.item.note);
                    this.closeData.note = data.item.note;
                    console.log(data);
                    
                          
                this.$bvModal.show("reportClosed-modal");
            },
            showReportClosedModalForView(data) {

                this.closeData.reportId = data.reportId;
                console.log(data.reportId);
                console.log(data.note);
                this.closeData.note = data.note;
                console.log(data);


                this.$bvModal.show("reportClosed-modal");
            },
            async confirmClosed() {
                //console.log(data);
                //this.closeData.reportId = data.reportId;
                
                let response = await fetch("/ReportApi/CloseReport/", {
                    method: "POST",
                    headers: {
                        "content-type": "application/json"
                    },
                    body: JSON.stringify(this.closeData)
                }).catch(e => console.log(e));

                if (!response.ok) {
                    console.log("結案報修失敗");
                    this.$bvModal.show("close-failed");
                    this.closeData.note = '';
                    return;
                }

                console.log("結案報修成功");
                this.$bvModal.show("close-success");
                this.$bvModal.hide("reportInfoClosed-modal");
                console.log(this.closeData.note);
                this.closeData.note = '';
            },
            closedSuccessfully() {
                if (this.items.length > 0 && this.items[0].tabName === "已逾期") {
                    fetchOrders.call(this)
                        .then(() =>
                            this.OverDueOrders.call(this)
                    ).then(() =>
                        GetReports.call(this)
                        );
                } else if (this.items.length > 0 && this.items[0].tabName === "租借中") {
                    fetchOrders.call(this)
                        .then(() =>
                            this.OnGoingOrders.call(this)
                    ).then(() =>
                        GetReports.call(this)
                    );
                } else if (this.items.length > 0 && this.items[0].tabName === "已結束") {
                    fetchOrders.call(this)
                        .then(() =>
                            this.ClosedOrders.call(this)
                            ).then(() =>
                                GetReports.call(this)
                            );
                }
                else if (this.items.length > 0 && this.items[0].tabName === "報修訂單") {
                    GetReports.call(this)
                        .then(() => {
                            this.GetAllReports.call(this);
                        });

                }
                
            },
            showReportClosedDetailModal(data) {
                this.closeData.reportId = data.reportId;
                this.closeData.description = data.description;
                console.log(data);
                this.$bvModal.show("reportClosedDetail-modal");
            },
            showExtraFeeModal(data) {
                this.extraFeeData.orderDetailId = data.orderDetailId;
                console.log(data);
                this.$bvModal.show("extraFee-modal");
            },
            async confirmExtraFee(data) {
                console.log(data);
                //this.extraFeeData.fee = data.fee;
                //this.extraFeeData.description = data.description;
                console.log(this.extraFeeData);
                let response = await fetch("/api/extrafee/", {
                    method: "POST",
                    headers: {
                        "content-type": "application/json"
                    },
                    body: JSON.stringify(this.extraFeeData)
                }).catch(e => console.log(e));

                if (!response.ok) {
                    console.log("輸入罰金失敗");
                    this.$bvModal.show("ExtraFee-failed");
                    this.extraFeeData.fee = '';
                    this.returnData.description = '';

                    return;
                }

                console.log("輸入罰金成功");
                this.$bvModal.show("ExtraFee-success");
                this.extraFeeData.fee = '';
                this.extraFeeData.description = '';
            },
            extraFeeSuccess() {
                if (this.items.length > 0 && this.items[0].tabName === "已結束") {
                    fetchOrders.call(this)
                        .then(() =>
                            this.ClosedOrders.call(this)
                        );
                } else if (this.items.length > 0 && this.items[0].tabName === "已逾期") {
                    fetchOrders.call(this)
                        .then(() => {
                            console.log(this);
                            console.log(this.OverDueOrders);
                            this.OverDueOrders.call(this);
                            
                        }
                        );

                }

            }
            
        },
        computed: {
            distributionInvalid() {
                return this.itemsToBeDistributed.quantity - this.distributionData.itemIDs.length !== 0;
            },
            checkInputValid() {
                if (this.extraFeeData.fee > 0) {
                    return false;
                }
                return true;
            },
            rows() {
                return this.items.length;
            },
            nameState() {
                return this.extraFeeData.fee > 0 ? true : false
            }

        }
    })
</script>
