<link type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
<link type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<script src="https://unpkg.com/vue"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

<div id="app">
    <b-card>
        <b-tabs content-class="mt-3" fill>
            <!-- 待核可 -->
            <b-tab title="待核可" active>
                <div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>訂單序號</th>
                                <th>設備序號</th>
                                <th>設備名稱</th>
                                <th>數量</th>
                                <th>預計取貨時間</th>
                                <th>租借天數</th>
                                <th>總價</th>
                                <th>訂單狀態</th>
                                <th>下單時間</th>
                                <th>取消租借</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="order in orders_0">
                                <td>{{order.orderSn}}</td>
                                <td>{{order.equipmentSn}}</td>
                                <td>{{order.equipmentName}}</td>
                                <td>{{order.quantity}}</td>
                                <td>{{order.estimatedPickupTime | timeString('YYYY-MM-DD')}}</td>
                                <td>{{order.day}}</td>
                                <td>{{order.unitPrice * order.day * order.quantity}}</td>
                                <td>處理中</td>
                                <td>{{order.orderTime | timeString('YYYY-MM-DD')}}</td>
                                <td><b-btn @@click="cancelOrderAction(order)" data-toggle="modal" data-target="#cancelModal">取消租借</b-btn></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </b-tab>

            <!-- 待付款 -->
            <b-tab title="待付款" @@click="loadData_tab1">
                <div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <label class="form-checkbox">
                                        <input type="checkbox" v-model="selectAll" @@click="selectAllAction($event)"><i class="form-icon"></i>
                                    </label>
                                </th>
                                <th>訂單序號</th>
                                <th>設備序號</th>
                                <th>設備名稱</th>
                                <th>數量</th>
                                <th>預計取貨時間</th>
                                <th>租借天數</th>
                                <th>總價</th>
                                <th>訂單狀態</th>
                                <th>下單時間</th>
                                <th>取消租借</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="order in orders_1">
                                <td>
                                    <label class="form-checkbox">
                                        <input type="checkbox" v-model="selected" :value="order"><i class="form-icon"></i>
                                    </label>
                                </td>
                                <td>{{order.orderSn}}</td>
                                <td>{{order.equipmentSn}}</td>
                                <td>{{order.equipmentName}}</td>
                                <td>{{order.quantity}}</td>
                                <td>{{order.estimatedPickupTime | timeString('YYYY-MM-DD')}}</td>
                                <td>{{order.day}}</td>
                                <td>{{order.unitPrice * order.day * order.quantity}}</td>
                                <td>處理中</td>
                                <td>{{order.orderTime | timeString('YYYY-MM-DD')}}</td>
                                <td><b-btn @@click="cancelOrderAction(order)" data-toggle="modal" data-target="#cancelModal">取消租借</b-btn></td>
                            </tr>
                        </tbody>
                    </table>
                    <b-btn variant="danger"
                           @*@@click="cashOut"*@
                           @@click="confirmAmount"
                           :disabled="noItemSelected"
                           data-toggle="modal"
                           data-target="#confirmAmountModal">結帳 (總金額: {{countTotalPrice}})</b-btn>
                </div>
            </b-tab>

            <!-- 待領取 -->
            <b-tab title="待領取" @@click="loadData_tab2">
                <div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>清單</th>
                                <th>訂單序號</th>
                                <th>設備序號</th>
                                <th>設備名稱</th>
                                <th>數量</th>
                                <th>預計取貨時間</th>
                                <th>租借天數</th>
                                <th>總價</th>
                                <th>訂單狀態</th>
                                <th>下單時間</th>
                                <th>取消租借</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template v-for="order in orders_2">
                                <tr>
                                    <td><i class="bi bi-justify-left" @@click="toggle(order.orderId)" style="font-size: 20px;"></i></td>
                                    <td>{{order.orderSn}}</td>
                                    <td>{{order.equipmentSn}}</td>
                                    <td>{{order.equipmentName}}</td>
                                    <td>{{order.quantity}}</td>
                                    <td>{{order.estimatedPickupTime | timeString('YYYY-MM-DD')}}</td>
                                    <td>{{order.day}}</td>
                                    <td>{{order.unitPrice * order.day * order.quantity}}</td>
                                    <td>待領取</td>
                                    <td>{{order.orderTime | timeString('YYYY-MM-DD')}}</td>
                                    <td><b-btn @@click="cancelOrderAction(order)" data-toggle="modal" data-target="#cancelModal">取消租借</b-btn></td>
                                </tr>
                                <tr v-if="opened.includes(order.orderId)">
                                    <td colspan="11" class="p-3 mb-2 bg-light text-dark">
                                        <ul>

                                            <li v-for="eachOd in order.orderDetails">物品序號: {{eachOd.itemSn}} </li>

                                        </ul>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
            </b-tab>

            <!-- 租借中 -->
            <b-tab title="租借中" @@click="loadData_tab3">
                <div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>清單</th>
                                <th>訂單序號</th>
                                <th>設備序號</th>
                                <th>設備名稱</th>
                                <th>數量</th>
                                <th>預計取貨時間</th>
                                <th>租借天數</th>
                                <th>總價</th>
                                <th>訂單狀態</th>
                                <th>下單時間</th>
                                <th>問題回報</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template v-for="order in orders_3">
                                <tr>
                                    <td><i class="bi bi-justify-left" style="font-size: 20px;" @@click="toggle(order.orderId)"></i></td>
                                    <td>{{order.orderSn}}</td>
                                    <td>{{order.equipmentSn}}</td>
                                    <td>{{order.equipmentName}}</td>
                                    <td>{{order.quantity}}</td>
                                    <td>{{order.estimatedPickupTime | timeString('YYYY-MM-DD')}}</td>
                                    <td>{{order.day}}</td>
                                    <td>{{order.unitPrice * order.day * order.quantity}}</td>
                                    <td>租借中</td>
                                    <td>{{order.orderTime | timeString('YYYY-MM-DD')}}</td>
                                    <td><b-btn @@click="reportAction(order)" data-toggle="modal" data-target="#reportModal">問題回報</b-btn></td>
                                </tr>
                                <tr v-if="opened.includes(order.orderId)">
                                    <td colspan="11" class="p-3 mb-2 bg-light text-dark">
                                        <ul>

                                            <li v-for="eachOd in order.orderDetails">物品序號: {{eachOd.itemSn}} </li>

                                        </ul>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
            </b-tab>

            <!-- 已結束 -->
            <b-tab title="已結束" @@click="loadData_tab4">
                <div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>清單</th>
                                <th>訂單序號</th>
                                <th>設備序號</th>
                                <th>設備名稱</th>
                                <th>數量</th>
                                <th>預計取貨時間</th>
                                <th>租借天數</th>
                                <th>總價</th>
                                <th>訂單狀態</th>
                                <th>下單時間</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template v-for="order in orders_4">
                                <tr>
                                    <td><i class="bi bi-justify-left" style="font-size: 20px;" @@click="toggle(order.orderId)"></i></td>
                                    <td>{{order.orderSn}}</td>
                                    <td>{{order.equipmentSn}}</td>
                                    <td>{{order.equipmentName}}</td>
                                    <td>{{order.quantity}}</td>
                                    <td>{{order.estimatedPickupTime | timeString('YYYY-MM-DD')}}</td>
                                    <td>{{order.day}}</td>
                                    <td>{{order.unitPrice * order.day * order.quantity}}</td>
                                    <td><span v-if="order.orderDetails.length == 0">逾期未領取</span><span v-else >已結束</span></td>
                                    <td>{{order.orderTime | timeString('YYYY-MM-DD')}}</td>
                                </tr>
                                <tr v-if="opened.includes(order.orderId)">
                                    <td colspan="11" class="p-3 mb-2 bg-light text-dark">
                                        <ul>

                                            <li v-for="eachOd in order.orderDetails">物品序號: {{eachOd.itemSn}} </li>

                                        </ul>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
            </b-tab>

            <!-- 已逾期 -->
            <b-tab title="已逾期" @@click="loadData_tab5">
                <div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>清單</th>
                                <th>訂單序號</th>
                                <th>設備序號</th>
                                <th>設備名稱</th>
                                <th>數量</th>
                                <th>預計取貨時間</th>
                                <th>租借天數</th>
                                <th>總價</th>
                                <th>訂單狀態</th>
                                <th>下單時間</th>
                                <th>問題回報</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template v-for="order in orders_5">
                                <tr>
                                    <td><i class="bi bi-justify-left" style="font-size: 20px;" @@click="toggle(order.orderId)"></i></td>
                                    <td>{{order.orderSn}}</td>
                                    <td>{{order.equipmentSn}}</td>
                                    <td>{{order.equipmentName}}</td>
                                    <td>{{order.quantity}}</td>
                                    <td>{{order.estimatedPickupTime | timeString('YYYY-MM-DD')}}</td>
                                    <td>{{order.day}}</td>
                                    <td>{{order.unitPrice * order.day * order.quantity}}</td>
                                    <td>已逾期</td>
                                    <td>{{order.orderTime | timeString('YYYY-MM-DD')}}</td>
                                    <td><b-btn @@click="reportAction(order)" data-toggle="modal" data-target="#reportModal">問題回報</b-btn></td>
                                </tr>
                                <tr v-if="opened.includes(order.orderId)">
                                    <td colspan="11" class="p-3 mb-2 bg-light text-dark">
                                        <ul>

                                            <li v-for="eachOd in order.orderDetails">物品序號: {{eachOd.itemSn}} </li>

                                        </ul>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
            </b-tab>
        </b-tabs>
    </b-card>

    <!-- 問題反映Modal -->
    <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold text-danger" id="exampleModalLabel">問題報修</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label class="col-form-label">訂單編號</label>
                            <input type="text" class="form-control" :value="currentOrder.orderSn" readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="col-form-label">設備名稱</label>
                            <input type="text" class="form-control" :value="currentOrder.equipmentName" readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="col-form-label">設備序號</label>
                            <input type="text" class="form-control" :value="currentOrder.equipmentSn" readonly>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label class="col-form-label">數量</label>
                            <input type="text" class="form-control" :value="currentOrder.quantity" readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="col-form-label">物品序號</label>
                            <select required class="form-control" v-on:change="selectReportItem(currentOrder.orderDetails)" v-model="reportOrder.reportItemSn">
                                <option disabled selected>請先選擇序號</option>
                                <option v-for="itemSn in reportOrder.reportItemList" :value="itemSn">{{itemSn}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <b-btn class="btn btn-primary active" :href="reportUrl" :disabled="cannotReport">填寫設備報修申請</b-btn>                    
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 取消訂單Modal -->
    <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold text-danger" id="exampleModalLabel">取消租借</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label class="col-form-label">訂單編號</label>
                            <input type="text" class="form-control" :value="currentOrder.orderSn" readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="col-form-label">設備名稱</label>
                            <input type="text" class="form-control" :value="currentOrder.equipmentName" readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="col-form-label">設備序號</label>
                            <input type="text" class="form-control" :value="currentOrder.equipmentSn" readonly>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label class="col-form-label">數量</label>
                            <input type="text" class="form-control" :value="currentOrder.quantity" readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="col-form-label">取貨日期</label>
                            <input type="text" class="form-control" :value="currentOrder.estimatedPickupTime | timeString('YYYY-MM-DD')" readonly>
                        </div>
                        <div class="form-group col-md-2">
                            <label class="col-form-label">租借天數</label>
                            <input type="text" class="form-control" :value="currentOrder.day" readonly>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="col-form-label">總金額</label>
                            <input type="text" class="form-control" :value="currentOrder.day * currentOrder.unitPrice * currentOrder.quantity" readonly>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label class="col-form-label">取消原因</label>
                            <input type="text" class="form-control" v-model="cancelOrder.cancelDiscription" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <b-btn type="button" class="btn btn-primary" @@click="cancelConfirm($event)" :disabled="cannotCancel">確定</b-btn>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- TODO 確認金額Modal -->
    <div class="modal fade" id="confirmAmountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">確認金額</h5>
                </div>
                <form method="post" action="https://ccore.newebpay.com/MPG/mpg_gateway">
                    <div class="modal-body">
                        @* 這四個值要送給藍新，但不用顯示給 User 看 *@
                        <input type="text"
                               name="MerchantID"
                               :value="mpgInfo.merchantID"
                               hidden
                               readonly
                               required />
                        <input type="text"
                               name="TradeInfo"
                               :value="mpgInfo.tradeInfo"
                               hidden
                               readonly
                               required />
                        <input type="text"
                               name="TradeSha"
                               :value="mpgInfo.tradeSha"
                               hidden
                               readonly
                               required />
                        <input type="text"
                               name="Version"
                               :value="mpgInfo.version"
                               hidden
                               readonly
                               required />
                        <div class="form-group">
                            <label>請確認應付金額是否正確</label>
                            @* 顯示用的 Input，這個值不會送給藍新，故不給 name*@
                            <input type="number"
                                   class="form-control"
                                   :value="mpgInfo.totalPrice"
                                   readonly />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal"
                                @@click="clearMpgInfo">
                            返回
                        </button>
                        <button type="submit"
                                class="btn btn-primary"
                                :disabled="isLoadingTradeInfo">
                            確定
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>


<script>
    Vue.filter('timeString', function (value, myFormat) {
        return moment(value).format(myFormat || 'YYYY-MM-DD, HH:mm:ss');
    });
    var app = new Vue({

        el: '#app',
        data: {
            orders: [],
            orders_0: [],
            orders_1: [],
            orders_2: [],
            orders_3: [],
            orders_4: [],
            orders_5: [],
            currentOrder: {
                

            },
            cancelOrder: {
                cancelDiscription: ""

            },

            reportOrder: {
                reportItemSn: "",
                reportOrderDetailId: "",
                reportItemList: []

            },
            reportUrl: "",
            selected: [],
            selectAll: false,
            totalPrice: [0],
            cashTotalPrice: 0,
            opened: [],
            mpgInfo: {
                merchantID: "",
                tradeInfo: "",
                tradeSha: "",
                version: "",
                totalPrice: 0
            }

        },

        created() {

            let url = '/OrderApi/GetOrders';
            let request = {
                method: "GET",
                headers: { "content-type": "application/json" }
            };
            fetch(url, request)
                .then(response => {
                    if (response.ok) {
                        console.log("資料庫連線成功");
                        return response.json();

                    } else {
                        console.log("資料擷取失敗");
                    }
                }).then(response => {

                    this.orders = response;
                    this.orders_0 = this.orders.filter(od => od.tabName === "待核可");
   
                }).catch(error => {
                    alert("資料庫連線失敗");
                    console.log(error);
                })


        },


        methods: {
            loadData_tab1: function () {

                this.orders_1 = this.orders.filter(od => od.tabName === "待付款");

            },
            loadData_tab2: function () {

                this.orders_2 = this.orders.filter(od => od.tabName === "待領取");

            },
            loadData_tab3: function () {

                this.orders_3 = this.orders.filter(od => od.tabName === "租借中");

            },

            loadData_tab4: function () {

                this.orders_4 = this.orders.filter(od => od.tabName === "已結束");

            },

            loadData_tab5: function () {

                this.orders_5 = this.orders.filter(od => od.tabName === "已逾期");

            },

            cancelOrderAction: function (orderData) {
                this.currentOrder = orderData;

            },

            cancelConfirm: function () {
  
                let requestData = {
                    orderID: this.currentOrder.orderId,
                    description: this.cancelOrder.cancelDiscription
                };
                let url = "/OrderApi/CancelOrder";
                let request = {
                    body: JSON.stringify(requestData),
                    method: "POST",
                    headers: {
                        "content-type": "application/json"
                    }
                }
                fetch(url, request)
                    .then(r => {
                        if (r.ok) {
                            alert("取消成功");
                            location.reload(true);

                        } else {
                            alert("資料有誤");
                        }
                    })
                    .catch(error => {

                        alert("取消失敗");
                        console.log(error);
                    })
            },

            reportAction: function (orderData) {

                this.currentOrder = orderData;
                if (this.reportOrder.reportItemList.length == 0) {
                this.currentOrder.orderDetails.forEach(od => {

                    if (od.orderDetailStatusId == "T") {

                        this.reportOrder.reportItemList.push(od.itemSn);

                    }

                })
                }
            },

            selectReportItem: function (orderDetailData) {
                this.reportOrder.reportOrderDetailId = orderDetailData[0].orderDetailId;
                this.reportUrl = '/orderreport?orderDetailId=' + this.reportOrder.reportOrderDetailId + '&ename='
                    + this.currentOrder.equipmentName + "&esn=" + this.currentOrder.equipmentSn + "&itemsn=" + this.reportOrder.reportItemSn
            },

            selectAllAction: function () {
                this.selected = [];
                if (!this.selectAll) {
                    for (let i = 0; i < this.orders_1.length; i++) {
                        this.selected.push(this.orders_1[i]);
                    }

                }
            },

            confirmAmount: async function () {

                let requestData = {
                    isRentalFee: true,
                    orderIDs: []
                };
                this.selected.forEach(order => {
                    requestData.orderIDs.push(order.orderId)
                });

                let response = await fetch("/api/payment", {
                    method: "POST",
                    headers: {
                        "content-type": "application/json"
                    },
                    body: JSON.stringify(requestData)
                })

                if (!response.ok) {
                    alert(response.text());
                    return;
                }

                this.mpgInfo = await response.json()
            },

            toggle: function (orderId) {

                let index = this.opened.indexOf(orderId);
                if (index > -1) {
                    this.opened.splice(index, 1)
                } else {
                    this.opened = []
                    this.opened.push(orderId)
                }
            },
            clearMpgInfo: function () {
                let info = this.mpgInfo;
                info.merchantId = "";
                info.tradeInfo = "";
                info.tradeSha = "";
                info.version = "";
            }
        },

        computed: {
            countTotalPrice() {
                this.cashTotalPrice = 0
                this.totalPrice = [0]
                this.selected.forEach(order => {

                    var orderPrice = order.unitPrice * order.quantity * order.day;
                    this.totalPrice.push(orderPrice);
                })

                var reducer = (accumulator, currentValue) => accumulator + currentValue;
                return this.cashTotalPrice = this.totalPrice.reduce(reducer);

            },

            isLoadingTradeInfo() {
                return this.mpgInfo.merchantID === "" ||
                    this.mpgInfo.tradeInfo === "" ||
                    this.mpgInfo.tradeSha === "" ||
                    this.mpgInfo.version === "";
            },

            noItemSelected() {
                return this.selected.length <= 0;
            },

            cannotCancel() {
                return this.cancelOrder.cancelDiscription==""

            },

            cannotReport() {

                return this.reportOrder.reportItemSn ==""

            }
        }
    })

</script> 