
<div id="order">

    <div class="card">
        <div class="card-body">設備名稱:   {{equips.equipmentName}}</div>
    </div>
    <br />
    <div class="card">
        <div class="card-body">尚有庫存:   {{equips.quantityInStock}}個</div>
    </div>

    <div>
        <label>租借數量: </label>
        <b-input-group>
            <b-input-group-prepend>
                <b-button v-on:click="btnMinus()" variant="outline-secondary">-</b-button>
            </b-input-group-prepend>
            <b-form-input type="text" value="0" v-model="count"></b-form-input>
            <b-input-group-append>
                <b-button v-on:click="btnAdd()" variant="outline-secondary">+</b-button>
            </b-input-group-append>
            <b-input-group>


    </div>
    <br />
    <div>
        <label for="example-datepicker">選取租借日期</label>
        <b-form-datepicker id="example-datepicker" v-model="orderDate" class="mb-2"></b-form-datepicker>
    </div>

    <p>租借天數</p>
    <div class="input-group mb-3">
        <select class="custom-select" id="inputGroupSelect02" v-model="orderDays">
            <option selected>選擇</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
        </select>
        <div class="input-group-append">
            <label class="input-group-text" for="inputGroupSelect02">天</label>
        </div>
    </div>

    <div>
        <br />
        <b-button variant ="primary" v-on:click="btnOrder">送出</b-button>
</div>

</div>



<script>
    var order = new Vue({
        el: '#order',
        data: {
            count: 0,
            equips: {},
            orderDate: "",
            orderDays:""

        },

        beforeCreate() {
            fetch('/Equipapi/GetEquipById/22', { method: 'GET' })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    }
                })
                .then(response => {
                    this.equips = response;
                });

        },
        

        methods: {
            btnMinus: function (count) {
                if (this.count <= 1) {
                    alert('請輸入正確數量')
                } else {
                    this.count--
                }
            },
            btnAdd: function (count) {
                if (this.count >= this.equips.quantityInStock) {

                    alert('庫存不足')

                } else {

                    this.count++
                }
            },


            btnOrder: function (data) {
                console.log(this.orderDate);
                
                let url = "/OrderApi/MakeOrder/";
                let request = {
                    body: JSON.stringify(data),
                    method: "POST",
                    headers: {
                        "content-type": "application/json"
                    }
                }
                fetch(url, request)
                    .then(r => {
                        if (r.ok) {
                            console.log("連線成功");
                            return r.json();
                        }
                        console.log("連線失敗");
                    })
                    .then(r => {
                        console.log(this.count);
                        console.log(this.orderDate);
                        console.log(this.orderDays)
                        console.log(this.equips)
                        console.log("送出成功")
                    })
                    .catch(error => console.log(error))
            }

            
        }


    })



</script>   
