<div id="app">
    <label>姓名</label>
    <input v-if="edit" v-model="name" />
    <div v-else="edit">{{name}}</div>
    <button v-if="edit" v-on:click="confirmbtn">確定</button>
    <button v-else="edit" v-on:click="editbtn">編輯</button>
</div>

<script>
new Vue({
  el: '#app',
  data: {
    edit: true,
    name: ""
  },

	methods:{
	confirmbtn:function(){
	this.edit=false;
	},
	editbtn:function(){
	this.edit=true;

	}




	}
})
</script>